DevOps/force-app/main/default/flows/Assessment_CAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_First_CAT_ID</name>
        <label>Assign First CAT ID</label>
        <locationX>732</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CATId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_First_CAT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_CAT_ID</name>
        <label>Assign Second CAT ID</label>
        <locationX>1128</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CATId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Second_CAT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Satisfaction_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnd</name>
        <label>AssignEnd</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ReviewType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentPhase</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Scores</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Client</name>
        <choiceText>SCORE directly - client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDCLIENT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Joint</name>
        <choiceText>SCORE directly - joint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDJOINT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Practitioner</name>
        <choiceText>SCORE directly - practitioner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDPRACTITIONER</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupportPerson</name>
        <choiceText>SCORE directly - support person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDSUPPPERSON</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Scores</name>
        <label>Check Scores</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Scores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Exist</defaultConnectorLabel>
        <rules>
            <name>Start_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Scores.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEnd</targetReference>
            </connector>
            <label>Start Exists</label>
        </rules>
        <rules>
            <name>End_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Scores.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CATS_Completed</targetReference>
            </connector>
            <label>End Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Case_Check</name>
        <label>Closed Case Check</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Scores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Case</defaultConnectorLabel>
        <rules>
            <name>Closed_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClosedCaseScreen</targetReference>
            </connector>
            <label>Closed Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cultural_Survey</name>
        <label>Cultural Survey?</label>
        <locationX>732</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Satisfaction_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cultural</defaultConnectorLabel>
        <rules>
            <name>Complete_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_family_identify_as_First_Nations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cultural_Survey</targetReference>
            </connector>
            <label>Complete Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Create_Satisfaction_Score</name>
        <label>Decision Create Satisfaction Score?</label>
        <locationX>930</locationX>
        <locationY>3062</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_complete_the_Satisfaction_Score</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Satisfaction_Score</targetReference>
            </connector>
            <label>Yes, Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Satisfaction_Score</name>
        <label>Decision Satisfaction Score?</label>
        <locationX>1128</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Get_CAT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_complete_the_Satisfaction_Score</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Satisfaction_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_or_Second_CAT</name>
        <label>First or Second CAT?</label>
        <locationX>930</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>CAT_Second_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Second</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CATs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAT_First_Assessment</targetReference>
            </connector>
            <label>First</label>
        </rules>
    </decisions>
    <description>Added Status__c field to Create Session element to set Status__c to Completed (without the status being set to Completed the session will NOT sync to DEX)</description>
    <dynamicChoiceSets>
        <name>Choice_CATValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CAT_I_am_happy_with_my_childrens_attend__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_SatisfactionHelped</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Situation_Improved__c</picklistField>
        <picklistObject>Client_Session_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_SatisfactionListened</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Listened__c</picklistField>
        <picklistObject>Client_Session_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_SatisfactionSatisfied</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Received__c</picklistField>
        <picklistObject>Client_Session_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklist_Standard5</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provided_culturally_safe_support__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_CommunityParticipation</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_feel_connected_to_my_community__c}, &quot;Strongly disagree&quot;), &quot;COMMUNITY1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_connected_to_my_community__c}, &quot;Disagree&quot;), &quot;COMMUNITY2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_connected_to_my_community__c}, &quot;Undecided&quot;), &quot;COMMUNITY3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_connected_to_my_community__c}, &quot;Agree&quot;), &quot;COMMUNITY4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_connected_to_my_community__c}, &quot;Strongly agree&quot;), &quot;COMMUNITY5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_EducationandTraining</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_am_happy_with_my_current_level_of__c}, &quot;Strongly disagree&quot;), &quot;TRAINING1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_happy_with_my_current_level_of__c}, &quot;Disagree&quot;), &quot;TRAINING2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_happy_with_my_current_level_of__c}, &quot;Undecided&quot;), &quot;TRAINING3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_happy_with_my_current_level_of__c}, &quot;Agree&quot;), &quot;TRAINING4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_happy_with_my_current_level_of__c}, &quot;Strongly agree&quot;), &quot;TRAINING5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_Employment</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_am_employed_in_suitable_work__c}, &quot;Strongly disagree&quot;), &quot;EMPLOYMENT1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_employed_in_suitable_work__c}, &quot;Disagree&quot;), &quot;EMPLOYMENT2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_employed_in_suitable_work__c}, &quot;Undecided&quot;), &quot;EMPLOYMENT3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_employed_in_suitable_work__c}, &quot;Agree&quot;), &quot;EMPLOYMENT4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_employed_in_suitable_work__c}, &quot;Strongly agree&quot;), &quot;EMPLOYMENT5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_Empowerment</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_making_decisions__c}, &quot;Strongly disagree&quot;), &quot;CONFIDENCE1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_making_decisions__c}, &quot;Disagree&quot;), &quot;CONFIDENCE2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_making_decisions__c}, &quot;Undecided&quot;), &quot;CONFIDENCE3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_making_decisions__c}, &quot;Agree&quot;), &quot;CONFIDENCE4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_making_decisions__c}, &quot;Strongly agree&quot;), &quot;CONFIDENCE5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_Engagement</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_talking_with_ser__c}, &quot;Strongly disagree&quot;), &quot;ENGAGEMENT1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_talking_with_ser__c}, &quot;Disagree&quot;), &quot;ENGAGEMENT2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_talking_with_ser__c}, &quot;Undecided&quot;), &quot;ENGAGEMENT3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_talking_with_ser__c}, &quot;Agree&quot;), &quot;ENGAGEMENT4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_feel_confident_in_talking_with_ser__c}, &quot;Strongly agree&quot;), &quot;ENGAGEMENT5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_FamilyFunctioning</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_My_family_generally_gets_along_with__c}, &quot;Strongly disagree&quot;), &quot;FAMILY1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_generally_gets_along_with__c}, &quot;Disagree&quot;), &quot;FAMILY2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_generally_gets_along_with__c}, &quot;Undecided&quot;), &quot;FAMILY3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_generally_gets_along_with__c}, &quot;Agree&quot;), &quot;FAMILY4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_generally_gets_along_with__c}, &quot;Strongly agree&quot;), &quot;FAMILY5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_Housing</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_My_familys_home_is_appropriate_suit__c}, &quot;Strongly disagree&quot;), &quot;HOUSING1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_familys_home_is_appropriate_suit__c}, &quot;Disagree&quot;), &quot;HOUSING2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_familys_home_is_appropriate_suit__c}, &quot;Undecided&quot;), &quot;HOUSING3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_familys_home_is_appropriate_suit__c}, &quot;Agree&quot;), &quot;HOUSING4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_familys_home_is_appropriate_suit__c}, &quot;Strongly agree&quot;), &quot;HOUSING5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_Knowledge</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_know_about_the_services_that_can_p__c}, &quot;Strongly disagree&quot;), &quot;KNOWLEDGE1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_know_about_the_services_that_can_p__c}, &quot;Disagree&quot;), &quot;KNOWLEDGE2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_know_about_the_services_that_can_p__c}, &quot;Undecided&quot;), &quot;KNOWLEDGE3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_know_about_the_services_that_can_p__c}, &quot;Agree&quot;), &quot;KNOWLEDGE4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_know_about_the_services_that_can_p__c}, &quot;Strongly agree&quot;), &quot;KNOWLEDGE5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_MaterialWellbeing</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_can_afford_the_things_I_need_for_m__c}, &quot;Strongly disagree&quot;), &quot;MATERIAL1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_can_afford_the_things_I_need_for_m__c}, &quot;Disagree&quot;), &quot;MATERIAL2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_can_afford_the_things_I_need_for_m__c}, &quot;Undecided&quot;), &quot;MATERIAL3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_can_afford_the_things_I_need_for_m__c}, &quot;Agree&quot;), &quot;MATERIAL4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_can_afford_the_things_I_need_for_m__c}, &quot;Strongly agree&quot;), &quot;MATERIAL5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_MentalHealth</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_generally_feel_good_emotionally__c}, &quot;Strongly disagree&quot;), &quot;MENTAL1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_generally_feel_good_emotionally__c}, &quot;Disagree&quot;), &quot;MENTAL2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_generally_feel_good_emotionally__c}, &quot;Undecided&quot;), &quot;MENTAL3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_generally_feel_good_emotionally__c}, &quot;Agree&quot;), &quot;MENTAL4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_generally_feel_good_emotionally__c}, &quot;Strongly agree&quot;), &quot;MENTAL5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_PersonalandFamily</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_My_family_and_I_feel_safe_at_home__c}, &quot;Strongly disagree&quot;), &quot;PERSONAL1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_and_I_feel_safe_at_home__c}, &quot;Disagree&quot;), &quot;PERSONAL2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_and_I_feel_safe_at_home__c}, &quot;Undecided&quot;), &quot;PERSONAL3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_and_I_feel_safe_at_home__c}, &quot;Agree&quot;), &quot;PERSONAL4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_My_family_and_I_feel_safe_at_home__c}, &quot;Strongly agree&quot;), &quot;PERSONAL5&quot;,NULL)))))</expression>
    </formulas>
    <formulas>
        <name>Formula_PhysicalHealth</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_CAT.CAT_I_am_generally_in_good_physical_heal__c}, &quot;Strongly disagree&quot;), &quot;PHYSICAL1&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_generally_in_good_physical_heal__c}, &quot;Disagree&quot;), &quot;PHYSICAL2&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_generally_in_good_physical_heal__c}, &quot;Undecided&quot;), &quot;PHYSICAL3&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_generally_in_good_physical_heal__c}, &quot;Agree&quot;), &quot;PHYSICAL4&quot;,
IF(ISPICKVAL({!Get_CAT.CAT_I_am_generally_in_good_physical_heal__c}, &quot;Strongly agree&quot;), &quot;PHYSICAL5&quot;,NULL)))))</expression>
    </formulas>
    <interviewLabel>CAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: CAT</label>
    <loops>
        <name>Loop_Through_Scores</name>
        <label>Loop Through Scores</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Scores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Scores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assessment_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Circumstances_Score</name>
        <label>Create Circumstances Score</label>
        <locationX>930</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Circumstances_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessed__c</field>
            <value>
                <elementReference>Who_is_filling_in_this_Assessment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Phase__c</field>
            <value>
                <elementReference>AssessmentPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Participation__c</field>
            <value>
                <elementReference>Formula_CommunityParticipation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_and_Skills_Training__c</field>
            <value>
                <elementReference>Formula_EducationandTraining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment__c</field>
            <value>
                <elementReference>Formula_Employment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Functioning__c</field>
            <value>
                <elementReference>Formula_FamilyFunctioning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Housing__c</field>
            <value>
                <elementReference>Formula_Housing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material_well_being__c</field>
            <value>
                <elementReference>Formula_MaterialWellbeing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_Health__c</field>
            <value>
                <elementReference>Formula_MentalHealth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_and_Family_Safety__c</field>
            <value>
                <elementReference>Formula_PersonalandFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Health__c</field>
            <value>
                <elementReference>Formula_PhysicalHealth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124a0000004KvMAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Type__c</field>
            <value>
                <elementReference>ReviewType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Participant__c</field>
            <value>
                <elementReference>Create_Session_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Session_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cultural_Survey</name>
        <label>Create Cultural Survey</label>
        <locationX>600</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>Satisfaction_Cultural_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Completed__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provided_culturally_safe_support__c</field>
            <value>
                <elementReference>Through_your_time_with_FCS_did_you_feel_that_you_were_provided_culturally_safe_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_engage_with_FCS_in_the_future__c</field>
            <value>
                <elementReference>Do_you_feel_that_you_would_re_engage_with_FCS_in_the_future_or_refer_your_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Bn000001IOGDIA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_First_CAT</name>
        <label>Create First CAT</label>
        <locationX>732</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Assign_First_CAT_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_Drinking_alcohol_is_not_a_problem_fo__c</field>
            <value>
                <elementReference>Drinking_alcohol_is_not_a_problem_for_me_or_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_Drug_use_is_not_a_problem_for_me_or__c</field>
            <value>
                <elementReference>Drug_use_is_not_a_problem_for_me_or_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_employed_in_suitable_work__c</field>
            <value>
                <elementReference>I_am_employed_in_suitable_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_generally_in_good_physical_heal__c</field>
            <value>
                <elementReference>I_am_generally_in_good_physical_health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_happy_with_my_childrens_attend__c</field>
            <value>
                <elementReference>I_am_happy_with_my_children_s_attendance_and_engagement_with_school</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_happy_with_my_current_level_of__c</field>
            <value>
                <elementReference>I_am_happy_with_my_current_level_of_education_training</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_can_afford_the_things_I_need_for_m__c</field>
            <value>
                <elementReference>I_can_afford_the_things_I_need_for_myself_and_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_can_prepare_healthy_meals_for_myse__c</field>
            <value>
                <elementReference>I_can_prepare_healthy_meals_for_myself_and_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_confident_in_making_decisions__c</field>
            <value>
                <elementReference>I_feel_confident_in_making_decisions_for_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_confident_in_managing_my_chil__c</field>
            <value>
                <elementReference>I_feel_confident_in_managing_my_child_s_behaviour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_confident_in_talking_with_ser__c</field>
            <value>
                <elementReference>I_feel_confident_in_talking_with_services_to_seek_support_for_myself_and_my_fami</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_connected_to_my_community__c</field>
            <value>
                <elementReference>I_feel_connected_to_my_community</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_generally_feel_good_emotionally__c</field>
            <value>
                <elementReference>I_generally_feel_good_emotionally</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_a_clear_sense_of_what_my_cult__c</field>
            <value>
                <elementReference>I_have_a_clear_sense_of_what_my_culture_means_to_me</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_access_to_healthy_food_for_my__c</field>
            <value>
                <elementReference>I_have_access_to_healthy_food_for_myself_and_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_confidence_in_my_childrens_d__c</field>
            <value>
                <elementReference>I_have_confidence_in_my_children_s_development_or_ability_to_learn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_confidence_in_my_parenting_an__c</field>
            <value>
                <elementReference>I_have_confidence_in_my_parenting_and_caring_skills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_friends_and_people_I_can_coun__c</field>
            <value>
                <elementReference>I_have_friends_and_people_I_can_count_on_outside_of_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_know_about_the_services_that_can_p__c</field>
            <value>
                <elementReference>I_know_about_the_services_that_can_provide_support_for_myself_and_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_are_physically_healthy__c</field>
            <value>
                <elementReference>My_children_are_physically_healthy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_are_usually_happy_and_em__c</field>
            <value>
                <elementReference>My_children_are_usually_happy_and_emotionally_well</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_can_do_most_things_that__c</field>
            <value>
                <elementReference>My_children_can_do_most_things_that_are_expected_for_their_age_and_ability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_cope_well_with_difficult__c</field>
            <value>
                <elementReference>My_children_cope_well_with_difficult_situations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_enjoy_learning_and_devel__c</field>
            <value>
                <elementReference>My_children_enjoy_learning_and_developing_new_skills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_find_it_easy_to_make_and__c</field>
            <value>
                <elementReference>My_children_find_it_easy_to_make_and_maintain_friendships</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_and_I_are_connected_to_our__c</field>
            <value>
                <elementReference>My_family_and_I_are_connected_to_our_culture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_and_I_feel_safe_at_home__c</field>
            <value>
                <elementReference>My_family_and_I_feel_safe_at_home</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_and_I_feel_safe_out_in_the__c</field>
            <value>
                <elementReference>My_family_and_I_feel_safe_out_in_the_community</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_does_not_have_arguments_th__c</field>
            <value>
                <elementReference>My_family_does_not_have_arguments_that_lead_to_aggression_or_physical_abuse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_generally_gets_along_with__c</field>
            <value>
                <elementReference>My_family_generally_gets_along_with_each_other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_familys_home_is_appropriate_suit__c</field>
            <value>
                <elementReference>My_family_s_home_is_appropriate_suitable_for_our_needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_familys_home_is_stable__c</field>
            <value>
                <elementReference>My_family_s_home_is_stable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RF000002eIZlYAM</stringValue>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Goals_Score</name>
        <label>Create Goals Score</label>
        <locationX>930</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Goals_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessed__c</field>
            <value>
                <elementReference>Who_is_filling_in_this_Assessment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Phase__c</field>
            <value>
                <elementReference>AssessmentPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Changed_Knowledge__c</field>
            <value>
                <elementReference>Formula_Knowledge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empowerment__c</field>
            <value>
                <elementReference>Formula_Empowerment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>Formula_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124a0000004KvNAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Type__c</field>
            <value>
                <elementReference>ReviewType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Participant__c</field>
            <value>
                <elementReference>Create_Session_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Session_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Satisfaction_Score</name>
        <label>Create Satisfaction Score</label>
        <locationX>732</locationX>
        <locationY>3170</locationY>
        <connector>
            <targetReference>Cultural_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessed__c</field>
            <value>
                <elementReference>Who_is_filling_in_this_Assessment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Phase__c</field>
            <value>
                <elementReference>AssessmentPhase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124a0000004KvPAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Listened__c</field>
            <value>
                <elementReference>ListenedUnderstood</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Received__c</field>
            <value>
                <elementReference>Satisfied</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Participant__c</field>
            <value>
                <elementReference>Create_Session_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situation_Improved__c</field>
            <value>
                <elementReference>Helped</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_Could_We_Do_Better__c</field>
            <value>
                <elementReference>Would_you_like_to_tell_us_what_we_did_well_and_or_what_we_could_do_better</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Session_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Second_CAT</name>
        <label>Create Second CAT</label>
        <locationX>1128</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Assign_Second_CAT_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_Drinking_alcohol_is_not_a_problem_fo__c</field>
            <value>
                <elementReference>Drinking_alcohol_is_not_a_problem_for_me_or_my_family_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_Drug_use_is_not_a_problem_for_me_or__c</field>
            <value>
                <elementReference>Drug_use_is_not_a_problem_for_me_or_my_family_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_employed_in_suitable_work__c</field>
            <value>
                <elementReference>I_am_employed_in_suitable_work_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_generally_in_good_physical_heal__c</field>
            <value>
                <elementReference>I_am_generally_in_good_physical_health_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_happy_with_my_childrens_attend__c</field>
            <value>
                <elementReference>I_am_happy_with_my_children_s_attendance_and_engagement_with_school_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_am_happy_with_my_current_level_of__c</field>
            <value>
                <elementReference>I_am_happy_with_my_current_level_of_education_training_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_can_afford_the_things_I_need_for_m__c</field>
            <value>
                <elementReference>I_can_afford_the_things_I_need_for_myself_and_my_family_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_can_prepare_healthy_meals_for_myse__c</field>
            <value>
                <elementReference>I_can_prepare_healthy_meals_for_myself_and_my_family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_confident_in_making_decisions__c</field>
            <value>
                <elementReference>I_feel_confident_in_making_decisions_for_my_family_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_confident_in_managing_my_chil__c</field>
            <value>
                <elementReference>I_feel_confident_in_managing_my_child_s_behaviour_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_confident_in_talking_with_ser__c</field>
            <value>
                <elementReference>I_feel_confident_in_talking_with_services_to_seek_support_for_myself_a_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_feel_connected_to_my_community__c</field>
            <value>
                <elementReference>I_feel_connected_to_my_community_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_generally_feel_good_emotionally__c</field>
            <value>
                <elementReference>I_generally_feel_good_emotionally_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_a_clear_sense_of_what_my_cult__c</field>
            <value>
                <elementReference>I_have_a_clear_sense_of_what_my_culture_means_to_me_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_access_to_healthy_food_for_my__c</field>
            <value>
                <elementReference>I_have_access_to_healthy_food_for_myself_and_my_family_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_confidence_in_my_childrens_d__c</field>
            <value>
                <elementReference>I_have_confidence_in_my_children_s_development_or_ability_to_learn_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_confidence_in_my_parenting_an__c</field>
            <value>
                <elementReference>I_have_confidence_in_my_parenting_and_caring_skills_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_have_friends_and_people_I_can_coun__c</field>
            <value>
                <elementReference>I_have_friends_and_people_I_can_count_on_outside_of_my_family_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_I_know_about_the_services_that_can_p__c</field>
            <value>
                <elementReference>I_know_about_the_services_that_can_provide_support_for_myself_and_my_f_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_are_physically_healthy__c</field>
            <value>
                <elementReference>My_children_are_physically_healthy_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_are_usually_happy_and_em__c</field>
            <value>
                <elementReference>My_children_are_usually_happy_and_emotionally_well_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_can_do_most_things_that__c</field>
            <value>
                <elementReference>My_children_can_do_most_things_that_are_expected_for_their_age_and_abi_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_cope_well_with_difficult__c</field>
            <value>
                <elementReference>My_children_cope_well_with_difficult_situations_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_enjoy_learning_and_devel__c</field>
            <value>
                <elementReference>My_children_enjoy_learning_and_developing_new_skills_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_children_find_it_easy_to_make_and__c</field>
            <value>
                <elementReference>My_children_find_it_easy_to_make_and_maintain_friendships_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_and_I_are_connected_to_our__c</field>
            <value>
                <elementReference>My_family_and_I_are_connected_to_our_culture_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_and_I_feel_safe_at_home__c</field>
            <value>
                <elementReference>My_family_and_I_feel_safe_at_home_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_and_I_feel_safe_out_in_the__c</field>
            <value>
                <elementReference>My_family_and_I_feel_safe_out_in_the_community_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_does_not_have_arguments_th__c</field>
            <value>
                <elementReference>My_family_does_not_have_arguments_that_lead_to_aggression_or_physical_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_family_generally_gets_along_with__c</field>
            <value>
                <elementReference>My_family_generally_gets_along_with_each_other_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_familys_home_is_appropriate_suit__c</field>
            <value>
                <elementReference>My_family_s_home_is_appropriate_suitable_for_our_needs_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAT_My_familys_home_is_stable__c</field>
            <value>
                <elementReference>My_family_s_home_is_stable_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RF000002eIZlYAM</stringValue>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>930</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Create_Session_Participant</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Hours__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Minutes__c</field>
            <value>
                <stringValue>00</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Common Assessment Tool Session</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HTlAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Setting__c</field>
            <value>
                <stringValue>ORGOUTLETOFFICE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Session_Participant</name>
        <label>Create Session Participant</label>
        <locationX>930</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Session_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendance__c</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HbCAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Role__c</field>
            <value>
                <stringValue>CLIENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <object>Session_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Case_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAT</name>
        <label>Get CAT</label>
        <locationX>930</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CATId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CATs</name>
        <label>Get CATs</label>
        <locationX>930</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_or_Second_CAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RF000002eIZlYAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scores</name>
        <label>Get Scores</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Scores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124a0000004KvMAAU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Session_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assessment_Details</name>
        <label>Assessment Details</label>
        <locationX>930</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CATs</targetReference>
        </connector>
        <fields>
            <name>Assessment_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Assessment Date:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_is_filling_in_this_Assessment</name>
            <choiceReferences>Choice_Client</choiceReferences>
            <choiceReferences>Choice_Practitioner</choiceReferences>
            <choiceReferences>Choice_Joint</choiceReferences>
            <choiceReferences>Choice_SupportPerson</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is filling in this Assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CAT_First_Assessment</name>
        <label>CAT First Assessment</label>
        <locationX>732</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_First_CAT</targetReference>
        </connector>
        <fields>
            <name>Social_and_Community</name>
            <fieldText>Social and Community</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Social_and_Community_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_family_and_I_are_connected_to_our_culture</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My family and I are connected to our culture</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_have_a_clear_sense_of_what_my_culture_means_to_me</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I have a clear sense of what my culture means to me</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_feel_connected_to_my_community</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I feel connected to my community</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Family_Relationships</name>
            <fieldText>Family Relationships</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Family_Relationships_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_have_confidence_in_my_parenting_and_caring_skills</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I have confidence in my parenting and caring skills</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_family_generally_gets_along_with_each_other</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My family generally gets along with each other</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>I_have_friends_and_people_I_can_count_on_outside_of_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I have friends and people I can count on outside of my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_children_find_it_easy_to_make_and_maintain_friendships</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My children find it easy to make and maintain friendships</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Health</name>
            <fieldText>Health</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Health_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_children_are_physically_healthy</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My children are physically healthy</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_children_are_usually_happy_and_emotionally_well</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My children are usually happy and emotionally well</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_children_can_do_most_things_that_are_expected_for_their_age_and_ability</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My children can do most things that are expected for their age and ability</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_children_cope_well_with_difficult_situations</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My children cope well with difficult situations</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_feel_confident_in_managing_my_child_s_behaviour</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I feel confident in managing my child&apos;s behaviour</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_am_generally_in_good_physical_health</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I am generally in good physical health</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>I_generally_feel_good_emotionally</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I generally feel good emotionally</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Drinking_alcohol_is_not_a_problem_for_me_or_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>Drinking alcohol is not a problem for me or my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Drug_use_is_not_a_problem_for_me_or_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>Drug use is not a problem for me or my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Home</name>
            <fieldText>Home</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_family_s_home_is_stable</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My familys home is stable</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_family_s_home_is_appropriate_suitable_for_our_needs</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My familys home is appropriate/suitable for our needs</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Safety</name>
            <fieldText>Safety</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Safety_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_family_and_I_feel_safe_at_home</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My family and I feel safe at home</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>My_family_and_I_feel_safe_out_in_the_community</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My family and I feel safe out in the community</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>My_family_does_not_have_arguments_that_lead_to_aggression_or_physical_abuse</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My family does not have arguments that lead to aggression or physical abuse</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Economic</name>
            <fieldText>Economic</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Economic_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_can_afford_the_things_I_need_for_myself_and_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I can afford the things I need for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>I_am_employed_in_suitable_work</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I am employed in suitable work</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>I_have_access_to_healthy_food_for_myself_and_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I have access to healthy food for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_can_prepare_healthy_meals_for_myself_and_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I can prepare healthy meals for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Education_and_Skills</name>
            <fieldText>Education and Skills</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Education_and_Skills_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_happy_with_my_current_level_of_education_training</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I am happy with my current level of education / training</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>My_children_enjoy_learning_and_developing_new_skills</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>My children enjoy learning and developing new skills</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_am_happy_with_my_children_s_attendance_and_engagement_with_school</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I am happy with my childrens attendance and engagement with school</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_have_confidence_in_my_children_s_development_or_ability_to_learn</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I have confidence in my childrens development or ability to learn</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Empowerment</name>
            <fieldText>Empowerment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Empowerment_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_feel_confident_in_making_decisions_for_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I feel confident in making decisions for my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>I_know_about_the_services_that_can_provide_support_for_myself_and_my_family</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I know about the services that can provide support for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>I_feel_confident_in_talking_with_services_to_seek_support_for_myself_and_my_fami</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Applicable</stringValue>
                    </defaultValue>
                    <fieldText>I feel confident in talking with services to seek support for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CAT_Second_Assessment</name>
        <label>CAT Second Assessment</label>
        <locationX>1128</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Second_CAT</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Social_and_Community</name>
            <fieldText>Social and Community</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Social_and_Community_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_family_and_I_are_connected_to_our_culture_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_family_and_I_are_connected_to_our__c</elementReference>
                    </defaultValue>
                    <fieldText>My family and I are connected to our culture</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_family_and_I_are_connected_to_our__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_have_a_clear_sense_of_what_my_culture_means_to_me_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_have_a_clear_sense_of_what_my_cult__c</elementReference>
                    </defaultValue>
                    <fieldText>I have a clear sense of what my culture means to me</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_have_a_clear_sense_of_what_my_cult__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_feel_connected_to_my_community_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_feel_connected_to_my_community__c</elementReference>
                    </defaultValue>
                    <fieldText>I feel connected to my community</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_feel_connected_to_my_community__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Family_Relationships</name>
            <fieldText>Family Relationships</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Family_Relationships_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_have_confidence_in_my_parenting_and_caring_skills_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_have_confidence_in_my_parenting_an__c</elementReference>
                    </defaultValue>
                    <fieldText>I have confidence in my parenting and caring skills</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_have_confidence_in_my_parenting_an__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_family_generally_gets_along_with_each_other_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_family_generally_gets_along_with__c</elementReference>
                    </defaultValue>
                    <fieldText>My family generally gets along with each other</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_family_generally_gets_along_with__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_have_friends_and_people_I_can_count_on_outside_of_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_have_friends_and_people_I_can_coun__c</elementReference>
                    </defaultValue>
                    <fieldText>I have friends and people I can count on outside of my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_have_friends_and_people_I_can_coun__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_children_find_it_easy_to_make_and_maintain_friendships_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_children_find_it_easy_to_make_and__c</elementReference>
                    </defaultValue>
                    <fieldText>My children find it easy to make and maintain friendships</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_children_find_it_easy_to_make_and__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Health</name>
            <fieldText>Health</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Health_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_children_are_physically_healthy_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_children_are_physically_healthy__c</elementReference>
                    </defaultValue>
                    <fieldText>My children are physically healthy</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_children_are_physically_healthy__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_children_are_usually_happy_and_emotionally_well_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_children_are_usually_happy_and_em__c</elementReference>
                    </defaultValue>
                    <fieldText>My children are usually happy and emotionally well</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_children_are_usually_happy_and_em__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_children_can_do_most_things_that_are_expected_for_their_age_and_abi_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_children_can_do_most_things_that__c</elementReference>
                    </defaultValue>
                    <fieldText>My children can do most things that are expected for their age and ability</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_children_can_do_most_things_that__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_children_cope_well_with_difficult_situations_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_children_cope_well_with_difficult__c</elementReference>
                    </defaultValue>
                    <fieldText>My children cope well with difficult situations</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_children_cope_well_with_difficult__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_feel_confident_in_managing_my_child_s_behaviour_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_feel_confident_in_managing_my_chil__c</elementReference>
                    </defaultValue>
                    <fieldText>I feel confident in managing my child&apos;s behaviour</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_feel_confident_in_managing_my_chil__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_am_generally_in_good_physical_health_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_am_generally_in_good_physical_heal__c</elementReference>
                    </defaultValue>
                    <fieldText>I am generally in good physical health</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_am_generally_in_good_physical_heal__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_generally_feel_good_emotionally_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_generally_feel_good_emotionally__c</elementReference>
                    </defaultValue>
                    <fieldText>I generally feel good emotionally</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_generally_feel_good_emotionally__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Drinking_alcohol_is_not_a_problem_for_me_or_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_Drinking_alcohol_is_not_a_problem_fo__c</elementReference>
                    </defaultValue>
                    <fieldText>Drinking alcohol is not a problem for me or my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_Drinking_alcohol_is_not_a_problem_fo__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Drug_use_is_not_a_problem_for_me_or_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_Drug_use_is_not_a_problem_for_me_or__c</elementReference>
                    </defaultValue>
                    <fieldText>Drug use is not a problem for me or my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_Drug_use_is_not_a_problem_for_me_or__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Home</name>
            <fieldText>Home</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Home_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_family_s_home_is_stable_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_familys_home_is_stable__c</elementReference>
                    </defaultValue>
                    <fieldText>My familys home is stable</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_familys_home_is_stable__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_family_s_home_is_appropriate_suitable_for_our_needs_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_familys_home_is_appropriate_suit__c</elementReference>
                    </defaultValue>
                    <fieldText>My familys home is appropriate/suitable for our needs</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_familys_home_is_appropriate_suit__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Safety</name>
            <fieldText>Safety</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Safety_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>My_family_and_I_feel_safe_at_home_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_family_and_I_feel_safe_at_home__c</elementReference>
                    </defaultValue>
                    <fieldText>My family and I feel safe at home</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_family_and_I_feel_safe_at_home__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_family_and_I_feel_safe_out_in_the_community_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_family_and_I_feel_safe_out_in_the__c</elementReference>
                    </defaultValue>
                    <fieldText>My family and I feel safe out in the community</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_family_and_I_feel_safe_out_in_the__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_family_does_not_have_arguments_that_lead_to_aggression_or_physical_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_family_does_not_have_arguments_th__c</elementReference>
                    </defaultValue>
                    <fieldText>My family does not have arguments that lead to aggression or physical abuse</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_family_does_not_have_arguments_th__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Economic</name>
            <fieldText>Economic</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Economic_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_can_afford_the_things_I_need_for_myself_and_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_can_afford_the_things_I_need_for_m__c</elementReference>
                    </defaultValue>
                    <fieldText>I can afford the things I need for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_can_afford_the_things_I_need_for_m__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_am_employed_in_suitable_work_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_am_employed_in_suitable_work__c</elementReference>
                    </defaultValue>
                    <fieldText>I am employed in suitable work</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_am_employed_in_suitable_work__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_have_access_to_healthy_food_for_myself_and_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_have_access_to_healthy_food_for_my__c</elementReference>
                    </defaultValue>
                    <fieldText>I have access to healthy food for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_have_access_to_healthy_food_for_my__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_can_prepare_healthy_meals_for_myself_and_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_can_prepare_healthy_meals_for_myse__c</elementReference>
                    </defaultValue>
                    <fieldText>I can prepare healthy meals for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_can_prepare_healthy_meals_for_myse__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Education_and_Skills</name>
            <fieldText>Education and Skills</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Education_and_Skills_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_happy_with_my_current_level_of_education_training_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_am_happy_with_my_current_level_of__c</elementReference>
                    </defaultValue>
                    <fieldText>I am happy with my current level of education / training</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_am_happy_with_my_current_level_of__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>My_children_enjoy_learning_and_developing_new_skills_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_My_children_enjoy_learning_and_devel__c</elementReference>
                    </defaultValue>
                    <fieldText>My children enjoy learning and developing new skills</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_My_children_enjoy_learning_and_devel__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_am_happy_with_my_children_s_attendance_and_engagement_with_school_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_am_happy_with_my_childrens_attend__c</elementReference>
                    </defaultValue>
                    <fieldText>I am happy with my childrens attendance and engagement with school</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_am_happy_with_my_childrens_attend__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_have_confidence_in_my_children_s_development_or_ability_to_learn_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_have_confidence_in_my_childrens_d__c</elementReference>
                    </defaultValue>
                    <fieldText>I have confidence in my childrens development or ability to learn</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_have_confidence_in_my_childrens_d__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Empowerment</name>
            <fieldText>Empowerment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Empowerment_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_feel_confident_in_making_decisions_for_my_family_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_feel_confident_in_making_decisions__c</elementReference>
                    </defaultValue>
                    <fieldText>I feel confident in making decisions for my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_feel_confident_in_making_decisions__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_know_about_the_services_that_can_provide_support_for_myself_and_my_f_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_know_about_the_services_that_can_p__c</elementReference>
                    </defaultValue>
                    <fieldText>I know about the services that can provide support for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_know_about_the_services_that_can_p__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_feel_confident_in_talking_with_services_to_seek_support_for_myself_a_2</name>
                    <choiceReferences>Choice_CATValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_CATs.CAT_I_feel_confident_in_talking_with_ser__c</elementReference>
                    </defaultValue>
                    <fieldText>I feel confident in talking with services to seek support for myself and my family</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_CATs.CAT_I_feel_confident_in_talking_with_ser__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CATS_Completed</name>
        <label>CATS Completed</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CATSCompletedText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Maximum Common Assessment Tool Limit Reached&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A maximum of two Common Assessment Tools can only be created per case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you believe this to be an error, please log a Freshservice ticket with the case number included.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Circumstances_Created</name>
        <label>Circumstances Created</label>
        <locationX>930</locationX>
        <locationY>2738</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Goals_Score</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_SessionCreatedText</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Circumstances Score&lt;/strong&gt; has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Next &lt;/strong&gt;to create the &lt;strong&gt;Goals&lt;/strong&gt; Score.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ClosedCaseScreen</name>
        <label>ClosedCaseScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClosedCaseText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;Case is Closed&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;CATs cannot be created on Closed Cases.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please create this assessment on an Open Case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Satisfaction_Score</name>
        <label>Complete Satisfaction Score?</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Satisfaction_Score</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_complete_the_Satisfaction_Score</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Do you want to complete the Satisfaction Score?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Goals_Created</name>
        <label>Goals Created</label>
        <locationX>930</locationX>
        <locationY>2954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Create_Satisfaction_Score</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_SessionCreatedText</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Goals &lt;/strong&gt;Score has been created. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;strong&gt;Finish &lt;/strong&gt;to be redirected back to the case. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Satisfaction_Created</name>
        <label>Satisfaction Created</label>
        <locationX>864</locationX>
        <locationY>3386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SatisfactionCreatedText</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Satisfaction &lt;/strong&gt;Score has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;strong&gt;Finish &lt;/strong&gt;to be redirected back to the case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Satisfaction_Cultural_Created</name>
        <label>Satisfaction &amp; Cultural Created</label>
        <locationX>600</locationX>
        <locationY>3494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SatisfactionCulturalText</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Satisfaction Score &amp;amp; Cultural Survey&lt;/strong&gt; have been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &lt;strong&gt;Finish &lt;/strong&gt;to be redirected back to the case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Satisfaction_Score</name>
        <label>Satisfaction Score</label>
        <locationX>996</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CAT</targetReference>
        </connector>
        <fields>
            <name>SatisfactionText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Satisfaction:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please answer the below questions:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Does_the_family_identify_as_First_Nations</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Does the family identify as First Nations?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ListenedUnderstood</name>
            <choiceReferences>Choice_SatisfactionListened</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you feel we listened to you and understood your needs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Helped</name>
            <choiceReferences>Choice_SatisfactionHelped</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were we able to help you?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Satisfied</name>
            <choiceReferences>Choice_SatisfactionSatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How satisfied are you with the service provided?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Would_you_like_to_tell_us_what_we_did_well_and_or_what_we_could_do_better</name>
            <fieldText>Would you like to tell us what we did well and/or what we could do better?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Satisfaction_Score_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Satisfaction_Score_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CulturalText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Cultural:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please answer the below questions:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Through_your_time_with_FCS_did_you_feel_that_you_were_provided_culturally_safe_s</name>
                    <choiceReferences>ChoicePicklist_Standard5</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Through your time with FCS, did you feel that you were provided culturally safe support?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Do_you_feel_that_you_would_re_engage_with_FCS_in_the_future_or_refer_your_family</name>
                    <choiceReferences>ChoicePicklist_Standard5</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you feel that you would re-engage with FCS in the future or refer your family and friends?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Additional_Comments</name>
                    <fieldText>Additional Comments:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_the_family_identify_as_First_Nations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Created</name>
        <label>Session Created</label>
        <locationX>930</locationX>
        <locationY>2522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Circumstances_Score</targetReference>
        </connector>
        <fields>
            <name>SessionCreatedText</name>
            <fieldText>&lt;p&gt;The Session and Common Assessment Tool have been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Next &lt;/strong&gt;to finalise the creation of the &lt;strong&gt;Circumstances &lt;/strong&gt;SCORE.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssessmentPhase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PRE</stringValue>
        </value>
    </variables>
    <variables>
        <name>CATId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReviewType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Start</stringValue>
        </value>
    </variables>
</Flow>
