DevOps/force-app/main/default/flows/Assessment_MijungJarjumsKidsinMind.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetAssessmentFields</name>
        <label>SetAssessmentFields</label>
        <locationX>954</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>Assessment.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000JNbAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Who_does_the_child_live_with__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhoIsTheChildOrChildrenLivingWith</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.School_Teacher_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchoolTeacherDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Physical_or_Mental_Medical_Diagnosis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasTheChildHadAMedicalDiagnosisPhysicalOrMentalThatWeShouldKnowAbo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Brief_outline_of_concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BriefOutlineOfConcerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Strengths_positive_attributes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrengthsAndPositiveAttributesOfChildYoungPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Order_Made_for_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasThereBeenAnOrderMadeForTheCareOfTheChildYoungPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Other_Children_at_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AreThereOtherChildrenLivingInTheFamilyHome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Objectives_for_Achievements_or_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhatWouldYouLikeToAchieveOrChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Main_Supports__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhoAreTheMainSupportsInYourFamilyAndCommunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Other_Professional_Service_Assistance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhatOtherProfessionalServicesAreAssistingYourFamily</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Parent_Carer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assessment.Usual_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressWhereTheYoungPersonUsuallyLives.formattedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAssessment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceContactNotFound</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contact Not Found&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <description>Changed to dynamically get Program from Case in case of COI</description>
    <dynamicChoiceSets>
        <name>ChoiceAssessmentRelationshipToChild</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_to_Child__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceOtherAccountContacts</name>
        <dataType>String</dataType>
        <displayField>Fullname__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CaseContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Fullname__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseContactId</name>
        <dataType>String</dataType>
        <expression>{!GetCase.Id}</expression>
    </formulas>
    <interviewLabel>Assessment: MJKIM Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment: Mijung Jarjums Kids in Mind</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAssessment</name>
        <label>CreateAssessment</label>
        <locationX>1078</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>AssessmentCreatedScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Assessment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>390</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DetailsOfChildOrYoungPersonScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AssessmentCreatedScreen</name>
        <label>Assessment Created</label>
        <locationX>1207</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssessmentCreatedText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Mijung Jarjums Kids in Mind&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Assessment Created&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You assessment has now been saved successfully. Please &lt;a href=&quot;/{!Assessment.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt; to view it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DetailsOfChildOrYoungPersonScreen</name>
        <label>Details of Child or Young Person</label>
        <locationX>541</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ParentCarerDetailsScreen</targetReference>
        </connector>
        <fields>
            <name>DetailsOfChildOrYoungPersonText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Mijung Jarjums Kids in Mind&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Address where child usually lives&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressWhereTheYoungPersonUsuallyLives</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Address where the young person usually lives</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HasThereBeenAnOrderMadeForTheCareOfTheChildYoungPerson</name>
            <choiceReferences>ChoiceNo</choiceReferences>
            <choiceReferences>ChoiceYes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has there been an order made for the care of the child / young person?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhoIsTheChildOrChildrenLivingWith</name>
            <dataType>String</dataType>
            <fieldText>Who is the child or children living with?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SchoolTeacherDetails</name>
            <dataType>String</dataType>
            <fieldText>School/Teacher/Details</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>HasTheChildHadAMedicalDiagnosisPhysicalOrMentalThatWeShouldKnowAbo</name>
            <fieldText>Has the child had a medical diagnosis, physical or mental, that we should know about?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿You have exceeded the 255 Character Limit.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!HasTheChildHadAMedicalDiagnosisPhysicalOrMentalThatWeShouldKnowAbo}) &lt;= 255, true, false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BriefOutlineOfConcerns</name>
            <fieldText>Brief outline of concerns</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StrengthsAndPositiveAttributesOfChildYoungPerson</name>
            <fieldText>Strengths and positive attributes of child / young person *</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatWouldYouLikeToAchieveOrChange</name>
            <fieldText>What would you like to achieve or change?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhoAreTheMainSupportsInYourFamilyAndCommunity</name>
            <fieldText>Who are the main supports in your family and community?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AreThereOtherChildrenLivingInTheFamilyHome</name>
            <choiceReferences>ChoiceNo</choiceReferences>
            <choiceReferences>ChoiceYes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there other children living in the family home?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WhatOtherProfessionalServicesAreAssistingYourFamily</name>
            <fieldText>What other professional services are assisting your family?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>708</locationX>
        <locationY>827</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to Freshservice on &lt;a href=&quot;mailto:helpdesk@nrsdc.freshservice.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;helpdesk@nrsdc.freshservice.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ParentCarerDetailsScreen</name>
        <label>Parent / Carer Details</label>
        <locationX>672</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Edit_Parent_Carer</targetReference>
        </connector>
        <fields>
            <name>ParentCarerDetailsText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Mijung Jarjuums Kinds in Mind&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Parent / Carer Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select a Parent / Carer from the search box below and then indicate the type of relationship this person has to the child.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you cannot find the Contact in the list below, please select &apos;Contact Not Found&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParentCarer</name>
            <choiceReferences>ChoiceOtherAccountContacts</choiceReferences>
            <choiceReferences>ChoiceContactNotFound</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parent / Carer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RelationshipToChild</name>
            <choiceReferences>ChoiceAssessmentRelationshipToChild</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship To Child</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Review_Edit_Parent_Carer</name>
        <label>Review / Edit Parent / Carer</label>
        <locationX>803</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>SetAssessmentFields</targetReference>
        </connector>
        <flowName>ContactUpsert</flowName>
        <inputAssignments>
            <name>ProvidedAccountId</name>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedEmail</name>
            <value>
                <elementReference>ProvidedParentEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedFirstName</name>
            <value>
                <elementReference>ProvidedParentFirstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedLandline</name>
            <value>
                <elementReference>ProvidedParentLandline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedLastName</name>
            <value>
                <elementReference>ProvidedParentLastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedMiddleName</name>
            <value>
                <elementReference>ProvidedParentMiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedMobile</name>
            <value>
                <elementReference>ProvidedParentMobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedRecordTypeId</name>
            <value>
                <stringValue>0122x0000000DPhAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedScreenTitle</name>
            <value>
                <stringValue>Edit Parent / Carer Details</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>ParentCarer</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <name>returnContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Assessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment__c</objectType>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedParentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedParentFirstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedParentLandline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedParentLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedParentMiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedParentMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CaseId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
