DevOps/force-app/main/default/flows/Case_Plan_Create_Goals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignDetails</name>
        <label>AssignDetails</label>
        <locationX>325</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Plan_Goal_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Who</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_When</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFamilyAims</name>
        <label>AssignFamilyAims</label>
        <locationX>193</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Var_Concerns</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concerns_Challenges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Domain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Domain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFamilyAims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOthers</name>
        <label>AssignOthers</label>
        <locationX>457</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Var_Issues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Activities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Activities_to_Achieve_Goals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOthers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deassign_Variables</name>
        <label>Deassign Variables</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Var_Action</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Activities</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Concerns</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Details</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Domain</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Issues</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Status</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_When</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Who</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CPG_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Adding_Another_Goal</name>
        <label>Adding Another Goal?</label>
        <locationX>325</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Session_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_another_Goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deassign_Variables</targetReference>
            </connector>
            <label>Yes Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extra_Participant_Decision</name>
        <label>Extra Participant Decision</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Goals_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Extras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_any_extra_Participants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Session_Participants</targetReference>
            </connector>
            <label>Yes, Extras</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Type</name>
        <label>Plan Type</label>
        <locationX>325</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Other_Plan_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Plans</defaultConnectorLabel>
        <rules>
            <name>Family_Aims_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Plan.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129s0000004LJoAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_Aims_Plan_Details</targetReference>
            </connector>
            <label>Family Aims Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_Needed</name>
        <label>Session Needed?</label>
        <locationX>600</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Goals_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Family_Aims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Plan.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129s0000004LJoAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_Details</targetReference>
            </connector>
            <label>Yes Family Aims</label>
        </rules>
    </decisions>
    <description>Defaulted Indirect Hours and Minutes to 0 and removed Mandatory</description>
    <dynamicChoiceSets>
        <name>CaseNoteIndirectHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndirectMinutesCaseNote</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Domain</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plan_Domain__c</picklistField>
        <picklistObject>Case_Plan_Goal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_GoalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Case_Plan_Goal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Hours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Method</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Method__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CasePlanGoalName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Aim}, 80)</expression>
    </formulas>
    <interviewLabel>Case Plan: Create Goals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Plan: Create Goals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Primary_Participant</name>
        <label>Add Primary Participant</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Case_Note_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendance__c</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Plan.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Case_Plan.Case__r.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HbC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Role__c</field>
            <value>
                <stringValue>CLIENT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <object>Session_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Note</name>
        <label>Create Case Note</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Extra_Participants_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Date_Time__c</field>
            <value>
                <elementReference>Activity_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>Get_Case_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Plan.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Method__c</field>
            <value>
                <elementReference>Contact_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Hours__c</field>
            <value>
                <elementReference>Case_Note_Indirect_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Minutes__c</field>
            <value>
                <elementReference>Case_Note_Indirect_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Indirect_Activity__c</field>
            <value>
                <stringValue>Case Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000MSQAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Name_Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Add_Primary_Participant</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Plan.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Hours__c</field>
            <value>
                <elementReference>Duration_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Minutes__c</field>
            <value>
                <elementReference>Duration_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interpreter_Present__c</field>
            <value>
                <elementReference>Interpreter_Present</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Session_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pathfinders_Site__c</field>
            <value>
                <elementReference>PathfindersSite.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case_Plan.Case__r.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HTlAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Setting__c</field>
            <value>
                <stringValue>ORGOUTLETOFFICE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>13</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Futures_Site__c</field>
            <value>
                <elementReference>SocialFuturesSite.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Unidentified_Clients__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateFamilyAims</name>
        <label>CreateFamilyAims</label>
        <locationX>193</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Add_Another_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>Get_Case_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Details__c</field>
            <value>
                <elementReference>Var_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issues__c</field>
            <value>
                <elementReference>Var_Concerns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CasePlanGoalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Domain__c</field>
            <value>
                <elementReference>Var_Domain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Activities_to_Achieve_Goals__c</field>
            <value>
                <elementReference>Var_Action</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HaYAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Var_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>Var_When</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who__c</field>
            <value>
                <elementReference>Var_Who</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOthers</name>
        <label>CreateOthers</label>
        <locationX>457</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Add_Another_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>Get_Case_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Var_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Details__c</field>
            <value>
                <elementReference>Var_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issues__c</field>
            <value>
                <elementReference>Var_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Activities_to_Achieve_Goals__c</field>
            <value>
                <elementReference>Var_Activities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HaYAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Var_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When__c</field>
            <value>
                <elementReference>Var_When</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who__c</field>
            <value>
                <elementReference>Var_Who</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Plan</name>
        <label>Get Case Plan</label>
        <locationX>325</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPG_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Another_Goal</name>
        <label>Add Another Goal?</label>
        <locationX>325</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adding_Another_Goal</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_another_Goal</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you want to add another Goal?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Note_Details</name>
        <label>Case Note Details</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Note</targetReference>
        </connector>
        <fields>
            <name>CaseNoteText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Case Note Details:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_Summary</name>
            <dataType>String</dataType>
            <fieldText>Name/Summary:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Activity_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Activity Date/Time:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Method</name>
            <choiceReferences>Picklist_Method</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Method:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Note_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Note_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Note_Indirect_Hours</name>
                    <choiceReferences>CaseNoteIndirectHours</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>0</stringValue>
                    </defaultValue>
                    <fieldText>Case Note Indirect Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Note_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Note_Indirect_Minutes</name>
                    <choiceReferences>IndirectMinutesCaseNote</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00</stringValue>
                    </defaultValue>
                    <fieldText>Case Note Indirect Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CPG_Details</name>
        <label>CPG Details</label>
        <locationX>325</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignDetails</targetReference>
        </connector>
        <fields>
            <name>Case_Plan_Goal_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_Name</elementReference>
            </defaultValue>
            <fieldText>Goal Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 80. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Case_Plan_Goal_Name}) &lt; 80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Plan.RecordTypeId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>0129s0000004LJoAAM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_Who</elementReference>
            </defaultValue>
            <fieldText>Who is responsible for the aim?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Plan.RecordType.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>0129s0000004LJoAAM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>When</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Var_When</elementReference>
            </defaultValue>
            <fieldText>When will the goal be achieved?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Goal_Status</name>
            <choiceReferences>Picklist_GoalStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>In Progress</stringValue>
            </defaultValue>
            <fieldText>Goal Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extra_Participants_Screen</name>
        <label>Extra Participants Screen</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Extra_Participant_Decision</targetReference>
        </connector>
        <fields>
            <name>Extra_Participants_Text</name>
            <fieldText>&lt;p&gt;The Primary Participant has been added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_add_any_extra_Participants</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you want to add any extra Participants?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Family_Aims_Plan_Details</name>
        <label>Family Aims Plan Details</label>
        <locationX>193</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignFamilyAims</targetReference>
        </connector>
        <fields>
            <name>Aim</name>
            <fieldText>Aim</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 131072. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Aim}) &lt; 131072</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Concerns_Challenges</name>
            <fieldText>Concerns/Challenges</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 131072. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Concerns_Challenges}) &lt; 131072</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Action</name>
            <fieldText>Action/Who</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The character limit for this field is 131072. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Action}) &lt; 131072</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Goal_Domain</name>
            <choiceReferences>Picklist_Domain</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Goal Domain</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Goals_Completed</name>
        <label>Goals Completed</label>
        <locationX>600</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompletedText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Goals Created:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The goals have been created and are attached to the Case Plan.&lt;/p&gt;&lt;p&gt;You can now press &lt;em&gt;&quot;Finish&quot;&lt;/em&gt; to close.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Plan_Details</name>
        <label>Other Plan Details</label>
        <locationX>457</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignOthers</targetReference>
        </connector>
        <fields>
            <name>Issues</name>
            <fieldText>Issues</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Goal_Details</name>
            <fieldText>Goal Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Proposed_Activities_to_Achieve_Goals</name>
            <fieldText>Proposed Activities to Achieve Goals</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Details</name>
        <label>Session Details</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
        <fields>
            <name>SessionText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Session Details:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Session_Name</name>
            <dataType>String</dataType>
            <fieldText>Session Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Session Name cannot be more than 80 characters long.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Session_Name})&lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date/Time:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Interpreter_Present</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Interpreter Present?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_Hours</name>
            <choiceReferences>Picklist_Hours</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Duration Hours:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_Minutes</name>
            <choiceReferences>Picklist_Minutes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Duration Minutes:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SocialFuturesSite</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Social Futures Site:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Social_Futures_Site__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Plan.Case__r.Program_Name__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Family Connect &amp; Support</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PathfindersSite</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pathfinders Site:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pathfinders_Site__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Plan.Case__r.Program_Name__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Pathfinders</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Session_Participants</name>
        <label>Add Session Participants</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Goals_Completed</targetReference>
        </connector>
        <flowName>AddSessionParticipants</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Plan.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>Create_Session</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Activities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Concerns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Domain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Issues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_When</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Who</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
