DevOps/force-app/main/default/flows/Case_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns values to record for completion status.</description>
        <name>AssignCompletionStatus</name>
        <label>AssignCompletionStatus</label>
        <locationX>1722</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>CaseID.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completion_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Date_Referrer_Informed_of_Case_Closure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Referrer_Informed_of_Case_Closure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Close_Date_VCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closure_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Closure_Notes_VCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Close_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentCaseClosureCC.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Reason_unable_to_provide_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentCaseClosureCC.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnquiryProgram</name>
        <label>AssignEnquiryProgram</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CaseID.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnquiryProgramSelect.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateEnquiryProgram</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTheBridgeFields</name>
        <label>AssignTheBridgeFields</label>
        <locationX>2602</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Close_Date_The_Bridge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.AOD_CessationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cessation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closure_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Closure_Notes_Optional_The_Bridge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.AOD_ReferralOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referral_to_Another_Service</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to record for a case able to provide service.</description>
        <name>CaseClosureAssignment_ATP</name>
        <label>CaseClosureAssignment ATP</label>
        <locationX>2569</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CaseID.Case_Close_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentCaseClosure.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closure_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Closure_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to record for a case unable to provide service.</description>
        <name>CaseClosureAssignment_UTP</name>
        <label>CaseClosureAssignment UTP</label>
        <locationX>2305</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CaseID.Case_Close_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentCaseClosure.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Reason_unable_to_provide_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentCaseClosure.bottomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID.Case_Closure_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Closure_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>OPP Assignment of Closure Reason</description>
        <name>OPPAssignment</name>
        <label>OPPAssignment</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>CaseID.Reason_for_Leaving_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPPReasonForLeaving</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Selection for every other choice besides Unable to complete program</description>
        <name>NonApplicable</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Enquiry</name>
        <label>Check for Enquiry</label>
        <locationX>1722</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>CC_Final_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Delivery</defaultConnectorLabel>
        <rules>
            <name>PHN_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x0000000DkiAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>PHN Enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Connecting_Home_Collection_Periods_100</name>
        <label>Connecting Home Collection Periods 100%</label>
        <locationX>1216</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Separate_Closure_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Not_Completed</name>
            <conditionLogic>1 AND ((2 AND 5) OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Collection_Periods_Completion_Total__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connecting Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connecting You</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Session_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connecting Home Tweed Assertive Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionPeriodFailure</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConnectingHomeCase</name>
        <label>ConnectingHomeCase</label>
        <locationX>1854</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Programs</defaultConnectorLabel>
        <rules>
            <name>Connecting_Home</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connecting Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connecting You</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0122x0000000DkiAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_CH</targetReference>
            </connector>
            <label>Connecting Home</label>
        </rules>
    </decisions>
    <decisions>
        <name>Episode_End_Choice</name>
        <label>Episode End Choice</label>
        <locationX>1326</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>K5_and_K10_End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Episode Closed</defaultConnectorLabel>
        <rules>
            <name>Episode_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Completion_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Completion_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Completion_Status</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completion_Status_Screen</targetReference>
            </connector>
            <label>Episode Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Program</name>
        <label>No Program</label>
        <locationX>633</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Connecting_Home_Collection_Periods_100</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Program Selected</defaultConnectorLabel>
        <rules>
            <name>No_Program_Selected</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry - In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoProgramScreen</targetReference>
            </connector>
            <label>No Program Selected</label>
        </rules>
        <rules>
            <name>Enquiry_No_Program</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enquiry - In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnquiryProgramScreen</targetReference>
            </connector>
            <label>Enquiry No Program</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see what the Program Name is</description>
        <name>Program_Check</name>
        <label>Program Check</label>
        <locationX>1854</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Programs</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Pathways</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Opportunity Pathways</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OPPClosureScreen</targetReference>
            </connector>
            <label>Opportunity Pathways</label>
        </rules>
        <rules>
            <name>PHN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Care Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Veterans</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Medicare Mental Health Centre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_Connect_Closure_Screen</targetReference>
            </connector>
            <label>PHN</label>
        </rules>
        <rules>
            <name>Standing_Strong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standing Strong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_Plan_Closure</targetReference>
            </connector>
            <label>Standing Strong</label>
        </rules>
        <rules>
            <name>Care_Finder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Care Finder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_Finder_Closure_Screen</targetReference>
            </connector>
            <label>Care Finder</label>
        </rules>
        <rules>
            <name>The_Bridge1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>The Bridge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_Bridge_Case_Closure_Screen</targetReference>
            </connector>
            <label>The Bridge</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReasonOtherNoNotes</name>
        <label>ReasonOtherNoNotes</label>
        <locationX>2107</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>WereTheyUnableToProvideService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notes</defaultConnectorLabel>
        <rules>
            <name>No_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentCaseClosure.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (specify in notes)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoNotes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Notes_Screen</targetReference>
            </connector>
            <label>No Notes</label>
        </rules>
        <rules>
            <name>CCD_Before_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Close_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CaseID.Date_of_Enquiry_or_Referral__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCD_Enquiry_Screen</targetReference>
            </connector>
            <label>CCD Before Enquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReasonOtherNoNotesCC</name>
        <label>ReasonOtherNoNotesCC</label>
        <locationX>1546</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>AssignCompletionStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Notes</defaultConnectorLabel>
        <rules>
            <name>No_Notes_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentCaseClosureCC.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (specify in notes)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoNotesCC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Notes_Screen_CC</targetReference>
            </connector>
            <label>No Notes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the program uses a separate closure process and directs to the correct one based on Program</description>
        <name>Separate_Closure_Process</name>
        <label>Separate Closure Process</label>
        <locationX>1854</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Case_Closure_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseID.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AOD Hub</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Connect – Hunter Manning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Veterans Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicare Mental Health Centre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WereTheyUnableToProvideService</name>
        <label>Were they Unable To Provide Service</label>
        <locationX>2437</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CaseClosureAssignment_ATP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Able To Provide Service</defaultConnectorLabel>
        <rules>
            <name>UnableToProvideService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DependentCaseClosure.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to provide service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseClosureAssignment_UTP</targetReference>
            </connector>
            <label>Unable To Provide Service</label>
        </rules>
    </decisions>
    <description>Adjusted for COI</description>
    <dynamicChoiceSets>
        <name>CaseClosureReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Close_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceCompletionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Completion_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>OPP Reason for Leaving Program Choice Set</description>
        <name>OPPReasonForLeavingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Leaving_Program__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Cessation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AOD_CessationReason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Program Type for Case</description>
        <name>ProgramType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program_Type2__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Referral_To_Another_Service_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AOD_ReferralOut__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnabletoProvide</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_unable_to_provide_service__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NoNotes</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Case_Closure_Notes})</expression>
    </formulas>
    <formulas>
        <name>NoNotesCC</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Case_Closure_Notes_VCC})</expression>
    </formulas>
    <interviewLabel>Case Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case ID for field values</description>
        <name>CaseID</name>
        <label>CaseID</label>
        <locationX>633</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case record</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1854</locationX>
        <locationY>2450</locationY>
        <connector>
            <targetReference>ConnectingHomeCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_Went_Wrong</targetReference>
        </faultConnector>
        <inputReference>CaseID</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnquiryProgram</name>
        <label>UpdateEnquiryProgram</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Program</targetReference>
        </connector>
        <inputReference>CaseID</inputReference>
    </recordUpdates>
    <screens>
        <name>Care_Connect_Closure_Screen</name>
        <label>Care Connect Closure Screen</label>
        <locationX>1326</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Episode_End_Choice</targetReference>
        </connector>
        <fields>
            <name>Case_Close_Date_VCC</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case_Close_Date_VCC</elementReference>
            </defaultValue>
            <fieldText>Case Close Date:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Referrer_Informed_of_Case_Closure</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_Referrer_Informed_of_Case_Closure</elementReference>
            </defaultValue>
            <fieldText>Date Referrer Informed of Case Closure:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseID.Program_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Care Connect</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Completion_Status</name>
            <choiceReferences>ChoiceCompletionStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Completion_Status</elementReference>
            </defaultValue>
            <fieldText>Completion Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DependentCaseClosureCC</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Program_Type2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Case_Close_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>CaseID.Program_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Case Closure Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>Case_Close_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Reason_unable_to_provide_service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Reason Unable to Provide Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <stringValue>Reason_unable_to_provide_service__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Case_Closure_Notes_VCC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case_Closure_Notes_VCC</elementReference>
            </defaultValue>
            <fieldText>Case Closure Notes (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CareConnectClosureText</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 12px;&quot;&gt;You will now be directed to enter the Final Session for this case. Please press &quot;Next&quot;.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Care_Finder_Closure_Screen</name>
        <label>Care Finder Closure Screen</label>
        <locationX>2338</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseID.High_Level_Check_In_Status__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Closed</name>
        <label>Case Closed</label>
        <locationX>1986</locationX>
        <locationY>2666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseUpdated</name>
            <fieldText>&lt;p&gt;The case has been closed successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Closed_CH</name>
        <label>Case Closed CH</label>
        <locationX>1722</locationX>
        <locationY>2666</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseUpdated_CC</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;Have you completed the PWI?&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please ensure that you complete the closing PWI after closing the case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The case has been closed successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Fields that need to be entered in order to close a case.</description>
        <name>Case_Closure_Fields</name>
        <label>Case Closure Fields</label>
        <locationX>2107</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReasonOtherNoNotes</targetReference>
        </connector>
        <fields>
            <name>CaseFlowText</name>
            <fieldText>&lt;p&gt;Please enter the following fields in order to close the case.&lt;/p&gt;&lt;p&gt;Press Finish once all fields have been entered.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Case Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DependentCaseClosure</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Program_Type2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Case_Close_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Case Closure Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Reason_unable_to_provide_service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Reason Unable to Provide Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>CaseID.Program_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>Case_Close_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <stringValue>Reason_unable_to_provide_service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Case_Closure_Notes</name>
            <dataType>String</dataType>
            <fieldText>Case Closure Notes (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CCD_Enquiry_Screen</name>
        <label>CCD Enquiry Screen</label>
        <locationX>2041</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CCD_Enquiry_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;Case Closure Date is before the Enquiry/Referral Date:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The Case Closure Date cannot come before the Enquiry/Referral Date of the Case.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please return to the previous page using the &quot;Previous&quot; button to enter an appropriate closure date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CollectionPeriodFailure</name>
        <label>CollectionPeriodFailure</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CollectionPeriodFailureText</name>
            <fieldText>&lt;p&gt;All collection periods must be completed (100%) before you can close the case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Status_Screen</name>
        <label>Completion Status Screen</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Care_Connect_Closure_Screen</targetReference>
        </connector>
        <fields>
            <name>Completion_Status_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Episode Completion not Closed&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When the case is closed Completion Status must be recorded using one of the ‘Episode closed’ responses.&lt;/p&gt;&lt;p&gt;Please return to the previous page and choose one of the Episode End responses.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnquiryProgramScreen</name>
        <label>Enquiry Program Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignEnquiryProgram</targetReference>
        </connector>
        <fields>
            <name>EnquiryProgramText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;No Program&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Enquiry has no program.&lt;/p&gt;&lt;p&gt;Please select one from the list below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnquiryProgramSelect</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Program:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Notes_Screen</name>
        <label>No Notes Screen</label>
        <locationX>1777</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoNotesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;No Notes Entered:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You have selected &quot;Other (specify in notes) as the Reason for Case Closure but have note added any notes in the Case Closure Notes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please return to the previous page using the &quot;Previous&quot; button to enter notes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Notes_Screen_CC</name>
        <label>No Notes Screen</label>
        <locationX>1370</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Care_Connect_Closure_Screen</targetReference>
        </connector>
        <fields>
            <name>NoNotesTextCC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;No Notes Entered:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You have selected &quot;Other (specify in notes) as the Reason for Case Closure but have note added any notes in the Case Closure Notes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please return to the previous page using the &quot;Previous&quot; button to enter notes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoProgramScreen</name>
        <label>NoProgramScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoProgramText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;This Case does not have a Program.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Please go to Case Details and select a Program in order to close the case.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OPPClosureScreen</name>
        <label>OPPClosureScreen</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OPPAssignment</targetReference>
        </connector>
        <fields>
            <name>OPPDisplayText</name>
            <fieldText>&lt;p&gt;Input the Reason for Closure for this Opportunity Pathways Case:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OPPReasonForLeaving</name>
            <choiceReferences>OPPReasonForLeavingChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Leaving Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Fault Screen</description>
        <name>Something_Went_Wrong</name>
        <label>Something Went Wrong</label>
        <locationX>3042</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and open a helpdesk ticket.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Fields that need to be entered in order to close a case.</description>
        <name>The_Bridge_Case_Closure_Screen</name>
        <label>The Bridge Case Closure Screen</label>
        <locationX>2602</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignTheBridgeFields</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_CaseFlowText</name>
            <fieldText>&lt;p&gt;Please enter the following fields in order to close the case.&lt;/p&gt;&lt;p&gt;Press Finish once all fields have been entered.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Close_Date_The_Bridge</name>
            <dataType>Date</dataType>
            <fieldText>Case Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cessation_Reason</name>
            <choiceReferences>Picklist_Cessation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cessation Reason:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Referral_to_Another_Service</name>
            <choiceReferences>Referral_To_Another_Service_Options</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseID.AOD_ReferralOut__c</elementReference>
            </defaultValue>
            <fieldText>Referral to Another Service</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Closure_Notes_Optional_The_Bridge</name>
            <dataType>String</dataType>
            <fieldText>Case Closure Notes (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CC_Final_Session</name>
        <label>CC Final Session</label>
        <locationX>1810</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowName>CC_Final_Session</flowName>
        <inputAssignments>
            <name>ProvidedStartDateTime</name>
            <value>
                <elementReference>Case_Close_Date_VCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>K5_and_K10_End_Flow</name>
        <label>K5 and K10 End Flow</label>
        <locationX>1546</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>ReasonOtherNoNotesCC</targetReference>
        </connector>
        <flowName>Case_Closure_K5_and_K10_End</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>STEP_Plan_Closure</name>
        <label>STEP Plan Closure</label>
        <locationX>2074</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowName>Close_Case_STEP_Plan</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
