DevOps/force-app/main/default/flows/Collection_Period_Ongoing_Support.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>No_Ongoing_Support</name>
        <label>No Ongoing Support?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Collection_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Date_Missing</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>SupportPeriod.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Close_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Close_Date</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateMissingScreen</targetReference>
            </connector>
            <label>Date Missing</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupportPeriod.topValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOS_Update_Collection_Period</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated to fix issue with Closing Cases before updating collection period</description>
    <dynamicChoiceSets>
        <name>Choice_OngoingSupport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ongoing_Support_Period_Ind__c</picklistField>
        <picklistObject>Collection_Period__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_ReasonSupport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Episode_End_Reason__c</picklistField>
        <picklistObject>Collection_Period__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Collection Period: Ongoing Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Period: Complete Collection Period</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Collection_Period</name>
        <label>Get Collection Period</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Period_Detaills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collection_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Collection_Period.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Close_Reason__c</field>
            <value>
                <elementReference>SupportPeriod.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Closed_Date__c</field>
            <value>
                <elementReference>Case_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_unable_to_provide_service__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>NOS_Update_Collection_Period</name>
        <label>NOS Update Collection Period</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion_Issues__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ongoing_Support_Period_Ind__c</field>
            <value>
                <elementReference>SupportPeriod.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Episode_End_Reason__c</field>
            <value>
                <elementReference>SupportPeriod.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Collection_Period__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection_Period</name>
        <label>Update Collection Period</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion_Issues__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ongoing_Support_Period_Ind__c</field>
            <value>
                <elementReference>SupportPeriod.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Episode_End_Reason__c</field>
            <value>
                <elementReference>SupportPeriod.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Collection_Period__c</object>
    </recordUpdates>
    <screens>
        <name>Collection_Period_Detaills</name>
        <label>Collection Period Detaills</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_Ongoing_Support</targetReference>
        </connector>
        <fields>
            <name>SupportPeriod</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Collection_Period__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Ongoing_Support_Period_Ind__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Service_Episode_End_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Receiving Ongoing Support?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reason Support Period Ended/Case Closed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>SupportPeriod.topValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>SupportPeriod.middleValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Case_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case_Close_Date</elementReference>
            </defaultValue>
            <fieldText>Case Close Date:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;A case cannot be closed on a date outside the collection period.&lt;/p&gt;</errorMessage>
                <formulaExpression>MONTH({!Case_Close_Date}) = MONTH({!Get_Collection_Period.Date_of_First_Session_Within_Month__c}) &amp;&amp; YEAR({!Case_Close_Date}) = YEAR({!Get_Collection_Period.Date_of_First_Session_Within_Month__c})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SupportPeriod.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>2</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SupportPeriod.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DateMissingScreen</name>
        <label>Date Missing</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Collection_Period_Detaills</targetReference>
        </connector>
        <fields>
            <name>DateMissingText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;Date Missing&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No ongoing support selected but no case close date has been entered. Please select Next to return to the previous page and select a Case Closed Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Collection_Period</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
