DevOps/force-app/main/default/flows/Create_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>MultiSelectFlowValues</name>
        <label>Multi Select Flow Values</label>
        <locationX>2970</locationX>
        <locationY>876</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CountingRecords</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>CaseSessionsMulti</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Session_URL</name>
        <label>Open Session URL</label>
        <locationX>5898</locationX>
        <locationY>1076</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NewSessionRecordURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Ids</name>
        <label>Add Child Ids</label>
        <locationX>2906</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>CaseSessionsMulti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Related_Cases_to_Duplicate_Session_CaseNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MultiSelectFlowValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Child_Ids_for_CH</name>
        <label>Add Child Ids for CH</label>
        <locationX>2754</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>CaseSessionsMulti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Cases_in_Transitional_Housing_to_Duplicate_Session_CaseNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MultiSelectFlowValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_Id</name>
        <label>Add Record Id</label>
        <locationX>3673</locationX>
        <locationY>1263</locationY>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MultiSelectFlowValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Creation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddServiceTerritoryToCollections</name>
        <label>Add Service Territory To Collections</label>
        <locationX>1180</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverServiceTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contact_Ids</name>
        <label>assign Contact Ids</label>
        <locationX>1854</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_case_members.Related_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_case_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>4512</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>Count_CaseMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Case_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountingRecords</name>
        <label>CountingRecords</label>
        <locationX>3037</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MultiSelectFlowValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckforMultiChoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Needs_Duplicates</name>
        <label>Needs Duplicates</label>
        <locationX>2545</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>IsDuplicationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplication_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Needs_Duplicates_CH</name>
        <label>Needs Duplicates CH</label>
        <locationX>2871</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>IsDuplicationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CH_Child_Cases_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SessionCaseAssign</name>
        <label>SessionCaseAssign</label>
        <locationX>1845</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>Session.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Program_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Service_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Setting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Non_Social_Futures_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Social_Futures_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Social_Futures_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialFuturesSite.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000HTlAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Buddy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionOwnerId.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Service__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Scheduled_or_Future_Session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Ids</name>
        <label>Set Child Ids</label>
        <locationX>3677</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MultiSelectFlowValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Creation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id</name>
        <label>Set Record Id</label>
        <locationX>3821</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Creation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGiTSessionID</name>
        <label>SetGiTSessionID</label>
        <locationX>2243</locationX>
        <locationY>1305</locationY>
        <assignmentItems>
            <assignToReference>SessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetProgramType</name>
        <label>Set Program Type</label>
        <locationX>1476</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>Session.Program_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Program_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultContactSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Show_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSession</name>
        <label>Set Session</label>
        <locationX>3988</locationX>
        <locationY>1351</locationY>
        <assignmentItems>
            <assignToReference>Session.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session_Creation_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Service_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Setting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Non_Social_Futures_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Social_Futures_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Social_Futures_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialFuturesSite.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionOwnerId.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SessionId may be used by flows calling this as a subflow</description>
        <name>SetSessionId</name>
        <label>Set Session Id</label>
        <locationX>4238</locationX>
        <locationY>1909</locationY>
        <assignmentItems>
            <assignToReference>SessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseMemberRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSessionParticipantFieldsC</name>
        <label>Set Session Participant Fields (Client)</label>
        <locationX>4630</locationX>
        <locationY>1644</locationY>
        <assignmentItems>
            <assignToReference>SessionParticipant.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionParticipant.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionParticipant.Session_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CLIENT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Session_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSessionParticipantFieldsS</name>
        <label>Set Session Participant Fields (Support)</label>
        <locationX>4809</locationX>
        <locationY>1756</locationY>
        <assignmentItems>
            <assignToReference>SessionParticipant.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionParticipant.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionParticipant.Session_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUPPORT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Session_Participant</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLocationOffsiteOutreach</name>
        <choiceText>Offsite / Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OffsiteOutreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLocationSocialFuturesOffice</name>
        <choiceText>Social Futures Site / Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SocialFuturesSite</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNoShow</name>
        <choiceText>No-show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No-show</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceScheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceActiveHolding</name>
        <choiceText>Active Holding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>222</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceAdvocacy</name>
        <choiceText>Advocacy/Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceBrokerage</name>
        <choiceText>Brokerage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>215</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceBusinessPlanning</name>
        <choiceText>Business Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>90</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCaseManagement</name>
        <choiceText>Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCasePlanCompleted</name>
        <choiceText>Case Plan Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>223</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceChildYouthFocusedGroups</name>
        <choiceText>Child/Youth focused groups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCommunityCapacityBuilding</name>
        <choiceText>Community Capacity Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCounselling</name>
        <choiceText>Counselling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceEducation</name>
        <choiceText>Education and Skills Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFacilitateEmploymentPathways</name>
        <choiceText>Facilitate Employment Pathways</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFamilyCapacityBuilding</name>
        <choiceText>Family Capacity Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFamilyGroupConferencing</name>
        <choiceText>Family Group Conferencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Group Conferencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFamilyMediation</name>
        <choiceText>Family Mediation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>92</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceGoalSetting</name>
        <choiceText>Goal Setting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>93</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceHousingSupport</name>
        <choiceText>Housing Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Housing Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousAdvocacy</name>
        <choiceText>Indigenous Advocacy / Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>151</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousHealingWorkshops</name>
        <choiceText>Indigenous Healing Workshops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>152</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousSocialParticipation</name>
        <choiceText>Indigenous Social Participation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>150</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousSupportedPlaygroups</name>
        <choiceText>Indigenous Supported Playgroups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>153</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndustryEngagement</name>
        <choiceText>Reverse Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reverse Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceInformation</name>
        <choiceText>Information/Advice/Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceInhouseTrainingProgram</name>
        <choiceText>In-house Training Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In-house Training Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIntake</name>
        <choiceText>Intake/assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Intensive Support</description>
        <name>ChoiceServiceIntensiveSupport</name>
        <choiceText>Intensive Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceMaterialAid</name>
        <choiceText>Material Aid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>99</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceMentoring</name>
        <choiceText>Mentoring / Peer Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceOutboundReferral</name>
        <choiceText>Outbound Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceOutreach</name>
        <choiceText>Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceParentingPrograms</name>
        <choiceText>Parenting Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>154</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServicePostEmployment</name>
        <choiceText>Post-Employment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post-Employment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServicePreEmployment</name>
        <choiceText>Pre-Employment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Employment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceReferral</name>
        <choiceText>Referral Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>224</stringValue>
        </value>
    </choices>
    <choices>
        <description>Service Review</description>
        <name>ChoiceServiceServiceReview</name>
        <choiceText>Service Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>143</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceSocialParticipation</name>
        <choiceText>Social Participation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>98</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceSupportedPlaygroups</name>
        <choiceText>Supported Playgroups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>155</stringValue>
        </value>
    </choices>
    <constants>
        <name>SkipAppointments</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Adding_Extra_Participants</name>
        <label>Adding Extra Participants?</label>
        <locationX>4596</locationX>
        <locationY>1195</locationY>
        <defaultConnector>
            <targetReference>Session_Creation_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Extras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddExtraParticipants</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Session_Participants</targetReference>
            </connector>
            <label>Yes, Add Extras</label>
        </rules>
    </decisions>
    <decisions>
        <name>AIHW_Check</name>
        <label>AIHW Check</label>
        <locationX>864</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not AIHW</defaultConnectorLabel>
        <rules>
            <name>AIHW_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionPeriodMissing</targetReference>
            </connector>
            <label>AIHW Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Program an AIHW Reporter?</description>
        <name>AIHW_Reporter</name>
        <label>AIHW Reporter?</label>
        <locationX>670</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>GetServiceTerritories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AIHWReporterScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseNoteNeeded</name>
        <label>Check Case Note Needed</label>
        <locationX>4793</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>SHS_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Note Not Needed</defaultConnectorLabel>
        <rules>
            <name>CaseNoteIsNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseNoteNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_Case_Note</targetReference>
            </connector>
            <label>Case Note Is Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforMultiChoice</name>
        <label>CheckforMultiChoice</label>
        <locationX>3671</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>Add_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id</targetReference>
            </connector>
            <label>Single</label>
        </rules>
        <rules>
            <name>MJKIM_CH_Multiple</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mijung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_family_in_Transitional_Housing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Child_Ids</targetReference>
            </connector>
            <label>MJKIM/CH Multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAddingParticipantToSession</name>
        <label>Check If Adding Participant To Session</label>
        <locationX>4395</locationX>
        <locationY>1748</locationY>
        <defaultConnector>
            <targetReference>Group_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>AddParticipantC</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryMemberRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSessionParticipantFieldsC</targetReference>
            </connector>
            <label>Add Participant (Client)</label>
        </rules>
        <rules>
            <name>AddParticipantS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSessionParticipantFieldsS</targetReference>
            </connector>
            <label>Add Participant (Support)</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProgramSet</name>
        <label>Check Program Set</label>
        <locationX>1333</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>SetProgramType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>ProgramNotSet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseDoesNotHaveProgramSelectedScreen</targetReference>
            </connector>
            <label>ProgramNotSet</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSiteOrLocationEntered</name>
        <label>Check Site Or Location Entered</label>
        <locationX>1694</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>SessionCaseAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Site_And_Location_Note_Entered</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SocialFuturesSite.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SocialFuturesSite.value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Non_Social_Futures_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Non_Social_Futures_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectSiteOrLocationScreen</targetReference>
            </connector>
            <label>Site And Location Note Entered</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the previous months collection period missing?</description>
        <name>CollectionPeriodMissing</name>
        <label>Collection Period Missing</label>
        <locationX>1013</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>MissingCPScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CPCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Latest_Collection_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Closed</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplication_Needed</name>
        <label>Duplication Needed?</label>
        <locationX>2614</locationX>
        <locationY>1348</locationY>
        <defaultConnector>
            <targetReference>CheckforMultiChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDuplicationRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Cases_Screen</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>FCS_Program</name>
        <label>FCS Program?</label>
        <locationX>4545</locationX>
        <locationY>1075</locationY>
        <defaultConnector>
            <targetReference>Session_Case_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Programs</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipCaseNote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SkipFollowOnActionsDec</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Start_Date_Time</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SkipFollowOnActionsDec</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>FCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Family Connect - Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseNoteScreen</targetReference>
            </connector>
            <label>FCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>FCS_Session</name>
        <label>FCS Session?</label>
        <locationX>3981</locationX>
        <locationY>2012</locationY>
        <defaultConnector>
            <targetReference>SetSessionId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Referral</name>
            <conditionLogic>((1 OR 2 OR 5 OR 6 OR 7 OR 8) AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Family Connect &amp; Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pathfinders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>215</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reconnect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Getting it Together</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Recovery Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supported TA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brokerage_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Case</name>
        <label>Group Case?</label>
        <locationX>4366</locationX>
        <locationY>1468</locationY>
        <defaultConnector>
            <targetReference>AddingParticipantsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Group Case</defaultConnectorLabel>
        <rules>
            <name>Is_a_Group_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124a0000004LBKAA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Session_Participants</targetReference>
            </connector>
            <label>Is a Group Case</label>
        </rules>
        <rules>
            <name>X1_Case_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_CaseMembers</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_Creation_Loop</targetReference>
            </connector>
            <label>1 Case Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case is closed</description>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed?</label>
        <locationX>1013</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>LoopOverServiceTerritories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClosedScreen</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MJKIM_Program</name>
        <label>MJKIM Program?</label>
        <locationX>2229</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Duplication_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Program</defaultConnectorLabel>
        <rules>
            <name>Program_is_MJKIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mijung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Duplicates</targetReference>
            </connector>
            <label>Program is MJKIM</label>
        </rules>
        <rules>
            <name>Program_is_Connecting_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Connecting Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transitional_Housing</targetReference>
            </connector>
            <label>Program is Connecting Home</label>
        </rules>
        <rules>
            <name>Program_is_GiT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Getting It Together</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGiTSessionID</targetReference>
            </connector>
            <label>Program is GiT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduled_or_Future_Session</name>
        <label>Scheduled or Future Session?</label>
        <locationX>1982</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>Session_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Scheduled/Future</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session.Start_Date_Time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bathurst Clubhouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Broken Hill Clubhouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Program_Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Clubhouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MJKIM_Program</targetReference>
            </connector>
            <label>Scheduled/Future</label>
        </rules>
    </decisions>
    <decisions>
        <name>SHS_Program</name>
        <label>SHS Program?</label>
        <locationX>5223</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>SkipFollowOnActionsDec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SHS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COSNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COS_Assessment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Appointments</name>
        <label>Skip Appointments?</label>
        <locationX>1480</locationX>
        <locationY>805</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Members_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipAppointments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewSessionScreen</targetReference>
            </connector>
            <label>Yes, Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>SkipFollowOnActionsDec</name>
        <label>Skip FollowOn Actions?</label>
        <locationX>5659</locationX>
        <locationY>1077</locationY>
        <defaultConnector>
            <targetReference>Open_Session_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Skip_FollowOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipFollowonActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skip FollowOn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transitional</name>
        <label>Transitional?</label>
        <locationX>2980</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>CheckforMultiChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Transitional</defaultConnectorLabel>
        <rules>
            <name>Yes_Transitional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_family_in_Transitional_Housing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Duplicates_CH</targetReference>
            </connector>
            <label>Yes Transitional</label>
        </rules>
    </decisions>
    <description>Skipping Appointments and Added Outbound Referral to Case Member</description>
    <dynamicChoiceSets>
        <name>ChoiceCCNoShow</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>No_Show__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceCPI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Participation_Indicator__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceFinal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Final__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceModality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modality__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceParticipants</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Participants__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDurationHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Hours__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDurationMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Minutes__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistFamilyServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistGeneralServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>General_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistHousingServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Housing_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistServiceSetting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Setting__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSpecialistServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Specialised_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceRecordsActiveUsers</name>
        <dataType>String</dataType>
        <displayField>FullName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>FullName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>User_ID_18__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceVenue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Venue__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetChildCases</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetChildCasesCH</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Reason__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Type__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(TRIM({!CaseSessionsMulti}))</expression>
    </formulas>
    <formulas>
        <description>Checks for Latest Collection Period</description>
        <name>CPCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(MONTH(TODAY()) - MONTH({!GetCase.Latest_Collection_Period__c}) == -11, true,
IF(MONTH(TODAY()) - MONTH({!GetCase.Latest_Collection_Period__c}) == 1, true,
IF(MONTH(TODAY()) - MONTH({!GetCase.Latest_Collection_Period__c}) == 0, true,false)))</expression>
    </formulas>
    <formulas>
        <name>DefaultServiceTerritory</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$User.Primary_Service_Location_Id_18__c})), {!$User.Primary_Service_Location_Id_18__c}, null)</expression>
    </formulas>
    <formulas>
        <name>Formula_SessionName</name>
        <dataType>String</dataType>
        <expression>IF({!Is_this_Session_a_No_Show} = {!Choice_Yes}, &quot;No Show&quot;, {!ProvidedSessionName})</expression>
    </formulas>
    <formulas>
        <name>NewSessionRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500})) &amp; &apos;/&apos; &amp; {!recordId}</expression>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SessionStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Session.Start_Date_Time__c} &gt; {!$Flow.CurrentDateTime}, &quot;Scheduled&quot;, &quot;Completed&quot;)</expression>
    </formulas>
    <interviewLabel>Create Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Session</label>
    <loops>
        <name>loop_case_members</name>
        <label>loop case members</label>
        <locationX>1682</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_Case_Members_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Contact_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverServiceTerritories</name>
        <label>Loop Over Service Territories</label>
        <locationX>1178</locationX>
        <locationY>1088</locationY>
        <assignNextValueToReference>ServiceTerritory</assignNextValueToReference>
        <collectionReference>GetServiceTerritories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddServiceTerritoryToCollections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckProgramSet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Session_Creation_Loop</name>
        <label>Session Creation Loop</label>
        <locationX>4212</locationX>
        <locationY>1088</locationY>
        <collectionReference>CaseSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetSession</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FCS_Program</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Session_Participant</name>
        <label>Create Session Participant</label>
        <locationX>4809</locationX>
        <locationY>1556</locationY>
        <connector>
            <targetReference>Get_Case_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>SessionParticipant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateSession</name>
        <label>Create Session</label>
        <locationX>3989</locationX>
        <locationY>1705</locationY>
        <connector>
            <targetReference>FCS_Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0</targetReference>
        </faultConnector>
        <inputReference>Session</inputReference>
    </recordCreates>
    <recordLookups>
        <name>defaultContacts</name>
        <label>defaultContactSelection</label>
        <locationX>1599</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewSessionScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>defaultContactSelection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Members</name>
        <label>Get Case Members</label>
        <locationX>4648</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Members_0</name>
        <label>Get Case Members</label>
        <locationX>1408</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_case_members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>1706</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>defaultContacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>486</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AIHW_Reporter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseMemberRole</name>
        <label>Get Case Member Role</label>
        <locationX>4405</locationX>
        <locationY>1909</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfAddingParticipantToSession</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.ContactId</elementReference>
            </value>
        </filters>
        <object>Case_Member__c</object>
        <outputAssignments>
            <assignToReference>PrimaryMemberRole</assignToReference>
            <field>Case_Role__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetServiceTerritories</name>
        <label>Get Service Territories</label>
        <locationX>873</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AIHW_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AddingParticipantsScreen</name>
        <label>Adding Participants Screen</label>
        <locationX>4603</locationX>
        <locationY>1397</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adding_Extra_Participants</targetReference>
        </connector>
        <fields>
            <name>AddExtraParticipants</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you want to add extra session participants in addition to the primary participant on the case?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AIHWReporterScreen</name>
        <label>AIHW Reporter Screen</label>
        <locationX>679</locationX>
        <locationY>901</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AIHWReporterText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;This Program is an AIHW Reporter&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The &lt;u&gt;Session/Case Note&lt;/u&gt; function is only available to this program once it is in Service Delivery (an Allocated Case).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseDoesNotHaveProgramSelectedScreen</name>
        <label>Case Does Not Have Program Selected</label>
        <locationX>1339</locationX>
        <locationY>1262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseDoesNotHaveProgramSelectedText</name>
            <fieldText>&lt;p&gt;This case does not yet have a Program associated with it. Please select a Program before creating a Session.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_Child_Cases_Screen</name>
        <label>CH Child Cases Screen</label>
        <locationX>2755</locationX>
        <locationY>742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Child_Ids_for_CH</targetReference>
        </connector>
        <fields>
            <name>Select_Cases_in_Transitional_Housing_to_Duplicate_Session_CaseNote</name>
            <choiceReferences>GetChildCasesCH</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Cases in Transitional Housing to Duplicate Session/CaseNote:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NoneSelectedTextCH</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;If a case does not appear then it is not listed as a child case.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Child_Cases_Screen</name>
        <label>Child Cases Screen</label>
        <locationX>2722</locationX>
        <locationY>1090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Child_Ids</targetReference>
        </connector>
        <fields>
            <name>Select_Related_Cases_to_Duplicate_Session_CaseNote</name>
            <choiceReferences>GetChildCases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Related Cases to Duplicate Session/CaseNote:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NoneSelectedText</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;If none are available or you want to select none then press next to continue.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClosedScreen</name>
        <label>ClosedScreen</label>
        <locationX>1018</locationX>
        <locationY>1255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosedText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;This Case is Closed.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Session &amp;amp; Case Note cannot be recorded for a Case that has been previously closed and most likely already reported to our funders. Please create a new Case for the Participant and then record the Session/Case Note from there.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateCaseNoteScreen</name>
        <label>Create Case Note?</label>
        <locationX>4553</locationX>
        <locationY>778</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckCaseNoteNeeded</targetReference>
        </connector>
        <fields>
            <name>CreateCaseNoteText</name>
            <fieldText>&lt;p&gt;Would you like to create and link a Case Note to this Session?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseNoteNeeded</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Create Case Note?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MissingCPScreen</name>
        <label>MissingCPScreen</label>
        <locationX>1021</locationX>
        <locationY>702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingCPText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;This Case is missing a Collection Period.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Session &amp;amp; Case Note cannot be recorded for this Case as it has been more than 2 Months since the last Collection Period.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Cases Collection Periods have already been uploaded and so this case needs to be closed and a new case created for the new Collection Period.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewSessionScreen</name>
        <label>New Session</label>
        <locationX>1591</locationX>
        <locationY>1089</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckSiteOrLocationEntered</targetReference>
        </connector>
        <fields>
            <name>Session_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Formula_SessionName</elementReference>
            </defaultValue>
            <fieldText>Session Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Session name cannot exceed 80 chatacters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Session_Name}) &lt;= 80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NewSessionScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewSessionScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ProvidedStartDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Start Date / Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;A session start date/time cannot be before the enquiry/referral date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>DATEVALUE({!Start_Date_Time}) &gt;= {!GetCase.Date_of_Enquiry_or_Referral__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NewSessionScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SessionOwnerId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Buddy__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Session Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Session__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NewSessionScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewSessionScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Duration_Hours</name>
                    <choiceReferences>ChoicePicklistDurationHours</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>0</stringValue>
                    </defaultValue>
                    <fieldText>Duration Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Duration_Minutes</name>
                    <choiceReferences>ChoicePicklistDurationMinutes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00</stringValue>
                    </defaultValue>
                    <fieldText>Duration Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_Session_a_No_Show</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Service_Setting</name>
            <choiceReferences>ChoicePicklistServiceSetting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Setting</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocationText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Location&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &lt;b&gt;Social Futures Site / Office&lt;/b&gt; and then choose one of our office locations from the picklist, or select &lt;b&gt;Offsite / Outreach &lt;/b&gt;before recording details of the offsite location in the box below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Type</name>
            <choiceReferences>ChoiceLocationSocialFuturesOffice</choiceReferences>
            <choiceReferences>ChoiceLocationOffsiteOutreach</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SocialFuturesSite</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>ServiceTerritoryNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>ServiceTerritoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DefaultServiceTerritory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Social Futures Site List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceLocationSocialFuturesOffice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Non_Social_Futures_Location</name>
            <dataType>String</dataType>
            <fieldText>Outreach / Offsite Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Location_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceLocationOffsiteOutreach</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSessionScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewSessionScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SMSAppointmentText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;SMS Appointment Reminders&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If no SMS appointment reminders should  be sent, tick the checkbox below&lt;/li&gt;&lt;li&gt;Otherwise leave the checkbox blank and select the participant from the below list to send SMS appointment reminders&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_not_send_SMS_notification</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_not_send_SMS_notification</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Do Not Send SMS Appointment Reminders&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_not_send_SMS_notification</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>smsContacts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the participant who should receive the SMS appointment reminders</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Contacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-23bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-8bd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Phone&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;SMS_Consent__c&quot;,&quot;guid&quot;:&quot;column-bfe5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;SMS Consent&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;SMS Consent&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>defaultContacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_not_send_SMS_notification</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Start_Date_Time</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>now</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choice_Yes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SectionSeparator</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to continue to the Next Page&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Show_Screen</name>
        <label>No Show Screen</label>
        <locationX>1476</locationX>
        <locationY>941</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Skip_Appointments</targetReference>
        </connector>
        <fields>
            <name>Is_this_Session_a_No_Show</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Is the session being recorded a no-show session?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectSiteOrLocationScreen</name>
        <label>Select Site Or Location</label>
        <locationX>1700</locationX>
        <locationY>1284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectSiteOrLocationText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERROR&lt;/b&gt;: Please select a Social Futures Site where the session was held or enter the details of a location if it is being held offsite as outreach.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &quot;Previous&quot; to review and amend.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transitional_Housing</name>
        <label>Transitional Housing?</label>
        <locationX>2238</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transitional</targetReference>
        </connector>
        <fields>
            <name>Is_this_family_in_Transitional_Housing</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Is this family in Transitional Housing?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1074</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Session_Participants</name>
        <label>Add Session Participants</label>
        <locationX>4426</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Session_Creation_Loop</targetReference>
        </connector>
        <flowName>AddSessionParticipants</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Session_Creation_Loop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COS_Assessment</name>
        <label>COS Assessment</label>
        <locationX>5668</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>SkipFollowOnActionsDec</targetReference>
        </connector>
        <flowName>Assessment_COS</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionid</name>
            <value>
                <elementReference>SessionId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault</name>
        <label>FlowFault</label>
        <locationX>3156</locationX>
        <locationY>890</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault_0</name>
        <label>FlowFault</label>
        <locationX>671</locationX>
        <locationY>1471</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault_0_0</name>
        <label>FlowFault</label>
        <locationX>3815</locationX>
        <locationY>1709</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault_0_0_0</name>
        <label>FlowFault</label>
        <locationX>4406</locationX>
        <locationY>2099</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault_0_0_0_0</name>
        <label>FlowFault</label>
        <locationX>4808</locationX>
        <locationY>1389</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault_0_0_0_0_0</name>
        <label>FlowFault</label>
        <locationX>1459</locationX>
        <locationY>577</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Session_Case_Note</name>
        <label>Session Case Note</label>
        <locationX>4803</locationX>
        <locationY>979</locationY>
        <connector>
            <targetReference>SHS_Program</targetReference>
        </connector>
        <flowName>Session_Case_Note</flowName>
        <inputAssignments>
            <name>CasePlan</name>
            <value>
                <elementReference>CasePlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ChildSessions</name>
            <value>
                <elementReference>ChildSessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DoNotNavigateToCaseURL</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedActivityDateTime</name>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SessionName</name>
            <value>
                <elementReference>Session_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Session_Services</name>
        <label>Session Services</label>
        <locationX>2114</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>MJKIM_Program</targetReference>
        </connector>
        <flowName>Session_Services</flowName>
        <inputAssignments>
            <name>inputSession</name>
            <value>
                <elementReference>Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isDEXScoreSession</name>
            <value>
                <elementReference>isDEXScoreSession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NoShowSession</name>
            <value>
                <elementReference>Is_this_Session_a_No_Show</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>COSNeeded</assignToReference>
            <name>COSneeded</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Session</assignToReference>
            <name>inputSession</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isDEXScoreSession</assignToReference>
            <name>isDEXScoreSession</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CasePlan</assignToReference>
            <name>Output_CasePlan</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageApprovalRequired</assignToReference>
            <name>OutputApprovalRequired</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageApprover</assignToReference>
            <name>OutputApprover</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageDetails</assignToReference>
            <name>OutputDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralGeneralComments</assignToReference>
            <name>OutputGeneralComments</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokeragePaymentType</assignToReference>
            <name>OutputPaymentType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralPresentingIssues</assignToReference>
            <name>OutputPresentingIssues</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageREAFunding</assignToReference>
            <name>OutputREAFunding</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralTrue</assignToReference>
            <name>OutputReferral</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralOrganisation</assignToReference>
            <name>OutputReferralOrganisation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralOrganisationContact</assignToReference>
            <name>OutputReferralOrganisationContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralPurpose</assignToReference>
            <name>OutputReferralPurpose</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralStatus</assignToReference>
            <name>OutputReferralStatus</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralServiceReferredTo</assignToReference>
            <name>OutputServiceReferredTo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageVoucherId</assignToReference>
            <name>OutputVoucherId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralCaseMember</assignToReference>
            <name>OutputReferralCaseMember</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Brokerage_Referral</name>
        <label>Set Brokerage/Referral</label>
        <locationX>4238</locationX>
        <locationY>2094</locationY>
        <connector>
            <targetReference>SetSessionId</targetReference>
        </connector>
        <flowName>Session_Brokerage</flowName>
        <inputAssignments>
            <name>ApprovalRequired</name>
            <value>
                <elementReference>BrokerageApprovalRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApproverId</name>
            <value>
                <elementReference>BrokerageApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Details</name>
            <value>
                <elementReference>BrokerageDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputVoucherId</name>
            <value>
                <elementReference>BrokerageVoucherId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentType</name>
            <value>
                <elementReference>BrokeragePaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>REAFunding</name>
            <value>
                <elementReference>BrokerageREAFunding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralCheck</name>
            <value>
                <elementReference>ReferralTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralComments</name>
            <value>
                <elementReference>ReferralGeneralComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralPresentingIssues</name>
            <value>
                <elementReference>ReferralPresentingIssues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralPurpose</name>
            <value>
                <elementReference>ReferralPurpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralStatus</name>
            <value>
                <elementReference>ReferralStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferredOrganisation</name>
            <value>
                <elementReference>ReferralOrganisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferredOrganisationContact</name>
            <value>
                <elementReference>ReferralOrganisationContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceReferredTo</name>
            <value>
                <elementReference>ReferralServiceReferredTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralCaseMember</name>
            <value>
                <elementReference>ReferralCaseMember</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BrokerageApprovalRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokeragePaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageREAFunding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageVoucherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSessions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSessionsMulti</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChildSessions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COSNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Count_CaseMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>defaultContactSelection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDEXScoreSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsDuplicationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PrimaryMemberRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedSessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CaseId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralCaseMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralGeneralComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralOrganisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralOrganisationContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralPresentingIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralServiceReferredTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <description>Used to pass this session&apos;s start date onto subsequent flows</description>
        <name>SessionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Participant__c</objectType>
    </variables>
    <variables>
        <name>SkipCaseNote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>If true, the automatic redirect to the session / question about completing a Case Note will be skipped. Usually set to True if being used as a subflow from another flow</description>
        <name>SkipFollowonActions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ToggleDefault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
