DevOps/force-app/main/default/flows/Intake_Care_Connect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Intake_Date</name>
        <label>Assign Intake Date</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>IntakeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session.Session_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intake_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical</name>
        <label>Assign_Medical</label>
        <locationX>512</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>MedicalCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_take_any_medication_for_these_conditions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Profession_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medical_False</name>
        <label>Assign_Medical_False</label>
        <locationX>248</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>MedicalCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Profession_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review</name>
        <label>Assign Review</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>IntakeReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntakeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intake.Assessment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intake_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrgType</name>
        <label>AssignOrgType</label>
        <locationX>248</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ReferralOrgType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>98</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_K10</name>
        <choiceText>K10 (18+)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_K5</name>
        <choiceText>K5 (First Nations Peoples if English is not their first language)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SDQ</name>
        <choiceText>SDQ (17 and Under)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assessment_Choice</name>
        <label>Assessment Choice</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>IAR_DST_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fault</defaultConnectorLabel>
        <rules>
            <name>K10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_K10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K10_Assessment</targetReference>
            </connector>
            <label>K10</label>
        </rules>
        <rules>
            <name>K5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_K5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K5_Assessment</targetReference>
            </connector>
            <label>K5</label>
        </rules>
        <rules>
            <name>SDQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SDQ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDQ_Assessment</targetReference>
            </connector>
            <label>SDQ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkbox_False</name>
        <label>Checkbox False</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Medical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_take_any_medication_for_these_conditions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medical_False</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Check</name>
        <label>Intake Check</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Select_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Intake</defaultConnectorLabel>
        <rules>
            <name>Intake_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Review</targetReference>
            </connector>
            <label>Intake Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profession_Type</name>
        <label>Profession Type?</label>
        <locationX>380</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Self_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referrer_Profession</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>98</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOrgType</targetReference>
            </connector>
            <label>Self-Referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_Creation</name>
        <label>Review/Creation</label>
        <locationX>380</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Create_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Creation</defaultConnectorLabel>
        <rules>
            <name>Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IntakeReview</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake</targetReference>
            </connector>
            <label>Review</label>
        </rules>
    </decisions>
    <description>Added input variables for Session</description>
    <dynamicChoiceSets>
        <name>Choice_Clinician</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Clinician_Preference__c</picklistField>
        <picklistObject>Initial_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Conducted</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Conducted_with__c</picklistField>
        <picklistObject>Initial_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_of_Birth__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Disability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Disability__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_DisabilityOther</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Disabilities__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_EmergencyRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Relationship__c</picklistField>
        <picklistObject>Initial_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Feedback</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Social_Futures_Feedback_Consent__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_IdentifiesAs</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identifies_As__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Indigenous</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indigenous_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Injected</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AOD_Injecting__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Labour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Labour_Force_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Language</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Main_Language_Spoken_at_Home__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Marital</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Method</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AOD_PDoCmethod__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_NDIS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NDIS_Participant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_OtherDrug</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AOD_ODoC__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_PreferredContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Communication_Method__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_PrimaryDrug</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AOD_PDoC__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Relationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_Status__c</picklistField>
        <picklistObject>Initial_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Sex</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sex__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Suicide</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Suicide_Referral_Flag__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Referrer_Profession_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referrer_Profession__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Intake: Care Connect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intake: Care Connect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Intake</name>
        <label>Create Intake</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Intake_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Activities_in_Free_Time__c</field>
            <value>
                <elementReference>Activities_in_Free_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Intake_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avaliable_Resources__c</field>
            <value>
                <elementReference>Avaliable_Resources</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_City__c</field>
            <value>
                <elementReference>Emergency_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Country__c</field>
            <value>
                <elementReference>Emergency_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Date_of_Birth__c</field>
            <value>
                <elementReference>Emergency_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Email__c</field>
            <value>
                <elementReference>Emergency_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_First_Name__c</field>
            <value>
                <elementReference>Emergency_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Last_Name__c</field>
            <value>
                <elementReference>Emergency_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Phone_Number__c</field>
            <value>
                <elementReference>Emergency_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Postcode__c</field>
            <value>
                <elementReference>Emergency_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_State__c</field>
            <value>
                <elementReference>Emergency_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Street__c</field>
            <value>
                <elementReference>Emergency_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Relationship__c</field>
            <value>
                <elementReference>Emergency_Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_and_reliability__c</field>
            <value>
                <elementReference>Engagement_and_reliability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Relationship_Details__c</field>
            <value>
                <elementReference>Family_Relationship_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foreseeable_Changes__c</field>
            <value>
                <elementReference>Foreseeable_Changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Environment__c</field>
            <value>
                <elementReference>Home_Environment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impulsivity_self_control__c</field>
            <value>
                <elementReference>Impulsivity_self_control</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_term_risk_factors__c</field>
            <value>
                <elementReference>Long_term_risk_factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_Health_Comments__c</field>
            <value>
                <elementReference>Mental_Health_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_of_Kin_Details__c</field>
            <value>
                <elementReference>Next_of_Kin_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_suicidal_behaviour__c</field>
            <value>
                <elementReference>Past_suicidal_behaviour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiving_an_Income_Source__c</field>
            <value>
                <elementReference>Receiving_an_Income_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_present_suicide_ideation__c</field>
            <value>
                <elementReference>Recent_present_suicide_ideation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Intake_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_State__c</field>
            <value>
                <elementReference>Risk_State_How_does_the_risk_compare_to_other_times_in_the_participant_s_life_wh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Status__c</field>
            <value>
                <elementReference>Risk_Status_How_does_the_risk_compare_relative_to_other_participants_in_the_prog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Plan_Knowledge_and_or_in_place__c</field>
            <value>
                <elementReference>Safety_Plan_Knowledge_and_or_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strengths_and_protective_factors__c</field>
            <value>
                <elementReference>Strengths_and_protective_factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stressors_precipitants__c</field>
            <value>
                <elementReference>Stressors_precipitants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Network__c</field>
            <value>
                <elementReference>Support_Network</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms_suffering_and_recent_changes__c</field>
            <value>
                <elementReference>Symptoms_suffering_and_recent_changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_kind_of_support__c</field>
            <value>
                <elementReference>What_kind_of_support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_other_other_commitments__c</field>
            <value>
                <elementReference>Work_other_other_commitments</elementReference>
            </value>
        </inputAssignments>
        <object>Initial_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Initial_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Record_Type</name>
        <label>Get Intake Record Type</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intake_Care_Connect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>512</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Intake_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>380</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referrer_Organisation_Type__c</field>
            <value>
                <elementReference>ReferralOrgType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Profession__c</field>
            <value>
                <elementReference>Referrer_Profession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Intake</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suicide_Referral_Flag__c</field>
            <value>
                <elementReference>Suicide_Referral_Flag</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>380</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Review_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Birth__c</field>
            <value>
                <elementReference>Country_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identifies_As__c</field>
            <value>
                <elementReference>Do_you_identify_as_LGBTIQSB_or_Culturally_and_Linguistically_Diverse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indigenous_Status__c</field>
            <value>
                <elementReference>Indigenous_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Language_Spoken_at_Home__c</field>
            <value>
                <elementReference>Main_Language_Spoken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Disabilities__c</field>
            <value>
                <elementReference>Other_Disabilites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>Preferred_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Disability__c</field>
            <value>
                <elementReference>Primary_Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Futures_Feedback_Consent__c</field>
            <value>
                <elementReference>Feedback_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verbal_Consent__c</field>
            <value>
                <elementReference>Verbal_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Written_Consent__c</field>
            <value>
                <elementReference>Written_Consent</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Intake_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activities_in_Free_Time__c</field>
            <value>
                <elementReference>Activities_in_Free_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Intake_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avaliable_Resources__c</field>
            <value>
                <elementReference>Avaliable_Resources</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_City__c</field>
            <value>
                <elementReference>Emergency_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Country__c</field>
            <value>
                <elementReference>Emergency_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Date_of_Birth__c</field>
            <value>
                <elementReference>Emergency_Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Email__c</field>
            <value>
                <elementReference>Emergency_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_First_Name__c</field>
            <value>
                <elementReference>Emergency_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Last_Name__c</field>
            <value>
                <elementReference>Emergency_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Phone_Number__c</field>
            <value>
                <elementReference>Emergency_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Postcode__c</field>
            <value>
                <elementReference>Emergency_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_State__c</field>
            <value>
                <elementReference>Emergency_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Street__c</field>
            <value>
                <elementReference>Emergency_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Relationship__c</field>
            <value>
                <elementReference>Emergency_Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_and_reliability__c</field>
            <value>
                <elementReference>Engagement_and_reliability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Relationship_Details__c</field>
            <value>
                <elementReference>Family_Relationship_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foreseeable_Changes__c</field>
            <value>
                <elementReference>Foreseeable_Changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Environment__c</field>
            <value>
                <elementReference>Home_Environment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impulsivity_self_control__c</field>
            <value>
                <elementReference>Impulsivity_self_control</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_term_risk_factors__c</field>
            <value>
                <elementReference>Long_term_risk_factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_Health_Comments__c</field>
            <value>
                <elementReference>Mental_Health_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_of_Kin_Details__c</field>
            <value>
                <elementReference>Next_of_Kin_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_suicidal_behaviour__c</field>
            <value>
                <elementReference>Past_suicidal_behaviour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiving_an_Income_Source__c</field>
            <value>
                <elementReference>Receiving_an_Income_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_present_suicide_ideation__c</field>
            <value>
                <elementReference>Recent_present_suicide_ideation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_State__c</field>
            <value>
                <elementReference>Risk_State_How_does_the_risk_compare_to_other_times_in_the_participant_s_life_wh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Status__c</field>
            <value>
                <elementReference>Risk_Status_How_does_the_risk_compare_relative_to_other_participants_in_the_prog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Plan_Knowledge_and_or_in_place__c</field>
            <value>
                <elementReference>Safety_Plan_Knowledge_and_or_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strengths_and_protective_factors__c</field>
            <value>
                <elementReference>Strengths_and_protective_factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stressors_precipitants__c</field>
            <value>
                <elementReference>Stressors_precipitants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Network__c</field>
            <value>
                <elementReference>Support_Network</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms_suffering_and_recent_changes__c</field>
            <value>
                <elementReference>Symptoms_suffering_and_recent_changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_kind_of_support__c</field>
            <value>
                <elementReference>What_kind_of_support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_other_other_commitments__c</field>
            <value>
                <elementReference>Work_other_other_commitments</elementReference>
            </value>
        </inputAssignments>
        <object>Initial_Assessment__c</object>
    </recordUpdates>
    <screens>
        <name>Intake_Created</name>
        <label>Intake Created</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assessment_Choice</targetReference>
        </connector>
        <fields>
            <name>Intake_Created_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Intake Created&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The intake form has been created. If it needs to be reviewed please refer to the &lt;strong&gt;Assessments &lt;/strong&gt;tab on the case.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Consent reminder: &lt;/strong&gt;written consent must be obtained and evidence uploaded to the Participant Case before the Initial Assessment can be completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select an appropriate Assessment below to complete that will be followed by an IAR-DST Assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Assessment</name>
            <choiceReferences>Choice_K10</choiceReferences>
            <choiceReferences>Choice_K5</choiceReferences>
            <choiceReferences>Choice_SDQ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Assessment:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intake_Details_Screen</name>
        <label>Intake Details:</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkbox_False</targetReference>
        </connector>
        <fields>
            <name>Intake_Details</name>
            <fieldText>Intake Details:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intake_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intake_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>IntakeDate</elementReference>
                    </defaultValue>
                    <fieldText>Intake Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date cannot be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Intake_Date} &lt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intake_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Referrer_Profession</name>
                    <choiceReferences>Referrer_Profession_Options</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Case.Referrer_Profession__c</elementReference>
                    </defaultValue>
                    <fieldText>Referrer Profession</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Suicide_Referral_Flag</name>
                    <choiceReferences>Picklist_Suicide</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Case.Suicide_Referral_Flag__c</elementReference>
                    </defaultValue>
                    <fieldText>Suicide Referral Flag</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent</name>
            <fieldText>Consent to Participate and Collect Personal Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verbal_Consent_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;The Participant consents to be a participant in the Social Futures Program. They understand and can withdraw consent at any time. They acknowledge that personal information about me will be captured and stored on a secure Social Futures database.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Verbal consent must be obtained, as a minimum, to complete the Intake process. Check this box to confirm that the Participant has verbally Consented to Participate and for Social Futures to Collect Personal Information.&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Verbal_Consent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Verbal_Consent__c</elementReference>
                    </defaultValue>
                    <fieldText>Verbal Consent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Written_Consent_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;To participate in this program, written consent must be obtained and a scanned copy uploaded to the Participant Case record before the Initial Assessment can be completed. Check this box ONLY if consent has been obtained and a scanned copy of written consent uploaded.&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Written_Consent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Written_Consent__c</elementReference>
                    </defaultValue>
                    <fieldText>Written Consent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Feedback_Consent_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Consent to be contacted by Social Futures, during or after participation in the program, to be asked to provide feedback.&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Feedback_Consent</name>
                    <choiceReferences>Picklist_Feedback</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Social_Futures_Feedback_Consent__c</elementReference>
                    </defaultValue>
                    <fieldText>Feedback Consent:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Participant_Details</name>
            <fieldText>Participant Details:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 40 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!First_Name})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 80 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Last_Name})&lt;=80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Preferred_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Preferred_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Preferred Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 100 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Preferred_Name})&lt;=100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Pronouns</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Preferred_Pronouns__c</elementReference>
                    </defaultValue>
                    <fieldText>Pronouns:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 16 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Pronouns})&lt;=16</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Birthdate</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Birthdate cannot be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth} &lt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Phone:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(OR(REGEX({!Phone},&quot;[0-9]*&quot;), REGEX({!Phone},&quot;\\+[0-9]*&quot;)),LEN({!Phone})&lt;14)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Preferred_Method_of_Contact</name>
                    <choiceReferences>Picklist_PreferredContact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Preferred_Communication_Method__c</elementReference>
                    </defaultValue>
                    <fieldText>Preferred Method of Contact:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search for Address:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Contact.OtherCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Contact.OtherStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Contact.OtherState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Contact.OtherPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Contact.OtherCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Address must contain at least the City, State and Postal Code.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(NOT(ISBLANK({!Address.city})), NOT(ISBLANK({!Address.province})), NOT(ISBLANK({!Address.postalCode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Participant_Details</name>
            <fieldText>Additional Participant Details:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Participant_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>Picklist_Sex</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Sex__c</elementReference>
                    </defaultValue>
                    <fieldText>Gender:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Do_you_identify_as_LGBTIQSB_or_Culturally_and_Linguistically_Diverse</name>
                    <choiceReferences>Picklist_IdentifiesAs</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Identifies_As__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you identify as LGBTIQSB+ or Culturally and Linguistically Diverse?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Indigenous_Status</name>
                    <choiceReferences>Picklist_Indigenous</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Indigenous_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Indigenous Status:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Main_Language_Spoken</name>
                    <choiceReferences>Picklist_Language</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Main_Language_Spoken_at_Home__c</elementReference>
                    </defaultValue>
                    <fieldText>Main Language Spoken:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Country_of_Birth</name>
                    <choiceReferences>Picklist_Country</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Country_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Country of Birth:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Participant_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Disability</name>
                    <choiceReferences>Picklist_Disability</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Primary_Disability__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Disability:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Do_you_take_any_medication_for_these_conditions</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Medication_for_these_conditions__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you take any medication for these conditions?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Primary_Disability</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>No Disability</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Primary_Disability</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Stated / Inadequately described</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Disabilites</name>
                    <choiceReferences>Picklist_DisabilityOther</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact.Other_Disabilities__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Disabilites:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Emergency_Contact</name>
            <fieldText>Emergency Contact:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Emergency_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Emergency_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Emergency_Contact_First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 40 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Emergency_First_Name})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Emergency_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Emergency_Contact_Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 40 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Emergency_Last_Name})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Emergency_Relationship</name>
                    <choiceReferences>Picklist_EmergencyRelationship</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Emergency_Relationship__c</elementReference>
                    </defaultValue>
                    <fieldText>Relationship:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Emergency_Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Emergency_Contact_Date_of_Birth__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Birth:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Birthdate cannot be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Emergency_Date_of_Birth} &lt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Emergency_Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Emergency_Contact_Phone_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Phone:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(OR(REGEX({!Emergency_Phone},&quot;[0-9]*&quot;), REGEX({!Emergency_Phone},&quot;\\+[0-9]*&quot;)),LEN({!Emergency_Phone})&lt;14)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Emergency_Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Intake.Emergency_Contact_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Email:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Emergency_Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Emergency_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search for Address:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Intake.Emergency_Contact_Street__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Intake.Emergency_Contact_City__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Intake.Emergency_Contact_State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Intake.Emergency_Contact_Postcode__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Intake.Emergency_Contact_Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Next_Of_Kin_Details_Header</name>
            <fieldText>Next Of Kin Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Next_Of_Kin_Details_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Next_of_Kin_Details</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Next_of_Kin_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Next of Kin Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Family_Relationship_Details_Header</name>
            <fieldText>Family &amp; Relationship Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Family_Relationship_Details_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Family_Relationship_Details</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Family_Relationship_Details__c}</stringValue>
                    </defaultValue>
                    <fieldText>Family &amp; Relationship Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Intake_Questionnaire</name>
            <fieldText>Participant History</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intake_Questionnaire_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Home_Environment</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Home_Environment__c}</stringValue>
                    </defaultValue>
                    <fieldText>What are your current living or home arrangements?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 10000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Home_Environment})&lt;=10000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Work_other_other_commitments</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Work_other_other_commitments__c}</stringValue>
                    </defaultValue>
                    <fieldText>What is your current studying, working or volunteering situation?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 10000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Work_other_other_commitments})&lt;=10000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Receiving_an_Income_Source</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Receiving_an_Income_Source__c}</stringValue>
                    </defaultValue>
                    <fieldText>Are you receiving any money from wages, benefits or elsewhere?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 10000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Receiving_an_Income_Source})&lt;=10000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Support_Network</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Support_Network__c}</stringValue>
                    </defaultValue>
                    <fieldText>Do you have people you rely on in your family, friendships, or community?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 10000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Support_Network})&lt;=10000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Activities_in_Free_Time</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Activities_in_Free_Time__c}</stringValue>
                    </defaultValue>
                    <fieldText>What do you enjoy doing in your free time?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_kind_of_support</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.What_kind_of_support__c}</stringValue>
                    </defaultValue>
                    <fieldText>What current formal supports do you have in place from other providers?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Safety_Plan_Knowledge_and_or_in_place</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Safety_Plan_Knowledge_and_or_in_place__c}</stringValue>
                    </defaultValue>
                    <fieldText>Have you heard of a safety plan, and do you already have one in place?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mental_Health_Comments</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Mental_Health_Comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>How would you describe your mental health?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SafeSide_Focus_Areas</name>
            <fieldText>SafeSide Focus Areas</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SafeSide_Focus_Areas_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Strengths_and_protective_factors</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Strengths_and_protective_factors__c}</stringValue>
                    </defaultValue>
                    <fieldText>Strengths and protective factors</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Past_suicidal_behaviour</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Past_suicidal_behaviour__c}</stringValue>
                    </defaultValue>
                    <fieldText>Past suicidal behaviour</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recent_present_suicide_ideation</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Recent_present_suicide_ideation__c}</stringValue>
                    </defaultValue>
                    <fieldText>Recent/present suicide ideation or behaviour</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Stressors_precipitants</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Stressors_precipitants__c}</stringValue>
                    </defaultValue>
                    <fieldText>Stressors/precipitants</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Symptoms_suffering_and_recent_changes</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Symptoms_suffering_and_recent_changes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Symptoms, suffering and recent changes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Long_term_risk_factors</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Long_term_risk_factors__c}</stringValue>
                    </defaultValue>
                    <fieldText>Long term risk factors</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Impulsivity_self_control</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Impulsivity_self_control__c}</stringValue>
                    </defaultValue>
                    <fieldText>Impulsivity/self control (incl. substance use)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Engagement_and_reliability</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Engagement_and_reliability__c}</stringValue>
                    </defaultValue>
                    <fieldText>Engagement and reliability</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Avaliable_Resources_Section</name>
            <fieldText>Avaliable Resources</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Avaliable_Resources_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Avaliable_Resources</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Avaliable_Resources__c}</stringValue>
                    </defaultValue>
                    <fieldText>Avaliable Resources</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Foreseeable_Changes_Section</name>
            <fieldText>Foreseeable Changes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Foreseeable_Changes_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foreseeable_Changes</name>
                    <defaultValue>
                        <stringValue>{!Get_Intake.Foreseeable_Changes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Foreseeable Changes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Internal_Use_Only_Risk_Formulation</name>
            <fieldText>Internal Use Only - Risk Formulation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Internal_Use_Only_Risk_Formulation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Status_How_does_the_risk_compare_relative_to_other_participants_in_the_prog</name>
                    <fieldText>Risk Status: How does the risk compare relative to other participants in the program?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risk_State_How_does_the_risk_compare_to_other_times_in_the_participant_s_life_wh</name>
                    <fieldText>Risk State: How does the risk compare to other times in the participants life when they were at suicide risk?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intake_Updated</name>
        <label>Intake Updated</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Intake_Updated_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Intake Updated&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The intake form has been updated. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;It can be viewed using the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Assessments &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;tab on the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Consent reminder: &lt;/strong&gt;written consent must be obtained and evidence uploaded to the Participant Case before the Initial Assessment can be completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Select_Session</name>
        <label>Create/Select Session</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
        <flowName>Session_New_or_Existing</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sessionId</assignToReference>
            <name>SessionId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>IAR_DST_Assessment</name>
        <label>IAR-DST Assessment</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <flowName>Assessment_IAR_DST</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessiondate</name>
            <value>
                <elementReference>IntakeDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>K10_Assessment</name>
        <label>K10 Assessment</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>IAR_DST_Assessment</targetReference>
        </connector>
        <flowName>Assessment_K10</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SessionDate</name>
            <value>
                <elementReference>IntakeDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>K5_Assessment</name>
        <label>K5 Assessment</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>IAR_DST_Assessment</targetReference>
        </connector>
        <flowName>Assessment_K5</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SDQ_Assessment</name>
        <label>SDQ Assessment</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>IAR_DST_Assessment</targetReference>
        </connector>
        <flowName>Assessment_SDQ</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IntakeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntakeReview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MedicalCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralOrgType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>99</stringValue>
        </value>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
