DevOps/force-app/main/default/flows/LAC_Record_Reassessment_Activity_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GoTo_NDIS_Plan</name>
        <label>GoTo NDIS Plan</label>
        <locationX>3262</locationX>
        <locationY>4802</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_NDIS_Plan</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Activity_Log_Values_NDISAccess</name>
        <label>Assign Activity Log Values</label>
        <locationX>3262</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Additional_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Callback_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Callback_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Activity_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_task_names</name>
        <label>Assign task names</label>
        <locationX>2888</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>BookingTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Reassessment Appointment Booking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Reassessment Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmissionTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Reassessment Check-In Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RescheduleTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Reassessment Appointment Reschedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_NDIA_Date_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Record_Type_ID</name>
        <label>Assign Record Type ID</label>
        <locationX>3262</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>BPSActivityLog.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activityLogRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monitoring_Activity_Log_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_task_names</name>
        <label>Copy 1 of Assign task names</label>
        <locationX>3328</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>BookingTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan Change Check-In Appointment Booking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan Change Check-In Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmissionTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan Change Check-In Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RescheduleTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan Change Check-In Appointment Reschedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_NDIA_Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_update_Check_In_set_task</name>
        <label>Copy 1 of update Check-In set task</label>
        <locationX>3218</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTP Complete in CRM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_submission_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_appointment_status_to_held</name>
        <label>set appointment status to held</label>
        <locationX>4010</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.NDIA_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PACE_Case_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_submission_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appt_and_Contact_Status</name>
        <label>Set Appt and Contact Status</label>
        <locationX>5638</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTC Complete in CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTC Complete in CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Unsuccessful_Contact_Attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnsuccessfulContactsPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UTC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Status</name>
        <label>Set Contact Status</label>
        <locationX>2448</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Unsuccessful_Contact_Attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnsuccessfulContactsPlus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Most_Recent_Appointment_Contact_Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Check_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_and_complete_check_in</name>
        <label>Update and complete check-in</label>
        <locationX>3262</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Held</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Plan_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.NDIA_Case_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PACE_Case_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_NDIS_Plan_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_check_In_Reschedule</name>
        <label>Update check-In Reschedule</label>
        <locationX>4604</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reschedule Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reschedule Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Scheduled_Appointment_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.TaskID_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Reschedule_task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Unsuccessful_Contact_Attempts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Check_In_Rescudule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Check_In_set_task</name>
        <label>update Check-In set task</label>
        <locationX>3218</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.TaskID_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_submission_task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Checkin_appointment_held</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_check_in_successful_contact</name>
        <label>Update check-in successful contact</label>
        <locationX>1799</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Unsuccessful_Contact_Attempts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Most_Recent_Appointment_Contact_Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Check_In</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_successful_check_in</name>
        <label>Update check-in</label>
        <locationX>578</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Scheduled_Appointment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.TaskID_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Appointment_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Unsuccessful_Contact_Attempts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Most_Recent_Appointment_Contact_Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Check_In_With_Booking_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UTP_Set_Appt_and_Contact_Status</name>
        <label>UTP Set Appt and Contact Status</label>
        <locationX>6078</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTP Complete in CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Appointment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTP Complete in CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Check_In.Date_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UTP</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reassessment</name>
        <choiceText>Reassessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Variation</name>
        <choiceText>Variation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Variation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Appointment_Scheduled</name>
        <label>Appointment Scheduled?</label>
        <locationX>1320</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Successful_Check_for_booking_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appt_Scheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_set_complete_it</targetReference>
            </connector>
            <label>Appt Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Booking_Task_Exists</name>
        <label>Booking Task Exists</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Task_s_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_Continuation</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Task/s Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Callback_Date_Requested</name>
        <label>Callback Date Requested?</label>
        <locationX>1414</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Successful_Extend_task_due_date_appointment_booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requested_Callback_Date_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callback_Requested_Extend_task_due_date_appointment_booking</targetReference>
            </connector>
            <label>Date Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_booking_task</name>
        <label>Check for booking task</label>
        <locationX>2448</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appt_Booking_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_task_appointment_booking</targetReference>
            </connector>
            <label>Appt_Booking task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_required_fields_NDISAccess</name>
        <label>Check for required fields</label>
        <locationX>3262</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_Activity_Log_Values_NDISAccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appt_or_Submitted_Without_Contact</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.Most_Recent_Appointment_Contact_Attempt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activity_Log_Values_NDISAccess</targetReference>
            </connector>
            <label>Appt or Submitted Without Contact</label>
        </rules>
        <rules>
            <name>Submitted_Or_Continuation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed_Continuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activity_Log_Values_NDISAccess</targetReference>
            </connector>
            <label>Submitted Or Continuation</label>
        </rules>
        <rules>
            <name>Required_fields_missing_NDISAccess</name>
            <conditionLogic>((1 OR 2) AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admin Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Required_Fields_Missing_Screen</targetReference>
            </connector>
            <label>Required fields missing</label>
        </rules>
        <rules>
            <name>UTC_Complete_in_CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Check_In.Unsuccessful_Contact_Attempts__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unsuccessful_contact_attemps</targetReference>
            </connector>
            <label>UTC Complete in CRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_NDIA_Date_Set</name>
        <label>Check If NDIA Date Set</label>
        <locationX>2888</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Reassessment_PreReassessment_record_type_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.NDIA_Case_Created__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_set_NDIA_Case_Created_Date_Screen</targetReference>
            </connector>
            <label>Date Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_PACE_Case_Created_Set</name>
        <label>Check If PACE Case Created Set</label>
        <locationX>3526</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_task_set_complete_it</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.NDIA_Case_Created__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PACE_Case_Created_Date</targetReference>
            </connector>
            <label>Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Open</name>
        <label>Check-In Open?</label>
        <locationX>5220</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_In_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LAC_task_record_type_id</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_in_Type</name>
        <label>Check-in Type</label>
        <locationX>3262</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAC_Pre_Reassessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_Reassessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_task_names</targetReference>
            </connector>
            <label>Pre-Reassessment</label>
        </rules>
        <rules>
            <name>Plan_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan_Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_task_names</targetReference>
            </connector>
            <label>Plan Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_NDIA_Field_set</name>
        <label>check NDIA Date set</label>
        <locationX>3328</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Reassessment_PreReassessment_record_type_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NDIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.NDIA_Case_Created__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_set_NDIA_Date</targetReference>
            </connector>
            <label>NDIA Date not set</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_task</name>
        <label>check task</label>
        <locationX>4406</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Complete_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>complete</defaultConnectorLabel>
        <rules>
            <name>Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AppointmentTaskName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Complete_task</targetReference>
            </connector>
            <label>Reschedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_task_appointment_booking</name>
        <label>Check task (appointment booking)</label>
        <locationX>2294</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Set_Contact_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Extend_Booking_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_task_appointment_booking.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookingTaskName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extend_task_due_date_appointment_booking</targetReference>
            </connector>
            <label>Extend Booking Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_type_outcome</name>
        <label>check type / outcome</label>
        <locationX>3262</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_task_set_complete_it</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Confirmed_Continuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed_Continuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Case</targetReference>
            </connector>
            <label>Confirmed Continuation</label>
        </rules>
        <rules>
            <name>Outbound_Successful</name>
            <conditionLogic>(1 AND 2 and 4) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Scheduled</targetReference>
            </connector>
            <label>Outbound Successful / Inbound</label>
        </rules>
        <rules>
            <name>Outbound_Unsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_booking_task</targetReference>
            </connector>
            <label>OutboundUnsuccessful</label>
        </rules>
        <rules>
            <name>Appointment_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_PACE_Case_Created_Set</targetReference>
            </connector>
            <label>Appointment Held</label>
        </rules>
        <rules>
            <name>Reschedule_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_task_set_complete_it</targetReference>
            </connector>
            <label>Reschedule Required</label>
        </rules>
        <rules>
            <name>UTC_or_UTP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>UTC or UTP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_3_of_Task_Exists</name>
        <label>Copy 1 of Copy 3 of Task Exists</label>
        <locationX>6078</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Next_Check_In_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Task_s_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_UTP</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Task/s Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_task_set_complete_it</name>
        <label>task set, complete it</label>
        <locationX>4604</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Create_Reschedule_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_task</targetReference>
            </connector>
            <label>task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_task_set_complete_it</name>
        <label>task set, complete it</label>
        <locationX>3526</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Submitted_or_UTP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Complete_task</targetReference>
            </connector>
            <label>task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Task_Exists</name>
        <label>Copy 3 of Task Exists</label>
        <locationX>5638</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Check_In_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Task_s_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Task_UTC</targetReference>
            </connector>
            <label>Copy 1 of Task/s Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_task_set_complete_it</name>
        <label>task set, complete it</label>
        <locationX>3262</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Update_and_complete_check_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Complete_task</targetReference>
            </connector>
            <label>task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_13</name>
        <label>Decision 13</label>
        <locationX>6012</locationX>
        <locationY>2222</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UTC_Declaration</targetReference>
            </connector>
            <label>UTC</label>
        </rules>
        <rules>
            <name>UTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UTP_Set_Appt_and_Contact_Status</targetReference>
            </connector>
            <label>UTP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Successful_Contact</name>
        <label>Is First Successful Contact?</label>
        <locationX>1320</locationX>
        <locationY>3314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Successful_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.First_Successful_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_w_1st_Successful_Contact</targetReference>
            </connector>
            <label>First Successful Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_or_UTP</name>
        <label>Submitted or UTP</label>
        <locationX>3526</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>set_appointment_status_to_held</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submittedd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_task_set_complete_it</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>UTP_Complete_in_CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_Check_In_set_task</targetReference>
            </connector>
            <label>UTP Complete in CRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful_Check_for_booking_task</name>
        <label>Successful - Check for booking task</label>
        <locationX>1799</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Update_check_in_successful_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Appt_Booking_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_get_task_appointment_booking</targetReference>
            </connector>
            <label>Successful - Appt_Booking task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful_Check_task_appointment_booking</name>
        <label>Successful - Check task (appointment booking)</label>
        <locationX>1612</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Update_check_in_successful_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Extend_Booking_Due_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Successful_get_task_appointment_booking.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookingTaskName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Successful_get_task_appointment_booking.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RescheduleTaskName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callback_Date_Requested</targetReference>
            </connector>
            <label>Successful - Extend Booking Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>task_set_complete_it</name>
        <label>task set, complete it</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Is_First_Successful_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Check_In.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Booking_Task</targetReference>
            </connector>
            <label>Booking task</label>
        </rules>
        <rules>
            <name>Appointment_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Check_In.TaskID_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Check_In.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjust_appt_task_due_date</targetReference>
            </connector>
            <label>Appointment task</label>
        </rules>
    </decisions>
    <description>Update set CaseID position for Set Plan Approved and End Date task after Pre-Reassessment submission</description>
    <dynamicChoiceSets>
        <name>HoursPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hours__c</picklistField>
        <picklistObject>BPS_Activity_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MinutesPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Minutes__c</picklistField>
        <picklistObject>BPS_Activity_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PlanChangePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plan_Change_Requested__c</picklistField>
        <picklistObject>BPS_Check_In__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PlanUtilisationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plan_Utilisation__c</picklistField>
        <picklistObject>BPS_Check_In__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>BPS_Check_In__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportConnections</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Support_Connection_s_Related_To__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UtilisationReasonPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Utilisation_Reason__c</picklistField>
        <picklistObject>BPS_Check_In__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ActivityDateplus9</name>
        <dataType>Date</dataType>
        <expression>{!dateTimeDate} + 9</expression>
    </formulas>
    <formulas>
        <name>dateTimeDate</name>
        <dataType>Date</dataType>
        <expression>datevalue({!Date_Time})</expression>
    </formulas>
    <formulas>
        <name>dateTimeDatePlus7</name>
        <dataType>Date</dataType>
        <expression>{!dateTimeDate}+7</expression>
    </formulas>
    <formulas>
        <name>NULL</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PlanEndDateDateplus1</name>
        <dataType>Date</dataType>
        <expression>{!Get_Check_In.Plan__r.BPS_Plan_End_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>PlanEndDateplus12Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Copy_1_of_Get_Case.BPS_Plan_End_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>RequestedCallBackDate</name>
        <dataType>Date</dataType>
        <expression>datevalue({!Requested_Callback_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>RequestedCallbackTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Requested_Callback_Date_Time} + (11/24)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>todayPlus2Days</name>
        <dataType>Date</dataType>
        <expression>today()+2</expression>
    </formulas>
    <formulas>
        <name>todayPlus6months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),6)</expression>
    </formulas>
    <formulas>
        <name>todayPlus7</name>
        <dataType>Date</dataType>
        <expression>today()+7</expression>
    </formulas>
    <formulas>
        <name>UnsuccessfulContactsPlus1</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Check_In.Unsuccessful_Contact_Attempts__c}), 1, {!Get_Check_In.Unsuccessful_Contact_Attempts__c} + 1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Pre-Reassessment Activity Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment_Task</name>
        <label>Create Appointment Task</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Update_successful_check_in</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Check_In__c</field>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AppointmentTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_NDIS_Plan</name>
        <label>Create NDIS Plan</label>
        <locationX>3262</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Create_set_plan_approved_and_end_date_task</targetReference>
        </connector>
        <inputAssignments>
            <field>BPS_Appointment_Task_Id_18__c</field>
            <value>
                <elementReference>Create_set_plan_approved_and_end_date_task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Created_From_Plan__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_LAC_Office__c</field>
            <value>
                <elementReference>$User.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseNDISPlanRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>NDIS Plan - {!Get_Check_In.Plan__r.BPS_Participant__r.LastName}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Plan_End_Date_Task</name>
        <label>Create Plan End Date Task</label>
        <locationX>5638</locationX>
        <locationY>3062</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PlanEndDateDateplus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>UTC at Pre-Reassessment - Update Plan End Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reschedule_task</name>
        <label>Create Reschedule task</label>
        <locationX>4604</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Update_check_In_Reschedule</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>todayPlus2Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Check_In__c</field>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RescheduleTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_set_plan_approved_and_end_date_task</name>
        <label>Create set plan approved and end date task</label>
        <locationX>3262</locationX>
        <locationY>4478</locationY>
        <connector>
            <targetReference>update_check_in_submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>todayPlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set Plan Approved and End Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_NDIS_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_submission_task</name>
        <label>Create submission task</label>
        <locationX>3218</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>update_Check_In_set_task</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>todayPlus2Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Check_In__c</field>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubmissionTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_NDIS_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_UTP_Plan_End_Date_Task</name>
        <label>Create UTP Plan End Date Task</label>
        <locationX>6078</locationX>
        <locationY>2954</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>PlanEndDateDateplus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>UTP at Pre-Reassessment - Update Plan End Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Check_In.Plan__r.BPS_Participant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_Activity_Log</name>
        <label>Save Activity Log</label>
        <locationX>3262</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>check_type_outcome</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>BPSActivityLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Case</name>
        <label>Copy 1 of Get Case</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Next_Check_In_and_Plan_End_Date_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>6012</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Check_In</name>
        <label>Get Check-In</label>
        <locationX>5220</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BPS_Check_In__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_task_record_type_id</name>
        <label>Get LAC task record type id</label>
        <locationX>3262</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_in_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>taskLACRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NDIS_Plan_Record_Type_Id</name>
        <label>Get NDIS Plan Record Type Id</label>
        <locationX>3262</locationX>
        <locationY>4262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_NDIS_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC_NDIS_Plan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>caseNDISPlanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Reassessment_PreReassessment_record_type_id</name>
        <label>Get Reassessment / PreReassessment record type id</label>
        <locationX>3262</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BPS_Activity_Log__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reassessment_Pre_Reassessment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>activityLogRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_task</name>
        <label>get task</label>
        <locationX>4406</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_task_appointment_booking</name>
        <label>get task (appointment booking)</label>
        <locationX>2294</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_task_appointment_booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Successful_get_task_appointment_booking</name>
        <label>Successful - get task (appointment booking)</label>
        <locationX>1612</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successful_Check_task_appointment_booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Adjust_appt_task_due_date</name>
        <label>Adjust appt task due date</label>
        <locationX>842</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Update_Check_In_Scheduled_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentTaskName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Callback_Requested_Extend_task_due_date_appointment_booking</name>
        <label>Callback Requested - Extend task due date (appointment booking)</label>
        <locationX>1282</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Update_check_in_successful_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>RequestedCallBackDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time__c</field>
            <value>
                <elementReference>RequestedCallbackTime</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Check_In_Continuation</name>
        <label>Close Check-In - Continuation</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Booking_Task_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmed_Continuation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>BPS_Check_In__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Booking_Task</name>
        <label>Complete Booking Task</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Create_Appointment_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_Continuation</name>
        <label>Complete Task - Continuation</label>
        <locationX>50</locationX>
        <locationY>2546</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_UTC</name>
        <label>Complete Task - UTC</label>
        <locationX>5506</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Update_Next_Check_In_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Task_UTP</name>
        <label>Complete Task - UTP</label>
        <locationX>5946</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Next_Check_In_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>3394</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Submitted_or_UTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Next_Check_In_on_Case</name>
        <label>Copy 1 of Update Next Check-In on Case</label>
        <locationX>6078</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Create_UTP_Plan_End_Date_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_Check_In_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Complete_task</name>
        <label>Copy 2 of Complete task</label>
        <locationX>4274</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Create_Reschedule_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Check_In</name>
        <label>Copy 2 of Update Check-In</label>
        <locationX>2448</locationX>
        <locationY>2822</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>4538</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Create_Reschedule_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>2998</locationX>
        <locationY>3914</locationY>
        <connector>
            <targetReference>Update_and_complete_check_in</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Extend_task_due_date_appointment_booking</name>
        <label>Extend task due date (appointment booking)</label>
        <locationX>2162</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Set_Contact_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDateplus9</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Created_Date</name>
        <label>Set Case Created Date</label>
        <locationX>2756</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Reassessment_PreReassessment_record_type_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NDIA_Case_Created__c</field>
            <value>
                <elementReference>PACECase_Created</elementReference>
            </value>
        </inputAssignments>
        <object>BPS_Check_In__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Successful_Extend_task_due_date_appointment_booking</name>
        <label>Successful - Extend task due date (appointment booking)</label>
        <locationX>1546</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Update_check_in_successful_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.TaskID_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDateplus9</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Check_In</name>
        <label>Update Check-In</label>
        <locationX>1799</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Is_First_Successful_Contact</targetReference>
        </connector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Check_In_Rescudule</name>
        <label>Update Check-In Rescudule</label>
        <locationX>4604</locationX>
        <locationY>2930</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Check_In_Scheduled_Date</name>
        <label>Update Check-In Scheduled Date</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Is_First_Successful_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduled_Appointment_Date__c</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <object>BPS_Check_In__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_check_in_submitted</name>
        <label>update check-in submitted</label>
        <locationX>3262</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>Go_To_NDIS_Plan</targetReference>
        </connector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Check_In_With_Booking_Details</name>
        <label>Update Check-In With Booking Details</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Is_First_Successful_Contact</targetReference>
        </connector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Checkin_appointment_held</name>
        <label>Update Checkin appointment held</label>
        <locationX>3218</locationX>
        <locationY>3146</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Check_In_and_Plan_End_Date_on_Case</name>
        <label>Update Next Check-In and Plan End Date on Case</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Close_Check_In_Continuation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Plan_End_Date__c</field>
            <value>
                <elementReference>PlanEndDateplus12Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_Check_In_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Check_In_on_Case</name>
        <label>Update Next Check-In on Case</label>
        <locationX>5638</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Create_Plan_End_Date_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_Check_In_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UTC</name>
        <label>Update UTC</label>
        <locationX>5638</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Copy_3_of_Task_Exists</targetReference>
        </connector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UTP</name>
        <label>Update UTP</label>
        <locationX>6078</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Task_Exists</targetReference>
        </connector>
        <inputReference>Get_Check_In</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_w_1st_Successful_Contact</name>
        <label>Update w 1st Successful Contact</label>
        <locationX>1188</locationX>
        <locationY>3422</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Check_In.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Successful_Contact__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <object>BPS_Check_In__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Check_In_Closed</name>
        <label>Check-In Closed</label>
        <locationX>7178</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckInClosedMessage</name>
            <fieldText>&lt;p&gt;This check-in has been closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Required_Fields_Missing_Screen</name>
        <label>Required Fields Missing Screen</label>
        <locationX>3174</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Activity_Log_Values_NDISAccess</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_requiredText</name>
            <fieldText>&lt;p&gt;Please complete all required fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>6914</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;An error occurred:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_To_NDIS_Plan</name>
        <label>Go To NDIS Plan</label>
        <locationX>3262</locationX>
        <locationY>4694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GoTo_NDIS_Plan</targetReference>
        </connector>
        <fields>
            <name>goToNDISText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Click Next to be redirected to the new NDIS Plan, or refresh this window to stay on the current page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Monitoring_Activity_Log_Screen</name>
        <label>Monitoring Activity Log Screen</label>
        <locationX>3262</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_required_fields_NDISAccess</targetReference>
        </connector>
        <fields>
            <name>Monitoring_Activity_Log_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Monitoring_Activity_Log_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Activity Date &amp;amp; Time must not be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_Time} &lt;= now()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Monitoring_Activity_Log_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hours</name>
                    <choiceReferences>HoursPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>0</stringValue>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Monitoring_Activity_Log_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minutes</name>
                    <choiceReferences>MinutesPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Monitoring_Activity_Log_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Monitoring_Activity_Log_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BPSActivityLog.Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BPSActivityLog.Outcome__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Confirmed_Continuation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BPSActivityLog.Additional_Information__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outbound Contact</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Held</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Appointment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled Appointment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Appointment Scheduled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Appointment Scheduled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Check_In_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Check-In Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UTC Complete in CRM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UTP Complete in CRM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Confirmed_Continuation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requested_Callback_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Requested Callback Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Callback Requested</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Callback Requested</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_set_NDIA_Case_Created_Date_Screen</name>
        <label>Please set NDIA Case Created Date Screen</label>
        <locationX>2756</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Case_Created_Date</targetReference>
        </connector>
        <fields>
            <name>NDIA_Check_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter the PACE Case Created date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PACECase_Created</name>
            <dataType>Date</dataType>
            <fieldText>PACE Case Created</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PACE_Case_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Note:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; If a PACE pre-reassessment check-in or transition case does not exist, the &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Plan End Date on {!Get_Check_In.Plan__r.CaseNumber} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;does not align with PACE. If a PACE case does not exist:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Delete this check-in and;&lt;/li&gt;&lt;li&gt;Adjust the Plan End Date Date &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;on &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Check_In.Plan__r.CaseNumber}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; to align with PACE.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_set_NDIA_Date</name>
        <label>Please set NDIA Case Created Date Screen</label>
        <locationX>3196</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NDIACheckText</name>
            <fieldText>&lt;p&gt;Please set PACE Case Created Date before logging an activity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_PACE_Case_Created_Date</name>
        <label>Set PACE Case Created Date</label>
        <locationX>3394</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_task_set_complete_it</targetReference>
        </connector>
        <fields>
            <name>PACECaseCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter the PACE Case Created date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PACE_Case_Created</name>
            <dataType>Date</dataType>
            <fieldText>PACE Case Created</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unsuccessful_contact_attemps</name>
        <label>Unsuccessful contact attemps</label>
        <locationX>3438</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Activity_Log_Values_NDISAccess</targetReference>
        </connector>
        <fields>
            <name>unsuccessfulText</name>
            <fieldText>&lt;p&gt;You can only select UTC Complete in CRM if there have been 4 or more unsuccessful contact attempts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UTC_Declaration</name>
        <label>UTC Declaration</label>
        <locationX>5638</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Appt_and_Contact_Status</targetReference>
        </connector>
        <fields>
            <name>DeclarationText</name>
            <fieldText>&lt;p&gt;I have contacted all informal, community, mainstream or funded support providers who may be able to contact the participant. For example:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;A support coordinator who may be able to facilitate contact&lt;/li&gt;&lt;li&gt;People with consent&lt;/li&gt;&lt;li&gt;Providers that the participant has received face-to-face supports from in the last month&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5094</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Check_In</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activityLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppointmentTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BPSActivityLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Activity_Log__c</objectType>
    </variables>
    <variables>
        <name>caseFirstPlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseNDISPlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCPActivityLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstPlanActivityLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RescheduleTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskLACRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
