DevOps/force-app/main/default/flows/LAC_Check_In_Generate_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Check_Ins_to_Update</name>
        <label>Add To Check-Ins to Update</label>
        <locationX>270</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>CheckInsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Tasks_to_Create</name>
        <label>Add to Tasks to Create</label>
        <locationX>534</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Check_Ins</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Navigator_Task_Values</name>
        <label>Assign Navigator Task Values</label>
        <locationX>534</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.Next_Scheduled_Check_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Participant_LGA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Participant_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Participant_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LACTaskRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Navigator Check-In Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scheduled_Task_Values</name>
        <label>Assign Scheduled Task Values</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduledBookingDue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Participant_LGA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Participant_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Participant_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LACTaskRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled Check-In Appointment Booking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.BPS_Participant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Plan__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.BPS_Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Check_Ins.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Tasks_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_ID_to_Check_In</name>
        <label>Assign Task ID to Check-In</label>
        <locationX>270</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>CheckIn.TaskID_18__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Tasks.BPS_Check_In__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Check_Ins_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_In_Type_Due</name>
        <label>Check-In Type Due</label>
        <locationX>534</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Check_Ins.KPI_SchedCheckInDueDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayplus60</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Check_Ins.Navigator_Trial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Check_Ins.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012RF0000002sR8YAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Scheduled_Task_Values</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Navigator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Check_Ins.KPI_SchedCheckInDueDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayplus7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Check_Ins.Navigator_Trial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Check_Ins.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012RF0000002sR8YAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Navigator_Task_Values</targetReference>
            </connector>
            <label>Navigator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ins_Exist</name>
        <label>Check-Ins Exist</label>
        <locationX>182</locationX>
        <locationY>1776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckInsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Check_Ins</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Exist</name>
        <label>Tasks Exist</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Get_Created_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TasksExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TasksToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <description>Remove creation of pre-reassessment check-ins</description>
    <environments>Default</environments>
    <formulas>
        <name>PlanEndMinus116</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Check_Ins.Plan__r.BPS_Plan_End_Date__c} - 116</expression>
    </formulas>
    <formulas>
        <name>PreReassessmentBookingDue</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>ScheduledBookingDue</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>todayplus50</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 50</expression>
    </formulas>
    <formulas>
        <name>todayplus60</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 60</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>today() + 7</expression>
    </formulas>
    <interviewLabel>Check-In Generate Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAC Check-In Task Generate Schedule</label>
    <loops>
        <name>Get_Created_Tasks</name>
        <label>Get Created Tasks</label>
        <locationX>182</locationX>
        <locationY>1368</locationY>
        <collectionReference>TasksToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_ID_to_Check_In</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Ins_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Check_Ins</name>
        <label>Loop Through Check-Ins</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Check_Ins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_In_Type_Due</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tasks_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Get_Created_Tasks</targetReference>
        </connector>
        <inputReference>TasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Check_Ins</name>
        <label>Get Check-Ins</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LAC_Task_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>KPI_SchedCheckInDueDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>todayplus60</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskID_18__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>KPI_SchedCheckInDueDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>todayplus7</elementReference>
            </value>
        </filters>
        <filters>
            <field>Navigator_Trial__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BPS_Check_In__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>KPI_SchedCheckInDueDate__c</queriedFields>
        <queriedFields>Plan__c</queriedFields>
        <queriedFields>ID_18__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Navigator_Trial__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_Task_Record_Type_ID</name>
        <label>Get LAC Task Record Type ID</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Check_Ins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LACTaskRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Check_Ins</name>
        <label>Update Check-Ins</label>
        <locationX>50</locationX>
        <locationY>1884</locationY>
        <inputReference>CheckInsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Check_Ins</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-13</startDate>
            <startTime>07:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>CheckInCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>CheckInsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>CheckInsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>LACTaskRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreReassessmentCheckinRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RF0000002sR7YAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScheduledCheckInRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RF0000002sR8YAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
