DevOps/force-app/main/default/flows/LAC_Linkages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Chose_not_to_progress</name>
        <choiceText>Chose not to progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chose not to progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connected</name>
        <choiceText>Connected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_linkage</name>
        <choiceText>Create new linkage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new linkage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mark_as_complete</name>
        <choiceText>Mark as complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mark as complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Linkage_Radio</name>
        <choiceText>New Linkage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Linkage</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referred</name>
        <choiceText>Referred</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referred</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_current_linkage</name>
        <choiceText>Update current linkage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update current linkage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Linkage_Radio</name>
        <choiceText>Update Linkage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Linkage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Next_Linkage</name>
        <label>Create Next Linkage?</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Next_Linkage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_create_another_linkage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>LAC_Create_Linkage_Screen</targetReference>
            </connector>
            <label>Yes Create Linkage</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Update</name>
        <label>New or Update?</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_LAC_Create_Linkage_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Linkage_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Update_Linkage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Linkage_Radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LAC_Linkages_Screen</targetReference>
            </connector>
            <label>Update Linkage Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Another_Linkage_Check</name>
        <label>Update Another Linkage Check</label>
        <locationX>974</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_update_or_create_another_linkage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_All_LAC_Referrals</targetReference>
            </connector>
            <label>Yes Update Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Complete_Linkage</name>
        <label>Update or Complete Linkage?</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Update_Selected_Linkage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled_or_Completed_Linkage_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Linkage.Referral_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chose not to progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Linkage.Referral_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Linkage_Cannot_Be_Updated_Screen</targetReference>
            </connector>
            <label>Cancelled or Completed Linkage Selected</label>
        </rules>
        <rules>
            <name>Not_Progressing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Linkage_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Chose_not_to_progress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Progressing_Complete_Linkage</targetReference>
            </connector>
            <label>Not Progressing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_New_Linkage</name>
        <label>Update or New Linkage?</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Display_Linkages_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Linkage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LACLinkages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Linkage_Screen</targetReference>
            </connector>
            <label>New Linkage</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LACReferralChoiceSet</name>
        <dataType>String</dataType>
        <displayField>BPS_Linkage_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <object>Outbound_Referral__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LinkageChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Linkage__c</picklistField>
        <picklistObject>Outbound_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LinkageTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Linkage_Type__c</picklistField>
        <picklistObject>Outbound_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Status__c</picklistField>
        <picklistObject>Outbound_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>LAC Linkages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAC Linkages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_LAC_Linkage</name>
        <label>Copy 1 of Create LAC Linkage</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_Another_Linkage</targetReference>
        </connector>
        <inputAssignments>
            <field>BPS_Linkage_Type__c</field>
            <value>
                <elementReference>Get_Outbound_Referral_Record.BPS_Linkage_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Linkage__c</field>
            <value>
                <elementReference>Get_Outbound_Referral_Record.BPS_Linkage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linkage_Number__c</field>
            <value>
                <elementReference>Copy_1_of_Linkage_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LACOutboundReferralRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <elementReference>Status2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To_Organisation__c</field>
            <value>
                <elementReference>Get_BPS_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_LAC_Linkage</name>
        <label>Create LAC Linkage</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Another_Linkage</targetReference>
        </connector>
        <inputAssignments>
            <field>BPS_Linkage_Type__c</field>
            <value>
                <elementReference>Get_Outbound_Referral_Record.BPS_Linkage_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Linkage__c</field>
            <value>
                <elementReference>Get_Outbound_Referral_Record.BPS_Linkage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linkage_Number__c</field>
            <value>
                <elementReference>Linkage_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LACOutboundReferralRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To_Organisation__c</field>
            <value>
                <elementReference>Get_BPS_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_LAC_Referrals</name>
        <label>Get All LAC Referrals</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_or_New_Linkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <object>Outbound_Referral__c</object>
        <outputReference>LACLinkages</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BPS_Linkage__c</queriedFields>
        <queriedFields>BPS_Linkage_Type__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Referral_Status__c</queriedFields>
        <queriedFields>BPS_Participant__c</queriedFields>
        <queriedFields>BPS_Linkage_Name__c</queriedFields>
        <queriedFields>Linkage_Number__c</queriedFields>
        <sortField>Linkage_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_BPS_Account</name>
        <label>Get BPS Account</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LAC_Outbound_Referral_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BPS Social Futures</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BPS_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_Outbound_Referral_Record_Type_ID</name>
        <label>Get LAC Outbound Referral Record Type ID</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Outbound_Referral_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Referral__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC_Referral</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LACOutboundReferralRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Outbound_Referral_Record</name>
        <label>Get Outbound Referral Record</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_LAC_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LACOutboundReferralRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Linkage</name>
        <label>Get Selected Linkage</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_or_Complete_Linkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Linkage.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Not_Progressing_Complete_Linkage</name>
        <label>Not Progressing - Complete Linkage</label>
        <locationX>710</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Another_Linkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Linkage.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <stringValue>Chose not to progress</stringValue>
            </value>
        </inputAssignments>
        <object>Outbound_Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Linkage</name>
        <label>Complete Linkage</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Another_Linkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Linkage.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </inputAssignments>
        <object>Outbound_Referral__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_LAC_Create_Linkage_Screen</name>
        <label>Copy 1 of LAC Create Linkage Screen</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_LAC_Linkage</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Linkage_Number</name>
            <dataType>Number</dataType>
            <fieldText>Linkage Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Linkage number in ascending PACE list eg. If linkage is second in the list, Linkage Number equals 2.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Outbound_Referral_Record.BPS_Linkage_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Outbound_Referral_Record.BPS_Linkage__c</objectFieldReference>
        </fields>
        <fields>
            <name>Status2</name>
            <choiceReferences>Referred</choiceReferences>
            <choiceReferences>Connected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Another_Linkage</name>
        <label>Create Another Linkage?</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Next_Linkage</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_create_another_linkage</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to create another linkage?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Linkage_Screen</name>
        <label>Create New Linkage Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LAC_Create_Linkage_Screen</targetReference>
        </connector>
        <fields>
            <name>CreateNewLinkageDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Create New Linkage to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create New Linkage</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Linkages_Screen</name>
        <label>Display Linkages Screen</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Update</targetReference>
        </connector>
        <fields>
            <name>Display_Linkages_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Outbound_Referral__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Linkages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>LACLinkages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;BPS_Linkage_Name__c&quot;,&quot;guid&quot;:&quot;column-ded4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Linkage Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Linkage Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BPS_Linkage_Type__c&quot;,&quot;guid&quot;:&quot;column-0743&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Linkage Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Linkage Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BPS_Linkage__c&quot;,&quot;guid&quot;:&quot;column-8cd4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Linkage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Linkage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Referral_Status__c&quot;,&quot;guid&quot;:&quot;column-d801&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Referral Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_or_Update_Linkage</name>
            <choiceReferences>New_Linkage_Radio</choiceReferences>
            <choiceReferences>Update_Linkage_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Update Linkage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LAC_Create_Linkage_Screen</name>
        <label>LAC Create Linkage Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_LAC_Linkage</targetReference>
        </connector>
        <fields>
            <name>Linkage_Number</name>
            <dataType>Number</dataType>
            <fieldText>Linkage Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Linkage number in ascending PACE list eg. If linkage is second in the list, Linkage Number equals 2.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Outbound_Referral_Record.BPS_Linkage_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Outbound_Referral_Record.BPS_Linkage__c</objectFieldReference>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Referred</choiceReferences>
            <choiceReferences>Connected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Linkage_Cannot_Be_Updated_Screen</name>
        <label>Linkage Cannot Be Updated Screen</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotBeUpdatedText</name>
            <fieldText>&lt;p&gt;Linkages with a Status of &quot;Chose not to progress&quot; or &quot;Connected&quot; cannot be updated. Please update an alternative linkage or create a new linkage.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Another_Linkage</name>
        <label>Update Another Linkage?</label>
        <locationX>974</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Another_Linkage_Check</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_update_or_create_another_linkage</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to update or create another linkage?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_LAC_Linkages_Screen</name>
        <label>Update LAC Linkages Screen</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Linkage</targetReference>
        </connector>
        <fields>
            <name>LAC_Goal_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Outbound_Referral__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Goals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>LACLinkages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;BPS_Linkage_Name__c&quot;,&quot;guid&quot;:&quot;column-e788&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Linkage Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Linkage Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BPS_Linkage_Type__c&quot;,&quot;guid&quot;:&quot;column-3b60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Linkage Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Linkage Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BPS_Linkage__c&quot;,&quot;guid&quot;:&quot;column-43fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Linkage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Linkage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Referral_Status__c&quot;,&quot;guid&quot;:&quot;column-4136&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Referral Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Linkage</name>
            <choiceReferences>LACReferralChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Linkage</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Linkage_Action</name>
            <choiceReferences>Connected</choiceReferences>
            <choiceReferences>Chose_not_to_progress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Linkage Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LACLinkages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outbound_Referral__c</objectType>
    </variables>
    <variables>
        <name>LACOutboundReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outbound_Referral__c</objectType>
    </variables>
    <variables>
        <name>LACOutboundReferralRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
