DevOps/force-app/main/default/flows/LAC_Check_In_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Check_Ins_to_Create</name>
        <label>Add to Check-Ins to Create</label>
        <locationX>534</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>CheckInsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckIn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Navigator_Check_In_Values</name>
        <label>Assign Navigator Check-In Values</label>
        <locationX>534</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>CheckIn.Date_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Next_Scheduled_Check_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NavigatorCheckInRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.Scheduled_Appointment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Next_Scheduled_Check_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Cases.BPS_Planning_Meeting_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Check_Ins_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scheduled_Check_In_Values</name>
        <label>Assign Scheduled Check-In Values</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>CheckIn.Date_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Next_Scheduled_Check_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduledCheckInRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckIn.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Check_Ins_to_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Check_Ins_to_Create</name>
        <label>Check for Check-Ins to Create</label>
        <locationX>182</locationX>
        <locationY>960</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Ins_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckInsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Check_Ins</targetReference>
            </connector>
            <label>Check-Ins Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Type_Due</name>
        <label>Check-In Type Due</label>
        <locationX>534</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Next_Scheduled_Check_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayplus60</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Navigator_Trial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Scheduled_Check_In_Values</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Navigator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Next_Scheduled_Check_In__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todayplus7</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Cases.Navigator_Trial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Navigator_Check_In_Values</targetReference>
            </connector>
            <label>Navigator</label>
        </rules>
    </decisions>
    <description>Remove creation of pre-reassessment check-ins</description>
    <environments>Default</environments>
    <formulas>
        <name>PlanEndMinus116</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Cases.BPS_Plan_End_Date__c} - 116</expression>
    </formulas>
    <formulas>
        <name>PreReassessmentBookingDue</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Cases.Pre_Reassessment_Check_In__c} + 5</expression>
    </formulas>
    <formulas>
        <name>ScheduledBookingDue</name>
        <dataType>Date</dataType>
        <expression>{!Loop_Through_Cases.Next_Scheduled_Check_In__c} + 5</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>todayplus60</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 60</expression>
    </formulas>
    <formulas>
        <name>todayplus7</name>
        <dataType>Date</dataType>
        <expression>today() + 7</expression>
    </formulas>
    <interviewLabel>LAC Check-In Generate Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAC Check-In Schedule</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Cases_With_Check_Ins_Due</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_In_Type_Due</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Check_Ins_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Check_Ins</name>
        <label>Create Check-Ins</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputReference>CheckInsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cases_With_Check_Ins_Due</name>
        <label>Get Cases With Check-Ins Due</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (5 AND 6 AND 7)</filterLogic>
        <filters>
            <field>Next_Scheduled_Check_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>todayplus60</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>BPS_IsCurrentPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RF0000002sREYAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RF0000002sRAYAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Navigator_Trial__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Scheduled_Check_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>todayplus7</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases_With_Check_Ins_Due</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-13</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>CheckInCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>CheckInsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>CheckInsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Check_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Check_In__c</objectType>
    </variables>
    <variables>
        <name>LACTaskRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NavigatorCheckInRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RF0000059pd8YAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>PreReassessmentCheckinRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RF0000002sR7YAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScheduledCheckInRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RF0000002sR8YAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
