DevOps/force-app/main/default/flows/LAC_Goals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Chose_not_to_progress</name>
        <choiceText>Chose not to progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chose not to progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complete_current_step</name>
        <choiceText>Complete current step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete current step</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complete_goal</name>
        <choiceText>Complete goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Goal</name>
        <choiceText>Create Goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_goal</name>
        <choiceText>Create new goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Goal_Radio</name>
        <choiceText>New Goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_current_goal</name>
        <choiceText>Update current goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update current goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Goal</name>
        <choiceText>Update Goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Goal_Radio</name>
        <choiceText>Update Goal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Goal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Plan_Exists</name>
        <label>Case Plan Exists?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_LAC_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Case_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Goal_Screen</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Next_Goal</name>
        <label>Create Next Goal?</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_create_another_goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>LAC_Create_Goal_Screen</targetReference>
            </connector>
            <label>Yes Create Goal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Step_Complete</name>
        <label>Last Step Complete?</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Update_Selected_Goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Step_Is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_LAC_Case_Plan_Goal.BPS_Total_Goal_Steps__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Selected_LAC_Case_Plan_Goal.BPS_Current_Goal_Step__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_LAC_Case_Plan_Goal.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Complete_Goal</targetReference>
            </connector>
            <label>Last Step Is Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Update</name>
        <label>New or Update?</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_LAC_Create_Goal_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Goal_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Update_Goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Goal_Radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LAC_Goals_Screen</targetReference>
            </connector>
            <label>Update Goal Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Another_Goal_Check</name>
        <label>Update Another Goal Check</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Another_Goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_update_another_goal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_All_LAC_Case_Plan_Goals</targetReference>
            </connector>
            <label>Update Another Goal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Complete_Goal</name>
        <label>Update or Complete Goal?</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Complete_LAC_Goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled_or_Completed_Goal_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_LAC_Case_Plan_Goal.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chose not to progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_LAC_Case_Plan_Goal.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Goal_Cannot_Be_Updated_Screen</targetReference>
            </connector>
            <label>Cancelled or Completed Goal Selected</label>
        </rules>
        <rules>
            <name>Update_Goal_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Goal_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Complete_current_step</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Step_Complete</targetReference>
            </connector>
            <label>Update Goal Step</label>
        </rules>
        <rules>
            <name>Not_Progressing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Goal_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Chose_not_to_progress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Progressing_Complete_Goal</targetReference>
            </connector>
            <label>Not Progressing</label>
        </rules>
    </decisions>
    <description>Current goal step must equal total goal steps before goal can be completed (due to logic of completed goal steps = total goal steps minus 1)</description>
    <dynamicChoiceSets>
        <name>LACCasePlanGoals</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LAC_Case_Plan.Id</elementReference>
            </value>
        </filters>
        <object>Case_Plan_Goal__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LACGoalType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Goal_Type__c</picklistField>
        <picklistObject>Case_Plan_Goal__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CasePlanGoalName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Goal_Number})&amp;&quot; - &quot;&amp;{!Get_Case.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>CasePlanGoalName2</name>
        <dataType>String</dataType>
        <expression>TEXT({!Copy_1_of_Goal_Number})&amp;&quot; - &quot;&amp;{!Get_Case.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>SelectedGoalStepplus1</name>
        <dataType>Number</dataType>
        <expression>{!Get_Selected_LAC_Case_Plan_Goal.BPS_Current_Goal_Step__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>LAC Create/Update Goals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LAC Goals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_LAC_Case_Plan_Goal</name>
        <label>Copy 1 of Create LAC Case Plan Goal</label>
        <locationX>1766</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_Another_Goal_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>BPS_Current_Goal_Step__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Goal_Type__c</field>
            <value>
                <elementReference>Copy_1_of_Goal_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Total_Goal_Steps__c</field>
            <value>
                <elementReference>Copy_1_of_Total_Goal_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>Get_LAC_Case_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CasePlanGoalName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LACCasePlanGoalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_LAC_Case_Plan</name>
        <label>Create LAC Case Plan</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_CCP_w_Case_Plan_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LACCasePlanRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_LAC_Case_Plan_Goal</name>
        <label>Create LAC Case Plan Goal</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Another_Goal</targetReference>
        </connector>
        <inputAssignments>
            <field>BPS_Current_Goal_Step__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Goal_Type__c</field>
            <value>
                <elementReference>Goal_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Total_Goal_Steps__c</field>
            <value>
                <elementReference>Total_Goal_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>Create_LAC_Case_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CasePlanGoalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LACCasePlanGoalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_LAC_Case_Plan_Goals</name>
        <label>Get All LAC Case Plan Goals</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Goals_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LAC_Case_Plan.Id</elementReference>
            </value>
        </filters>
        <object>Case_Plan_Goal__c</object>
        <outputReference>LACGoals</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BPS_Current_Goal_Step__c</queriedFields>
        <queriedFields>BPS_Total_Goal_Steps__c</queriedFields>
        <queriedFields>BPS_Goal__c</queriedFields>
        <queriedFields>BPS_Goal_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LAC_Case_Plan_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_Case_Plan</name>
        <label>Get LAC Case Plan</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_LAC_Case_Plan_Goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_Case_Plan_Goal_Record_Type_ID</name>
        <label>Get LAC Case Plan Goal Record Type ID</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Plan_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Plan_Goal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC_Goal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LACCasePlanGoalRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_Case_Plan_Record_Type_ID</name>
        <label>Get LAC Case Plan Record Type ID</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LAC_Case_Plan_Goal_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Plan__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC_Case_Plan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LACCasePlanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_LAC_Case_Plan_Goal</name>
        <label>Get Selected LAC Case Plan Goal</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_or_Complete_Goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectGoal.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Plan_Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_LAC_Goal</name>
        <label>Complete Goal</label>
        <locationX>1502</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Another_Goal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectGoal.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Complete_Goal</name>
        <label>Copy 2 of Copy 1 of Complete Goal</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Another_Goal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectGoal.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Progressing_Complete_Goal</name>
        <label>Not Progressing - Complete Goal</label>
        <locationX>1238</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Another_Goal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectGoal.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Chose_not_to_progress</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CCP_w_Case_Plan_ID</name>
        <label>Update CCP w Case Plan ID</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>LAC_Create_Goal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Case_Plan__c</field>
            <value>
                <elementReference>Create_LAC_Case_Plan</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Goal</name>
        <label>Update Selected Goal</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Another_Goal_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectGoal.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Current_Goal_Step__c</field>
            <value>
                <elementReference>SelectedGoalStepplus1</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan_Goal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_LAC_Create_Goal_Screen</name>
        <label>Copy 1 of LAC Create Goal Screen</label>
        <locationX>1766</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_LAC_Case_Plan_Goal</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Goal_Number</name>
            <dataType>Number</dataType>
            <fieldText>Goal Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Goal number in ascending PACE list eg. If goal is second in the list, Goal Number equals 2.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Goal_Type</name>
            <choiceReferences>LACGoalType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Goal Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Total_Goal_Steps</name>
            <dataType>Number</dataType>
            <fieldText>Total Goal Steps</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Another_Goal</name>
        <label>Create Another Goal?</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Next_Goal</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_create_another_goal</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to create another goal?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Goal_Screen</name>
        <label>Create New Goal Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_LAC_Case_Plan</targetReference>
        </connector>
        <fields>
            <name>CreateNewGoalDisplay</name>
            <fieldText>&lt;p&gt;Select Create New Goal to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create New Goal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Goals_Screen</name>
        <label>Display Goals Screen</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Update</targetReference>
        </connector>
        <fields>
            <name>Display_Goals_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case_Plan_Goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Goals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>LACGoals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;BPS_Goal__c&quot;,&quot;guid&quot;:&quot;column-0306&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Goal Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Goal Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BPS_Goal_Type__c&quot;,&quot;guid&quot;:&quot;column-752d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Goal Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Goal Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BPS_Total_Goal_Steps__c&quot;,&quot;guid&quot;:&quot;column-814a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Goal Steps&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Goal Steps&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;BPS_Current_Goal_Step__c&quot;,&quot;guid&quot;:&quot;column-3dae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Current Goal Step&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Current Goal Step&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-cd7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_or_Update_Goal</name>
            <choiceReferences>New_Goal_Radio</choiceReferences>
            <choiceReferences>Update_Goal_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Update Goal?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Goal_Cannot_Be_Updated_Screen</name>
        <label>Goal Cannot Be Updated Screen</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CannotBeUpdatedText</name>
            <fieldText>&lt;p&gt;Goals with a Status of &quot;Chose not to progress&quot; or &quot;Completed&quot; cannot be updated. Please update an alternative goal or create a new goal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LAC_Create_Goal_Screen</name>
        <label>LAC Create Goal Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_LAC_Case_Plan_Goal</targetReference>
        </connector>
        <fields>
            <name>Goal_Number</name>
            <dataType>Number</dataType>
            <fieldText>Goal Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Goal number in ascending PACE list eg. If goal is second in the list, Goal Number equals 2.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Goal_Type</name>
            <choiceReferences>LACGoalType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Goal Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Total_Goal_Steps</name>
            <dataType>Number</dataType>
            <fieldText>Total Goal Steps</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Another_Goal_Screen</name>
        <label>Update Another Goal Screen</label>
        <locationX>1370</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Another_Goal_Check</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_update_another_goal</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to update or create another goal?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_LAC_Goals_Screen</name>
        <label>Update LAC Goals Screen</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_LAC_Case_Plan_Goal</targetReference>
        </connector>
        <fields>
            <name>LAC_Goal_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case_Plan_Goal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Goals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>LACGoals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;BPS_Goal__c&quot;,&quot;guid&quot;:&quot;column-d2a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Goal Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Goal Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BPS_Goal_Type__c&quot;,&quot;guid&quot;:&quot;column-752d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Goal Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Goal Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BPS_Current_Goal_Step__c&quot;,&quot;guid&quot;:&quot;column-3dae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Current Goal Step&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Current Goal Step&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;BPS_Total_Goal_Steps__c&quot;,&quot;guid&quot;:&quot;column-814a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Goal Steps&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Goal Steps&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Goal_Steps_Completed__c&quot;,&quot;guid&quot;:&quot;column-c287&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;% Goal Steps Completed&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-e561&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectGoal</name>
            <choiceReferences>LACCasePlanGoals</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Goal</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Goal_Action</name>
            <choiceReferences>Complete_current_step</choiceReferences>
            <choiceReferences>Complete_goal</choiceReferences>
            <choiceReferences>Chose_not_to_progress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Goal Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LACCasePlanGoalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LACCasePlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LACGoals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan_Goal__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
