DevOps/force-app/main/default/flows/New_Case_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Goto_Case_Note_URL</name>
        <label>Goto Case Note URL</label>
        <locationX>1639</locationX>
        <locationY>239</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>CaseNoteURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetCaseIdFromOutboundReferral</name>
        <label>Set Case Id From Outbound Referral</label>
        <locationX>687</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOutboundReferral.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Outbound_Referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOutboundReferral.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000MSaAAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseNoteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseIdFromRecordId</name>
        <label>Set Case Id From RecordId</label>
        <locationX>669</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000HasAAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseNoteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseIdFromSession</name>
        <label>Set Case Id From Session</label>
        <locationX>744</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSession.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSession.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000MSQAA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseNoteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseIdFromSessionParticipant</name>
        <label>Set Case Id From Session Participant</label>
        <locationX>975</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSessionParticipant.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSessionParticipant.Session__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Session_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSessionParticipant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000MSVAA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseNoteScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseNoteFields</name>
        <label>SetCaseNoteFields</label>
        <locationX>1147</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activity_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Travel_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Travel_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Primary_Indirect_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Indirect_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Indirect_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indirect_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Indirect_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indirect_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Contact_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactMethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Contains_Medical_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contains_Medical_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReturnedCaseNoteId</name>
        <label>SetReturnedCaseNoteId</label>
        <locationX>1395</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>ReturnedCaseNoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseNote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfNotGoingToUrl</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfNotGoingToUrl</name>
        <label>Check If Not Going To Url</label>
        <locationX>1507</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Goto_Case_Note_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Goto URL</defaultConnectorLabel>
        <rules>
            <name>DoNotGotoUrl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoNotNavigateToCaseURL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do Not Goto Url</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordIdType</name>
        <label>CheckRecordIdType</label>
        <locationX>482</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeCharacters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseIdFromRecordId</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
        <rules>
            <name>IsSession</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeCharacters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a14</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSession</targetReference>
            </connector>
            <label>Is Session</label>
        </rules>
        <rules>
            <name>IsSessionParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeCharacters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSessionParticipant</targetReference>
            </connector>
            <label>Is Session Participant</label>
        </rules>
        <rules>
            <name>IsOutboundReferral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeCharacters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOutboundReferral</targetReference>
            </connector>
            <label>Is Outbound Referral</label>
        </rules>
    </decisions>
    <description>Defaulted Indirect Hours and Minutes to 0 and removed Mandatory</description>
    <dynamicChoiceSets>
        <name>ChoicePicklistIndirectHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIndirectMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistPrimaryIndirectActivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Indirect_Activity__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistTravelHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistTravelMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Status Choice Set</description>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseNoteURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500})) &amp; &apos;/&apos; &amp; {!CaseNote.Id}</expression>
    </formulas>
    <formulas>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DefaultCaseNote</name>
        <dataType>String</dataType>
        <expression>IF(isnull({!CaseNote.Notes__c}), &quot;&quot;, {!CaseNote.Notes__c})</expression>
    </formulas>
    <formulas>
        <name>recordIdFirstThreeCharacters</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <interviewLabel>New Case Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseNote</name>
        <label>CreateCaseNote</label>
        <locationX>1270</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>SetReturnedCaseNoteId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CaseNote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOutboundReferral</name>
        <label>Get Outbound Referral</label>
        <locationX>579</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseIdFromOutboundReferral</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSession</name>
        <label>Get Session</label>
        <locationX>603</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseIdFromSession</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSessionParticipant</name>
        <label>Get Session Participant</label>
        <locationX>483</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseIdFromSessionParticipant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CaseNoteScreen</name>
        <label>Case Note</label>
        <locationX>975</locationX>
        <locationY>228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetCaseNoteFields</targetReference>
        </connector>
        <fields>
            <name>CaseNoteText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Case Note&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activity_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ProvidedActivityDateTime</elementReference>
            </defaultValue>
            <fieldText>Activity Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactMethod</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Contact_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Contact Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetSession.Name</elementReference>
            </defaultValue>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contains_Medical_Information</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Contains Medical Information?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NotesText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DefaultCaseNote</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseNote.Notes__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndirectTimeText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Indirect Time&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Indirect_Activity</name>
            <choiceReferences>ChoicePicklistPrimaryIndirectActivity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Indirect Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Indirect_Hours</name>
            <choiceReferences>ChoicePicklistIndirectHours</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Indirect Hours</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Indirect_Minutes</name>
            <choiceReferences>ChoicePicklistIndirectMinutes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Indirect Minutes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Travel_Hours</name>
            <choiceReferences>ChoicePicklistTravelHours</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Travel Hours</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Travel_Minutes</name>
            <choiceReferences>ChoicePicklistTravelMinutes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Travel Minutes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>804</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>212</locationY>
        <connector>
            <targetReference>CheckRecordIdType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Note__c</objectType>
    </variables>
    <variables>
        <name>DoNotNavigateToCaseURL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProvidedActivityDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DateTimeNow</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedCaseNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
