DevOps/force-app/main/default/flows/Other_Assessments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CAIDSQAssessment</name>
        <choiceText>CAIDS Q Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAIDSQAssessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAT</name>
        <choiceText>CAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHARTChecklistAssessment</name>
        <choiceText>CHART Checklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CHARTChecklistAssessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ATOP</name>
        <choiceText>ATOP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ATOP</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOPClientSelfAssessment</name>
        <choiceText>Client Self Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OPClientSelfAssessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOPWorkerAssessment</name>
        <choiceText>Worker Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OPWorkerAssessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOutcomesStar</name>
        <choiceText>Outcomes Star Reading</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OutcomesStar</stringValue>
        </value>
    </choices>
    <choices>
        <description>Client Satisfaction Assessment</description>
        <name>ClientSatisfaction</name>
        <choiceText>Client Satisfaction</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>COS</name>
        <choiceText>COS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COS</stringValue>
        </value>
    </choices>
    <choices>
        <name>IARDST</name>
        <choiceText>IAR-DST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IAR-DST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Initial_Assessment</name>
        <choiceText>Initial Assessment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>K10</name>
        <choiceText>K10 Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K10</stringValue>
        </value>
    </choices>
    <choices>
        <name>K5</name>
        <choiceText>K5 Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K5</stringValue>
        </value>
    </choices>
    <choices>
        <name>PWI</name>
        <choiceText>PWI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PWI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SDQ</name>
        <choiceText>SDQ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SDQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>SupportStream</name>
        <choiceText>Support Stream</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Stream</stringValue>
        </value>
    </choices>
    <choices>
        <name>YLSAssessment</name>
        <choiceText>YLS Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YLSAssessment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CCDecision</name>
        <label>CCDecision</label>
        <locationX>921</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>No Assessments</defaultConnectorLabel>
        <rules>
            <name>K10_Assessment_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Connect_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>K10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K10_Assessment</targetReference>
            </connector>
            <label>K10 Assessment</label>
        </rules>
        <rules>
            <name>K5_Assessment_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Connect_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>K5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K5_Assessment</targetReference>
            </connector>
            <label>K5 Assessment</label>
        </rules>
        <rules>
            <name>SDQ_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Connect_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SDQ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDQ_Assessment</targetReference>
            </connector>
            <label>SDQ</label>
        </rules>
        <rules>
            <name>IAR_DST_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Care_Connect_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IARDST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IAR_DST</targetReference>
            </connector>
            <label>IAR-DST</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHAssessmentChoice</name>
        <label>CHAssessmentChoice</label>
        <locationX>943</locationX>
        <locationY>961</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PWIChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHAssessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PWI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PWI_Assessment</targetReference>
            </connector>
            <label>PWI</label>
        </rules>
        <rules>
            <name>COSChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CHAssessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COS</elementReference>
                </rightValue>
            </conditions>
            <label>COS</label>
        </rules>
    </decisions>
    <decisions>
        <name>FCSAssessmentChoice</name>
        <label>FCSAssessmentChoice</label>
        <locationX>940</locationX>
        <locationY>1095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CATChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FCSAssessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CAT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAT_Assessment</targetReference>
            </connector>
            <label>CAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>FCSAssessmentChoice_0</name>
        <label>HYAPAssessmentChoice</label>
        <locationX>935</locationX>
        <locationY>1234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_Stream_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HYAP_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SupportStream</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Stream_Assessment</targetReference>
            </connector>
            <label>Support Stream</label>
        </rules>
        <rules>
            <name>PWI_HYAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HYAP_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PWI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PWI_Assessment_HYAP</targetReference>
            </connector>
            <label>PWI</label>
        </rules>
    </decisions>
    <decisions>
        <name>MMHCAssessmentChoice</name>
        <label>MMHCAssessmentChoice</label>
        <locationX>911</locationX>
        <locationY>1564</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IAR_DST_MMHC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MMHC_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IARDST</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IAR_DST</targetReference>
            </connector>
            <label>IAR-DST</label>
        </rules>
        <rules>
            <name>K10_MMHC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MMHC_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>K10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K10_Assessment</targetReference>
            </connector>
            <label>K10</label>
        </rules>
    </decisions>
    <decisions>
        <name>RKDecision</name>
        <label>RKDecision</label>
        <locationX>902</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>No Assessments</defaultConnectorLabel>
        <rules>
            <name>K10_Assessment_Choice_RK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resilient_Kids_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>K10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K10_Assessment</targetReference>
            </connector>
            <label>K10 Assessment</label>
        </rules>
        <rules>
            <name>SDQ_Assessment_Choice_RK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resilient_Kids_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SDQ</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDQ_Assessment</targetReference>
            </connector>
            <label>SDQ Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>TheBridgeAssessmentChoice</name>
        <label>TheBridgeAssessmentChoice</label>
        <locationX>937</locationX>
        <locationY>1400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ATOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>The_Bridge_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_ATOP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_New_Existing</targetReference>
            </connector>
            <label>ATOP</label>
        </rules>
        <rules>
            <name>K10_Bridge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>The_Bridge_Assessments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>K10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>K10_Assessment</targetReference>
            </connector>
            <label>K10</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Program</name>
        <label>What Program</label>
        <locationX>363</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>OtherAssessmentsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Programs</defaultConnectorLabel>
        <rules>
            <name>HYAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HYAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HYAP_Screen</targetReference>
            </connector>
            <label>HYAP</label>
        </rules>
        <rules>
            <name>Care_Connect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Connect – Hunter Manning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Veterans Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Connect - Hunter Central Coast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Care_Connect_Flows</targetReference>
            </connector>
            <label>Care Connect</label>
        </rules>
        <rules>
            <name>Connecting_Home</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connecting Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connecting_Home_Screen</targetReference>
            </connector>
            <label>Connecting Home</label>
        </rules>
        <rules>
            <name>Recovery_Connect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recovery Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OtherAssessmentsScreen</targetReference>
            </connector>
            <label>Recovery Connect</label>
        </rules>
        <rules>
            <name>Resilient_Kids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resilient Kids</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resilient_Kids_Flows</targetReference>
            </connector>
            <label>Resilient Kids</label>
        </rules>
        <rules>
            <name>FCS_PF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Connect &amp; Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pathfinders FCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FCS_PF_Screen</targetReference>
            </connector>
            <label>FCS&amp;PF</label>
        </rules>
        <rules>
            <name>The_Bridge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AOD Hub</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_Bridge_Screen</targetReference>
            </connector>
            <label>The Bridge</label>
        </rules>
        <rules>
            <name>MMHC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Program_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicare Mental Health Centre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MMHC_Screen</targetReference>
            </connector>
            <label>MMHC</label>
        </rules>
    </decisions>
    <description>Added IAR-DST and SDQ logic for Care Connect HCC</description>
    <environments>Default</environments>
    <interviewLabel>Other Assessments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Care_Connect_Flows</name>
        <label>Care Connect</label>
        <locationX>748</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CCDecision</targetReference>
        </connector>
        <fields>
            <name>Care_Connect_Assessments</name>
            <choiceReferences>K10</choiceReferences>
            <choiceReferences>K5</choiceReferences>
            <choiceReferences>SDQ</choiceReferences>
            <choiceReferences>IARDST</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CC, CCHM &amp; VCC Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Connecting_Home_Screen</name>
        <label>Connecting Home</label>
        <locationX>731</locationX>
        <locationY>959</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHAssessmentChoice</targetReference>
        </connector>
        <fields>
            <name>CHAssessments</name>
            <choiceReferences>PWI</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PWI</defaultSelectedChoiceReference>
            <fieldText>SHS Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FCS_PF_Screen</name>
        <label>FCS&amp;PF Screen</label>
        <locationX>731</locationX>
        <locationY>1093</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FCSAssessmentChoice</targetReference>
        </connector>
        <fields>
            <name>FCSAssessments</name>
            <choiceReferences>CAT</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CAT</defaultSelectedChoiceReference>
            <fieldText>FCS Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HYAP_Screen</name>
        <label>HYAP Screen</label>
        <locationX>732</locationX>
        <locationY>1232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FCSAssessmentChoice_0</targetReference>
        </connector>
        <fields>
            <name>HYAP_Assessments</name>
            <choiceReferences>PWI</choiceReferences>
            <choiceReferences>SupportStream</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PWI</defaultSelectedChoiceReference>
            <fieldText>HYAP Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MMHC_Screen</name>
        <label>MMHC Screen</label>
        <locationX>732</locationX>
        <locationY>1562</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MMHCAssessmentChoice</targetReference>
        </connector>
        <fields>
            <name>MMHC_Assessments</name>
            <choiceReferences>IARDST</choiceReferences>
            <choiceReferences>K10</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MMHC Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherAssessmentsScreen</name>
        <label>Other Assessments</label>
        <locationX>371</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoOtherAssessmentsText</name>
            <fieldText>&lt;p&gt;There are currently no other assessments configured for your program in Hende.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For Outcomes Star readings, please use the Outcomes Star Reading button&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 11px;&quot;&gt;If you need an assessment other than the Initial Assessment or Outcomes Star, please contact the ICT Team&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;mailto:helpdesk@nrsdc.freshservice.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;helpdesk@nrsdc.freshservice.com&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resilient_Kids_Flows</name>
        <label>Resilient Kids</label>
        <locationX>728</locationX>
        <locationY>476</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RKDecision</targetReference>
        </connector>
        <fields>
            <name>Resilient_Kids_Assessments</name>
            <choiceReferences>K10</choiceReferences>
            <choiceReferences>SDQ</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resilient Kids Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Bridge_Screen</name>
        <label>The Bridge Screen</label>
        <locationX>735</locationX>
        <locationY>1398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TheBridgeAssessmentChoice</targetReference>
        </connector>
        <fields>
            <name>The_Bridge_Assessments</name>
            <choiceReferences>Choice_ATOP</choiceReferences>
            <choiceReferences>K10</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_ATOP</defaultSelectedChoiceReference>
            <fieldText>The Bridge Assessments</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ATOP_Assessment</name>
        <label>ATOP Assessment</label>
        <locationX>1246</locationX>
        <locationY>1496</locationY>
        <flowName>NADABase_ATOP</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>Session_New_Existing.SessionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CAT_Assessment</name>
        <label>CAT Assessment</label>
        <locationX>1150</locationX>
        <locationY>1096</locationY>
        <flowName>Assessment_CAT</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>IAR_DST</name>
        <label>IAR DST</label>
        <locationX>1113</locationX>
        <locationY>1668</locationY>
        <flowName>Assessment_IAR_DST</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>K10_Assessment</name>
        <label>K10 Assessment</label>
        <locationX>1421</locationX>
        <locationY>397</locationY>
        <flowName>Assessment_K10</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>K5_Assessment</name>
        <label>K5 Assessment</label>
        <locationX>1477</locationX>
        <locationY>26</locationY>
        <flowName>Assessment_K5</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PWI_Assessment</name>
        <label>PWI Assessment</label>
        <locationX>1150</locationX>
        <locationY>955</locationY>
        <flowName>Assessment_PWI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PWI_Assessment_HYAP</name>
        <label>PWI Assessment</label>
        <locationX>1152</locationX>
        <locationY>1371</locationY>
        <flowName>Assessment_PWI</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SDQ_Assessment</name>
        <label>SDQ Assessment</label>
        <locationX>1300</locationX>
        <locationY>528</locationY>
        <flowName>Assessment_SDQ</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Session_New_Existing</name>
        <label>Session New/Existing</label>
        <locationX>1116</locationX>
        <locationY>1496</locationY>
        <connector>
            <targetReference>ATOP_Assessment</targetReference>
        </connector>
        <flowName>Session_New_or_Existing</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Support_Stream_Assessment</name>
        <label>Support Stream Assessment</label>
        <locationX>1154</locationX>
        <locationY>1223</locationY>
        <flowName>Assessment_HYAP_Support_Stream</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
