DevOps/force-app/main/default/flows/Outcomes_Star_Reading.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Goto_Outcome_Star_Reading</name>
        <label>Goto Outcome Star Reading</label>
        <locationX>1087</locationX>
        <locationY>484</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>OutcomeStarReadingUrl</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Case_Plan</name>
        <label>Open Case Plan</label>
        <locationX>1540</locationX>
        <locationY>491</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NewCasePlanURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>1279</locationX>
        <locationY>1749</locationY>
        <assignmentItems>
            <assignToReference>OutcomeAreas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OutcomeArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Outcome_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Outcome_Area</name>
        <label>Clear Outcome Area</label>
        <locationX>1287</locationX>
        <locationY>1135</locationY>
        <assignmentItems>
            <assignToReference>OutcomeArea.Notes__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Area_Template__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Star_Reading__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Score__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverOutcomeAreaTemplates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_From_Session_Paricipant</name>
        <label>Set Values From Session Paricipant</label>
        <locationX>676</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionParticipant.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionParticipant.Session__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Session_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionParticipant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseIdFromRecordId</name>
        <label>Set Case Id From Record Id</label>
        <locationX>267</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Selection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseIdFromSession</name>
        <label>Set Case Id From Session</label>
        <locationX>477</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSession.Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutcomeStarScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmptyScore</name>
        <label>Set Empty Score</label>
        <locationX>1153</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Star_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeStarReading.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Area_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverOutcomeAreaTemplates.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutcomeArea1to10</name>
        <label>Set Outcome Area (1 - 10)</label>
        <locationX>866</locationX>
        <locationY>1757</locationY>
        <assignmentItems>
            <assignToReference>OutcomeArea.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes1to10.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Area_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverOutcomeAreaTemplates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Star_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeStarReading.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score1to10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutcomeArea1to5</name>
        <label>Set Outcome Area (1 - 5)</label>
        <locationX>1060</locationX>
        <locationY>1652</locationY>
        <assignmentItems>
            <assignToReference>OutcomeArea.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes1to5.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Area_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverOutcomeAreaTemplates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Outcome_Star_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeStarReading.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeArea.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Score1to5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutcomeStarReading</name>
        <label>Set Outcome Star Reading</label>
        <locationX>479</locationX>
        <locationY>1132</locationY>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Completed_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed_By</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Outcome_Star_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Outcome_Star_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Case_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Case_Plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutcomeStarReading.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Outcome_Star_Reading</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSessionIdFromRecordId</name>
        <label>Set Session Id From Record Id</label>
        <locationX>478</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>sessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSession</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice7</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice8</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice9</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceParticipantEntry</name>
        <choiceText>Use live Star completion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParticipantEntry</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceQuickEntry</name>
        <choiceText>Use quick Star data entry</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ChoiceQuickEntry</elementReference>
        </value>
    </choices>
    <decisions>
        <name>CheckEntryMethod</name>
        <label>CheckEntryMethod</label>
        <locationX>961</locationX>
        <locationY>811</locationY>
        <defaultConnector>
            <targetReference>Star_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Quick Entry</defaultConnectorLabel>
        <rules>
            <name>GotoParticipantEntryScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntryMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceParticipantEntry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParticipantEntryScreenLinkScreen</targetReference>
            </connector>
            <label>Goto Participant Entry Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordIdType</name>
        <label>Check Record Id Type</label>
        <locationX>472</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>UnknownRecordIdTypeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>RecordIdIsSessionId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a14</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSessionIdFromRecordId</targetReference>
            </connector>
            <label>Session</label>
        </rules>
        <rules>
            <name>RecordIdIsCaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseIdFromRecordId</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>RecordIdIsSessionParicipantId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1V</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SessionParticipant</targetReference>
            </connector>
            <label>Session Paricipant</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckScoreRange</name>
        <label>Check Score Range</label>
        <locationX>961</locationX>
        <locationY>1324</locationY>
        <defaultConnector>
            <targetReference>OutcomeAreaScreen1to10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score 1 - 10</defaultConnectorLabel>
        <rules>
            <name>EmptyScore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntryMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceParticipantEntry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmptyScore</targetReference>
            </connector>
            <label>EmptyScore</label>
        </rules>
        <rules>
            <name>Score_1_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverOutcomeAreaTemplates.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scores 1 - 5, 5 Journey of Change Steps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutcomeArea1to5</targetReference>
            </connector>
            <label>Score 1 - 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingorNewSession</name>
        <label>ExistingorNewSession</label>
        <locationX>259</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Create_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Existing_Session</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Existing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutcomeStarScreen</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
        <rules>
            <name>Existing_No_Selection</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Existing_Session</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Existing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_an_existing_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_an_existing_Session</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Existing_No_Selection_Screen</targetReference>
            </connector>
            <label>Existing No Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Outcome_Star_Available</name>
        <label>No Outcome Star Available?</label>
        <locationX>613</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Get_Outcome_Star_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Outcome Star</defaultConnectorLabel>
        <rules>
            <name>No_Outcome_Star</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Outcome_Star_Dependant.middleValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outcome_Star_Dependant.middleValue</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Outcome_Star_Screen</targetReference>
            </connector>
            <label>No Outcome Star</label>
        </rules>
    </decisions>
    <decisions>
        <name>Star_Type</name>
        <label>Star Type</label>
        <locationX>1080</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Goto_Outcome_Star_Reading</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Star</defaultConnectorLabel>
        <rules>
            <name>Youth_Star</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOutcomeStarReading.Outcome_Star_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a1fRF000003u9oTYAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Action_Plan</targetReference>
            </connector>
            <label>Youth Star</label>
        </rules>
    </decisions>
    <description>Using outcome star template dependant picklist</description>
    <dynamicChoiceSets>
        <name>CasePlans</name>
        <dataType>String</dataType>
        <displayField>Start_Date_Summary__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistCompletedBy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Completed_by__c</picklistField>
        <picklistObject>Outcome_Star_Reading__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Outcome_Star_Reading__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoice_ExistingSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0129s0000004IoG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0122x0000000QPT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Session_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousMonth2</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>sessionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpecifiedDateOfCompletion</assignToReference>
            <field>Session_Date__c</field>
        </outputAssignments>
        <sortField>Session_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>DefaultDateOfCompleted</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!SpecifiedDateOfCompletion}), {!DateToday}, {!SpecifiedDateOfCompletion})</expression>
    </formulas>
    <formulas>
        <name>NewCasePlanURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500})) &amp; &apos;/&apos; &amp; {!CasePlan.Id}</expression>
    </formulas>
    <formulas>
        <name>OutcomeStarReadingUrl</name>
        <dataType>String</dataType>
        <expression>&apos;https://socialfutures.lightning.force.com/lightning/r/Outcome_Star_Reading__c/&apos; + {!OutcomeStarReading.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>ParticipantEntryScreenUrl</name>
        <dataType>String</dataType>
        <expression>&apos;https://socialfutures.my.salesforce-sites.com/OutcomesStar/apex/OutcomesStarReading?id=&apos; + CASESAFEID({!GetOutcomeStarReading.Id}) + &apos;&amp;token=&apos; + {!GetOutcomeStarReading.Token__c}</expression>
    </formulas>
    <formulas>
        <name>PreviousMonth</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH(TODAY())-1=0, 12, MONTH(TODAY())-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PreviousMonth2</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH(TODAY())-2=0, 12,
IF(MONTH(TODAY())-2=-1, 11, MONTH(TODAY())-2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>recordIdFirst3Characters</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <interviewLabel>Outcomes Star Reading {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outcomes Star Reading</label>
    <loops>
        <name>LoopOverOutcomeAreaTemplates</name>
        <label>Loop Over Outcome Area Templates</label>
        <locationX>969</locationX>
        <locationY>1135</locationY>
        <collectionReference>GetOutcomeAreas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckScoreRange</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Outcome_Areas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Outcome_Areas</name>
        <label>Create Outcome Areas</label>
        <locationX>969</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>CheckEntryMethod</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <inputReference>OutcomeAreas</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Outcome_Star_Reading</name>
        <label>Create Outcome Star Reading</label>
        <locationX>598</locationX>
        <locationY>1132</locationY>
        <connector>
            <targetReference>GetOutcomeStarReading</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault</targetReference>
        </faultConnector>
        <inputReference>OutcomeStarReading</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Outcome_Star_Template</name>
        <label>Get Outcome Star Template</label>
        <locationX>810</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOutcomeStarReading</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Outcome_Star_Dependant.middleValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outcome_Star_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOutcomeAreas</name>
        <label>Get Outcome Area Templates</label>
        <locationX>837</locationX>
        <locationY>1134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverOutcomeAreaTemplates</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outcome_Star_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Outcome_Star_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Outcome_Area_Template__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOutcomeStarReading</name>
        <label>Get Outcome Star Reading</label>
        <locationX>711</locationX>
        <locationY>1132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOutcomeAreas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OutcomeStarReading.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outcome_Star_Reading__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSession</name>
        <label>GetSession</label>
        <locationX>477</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseIdFromSession</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SessionParticipant</name>
        <label>SessionParticipant</label>
        <locationX>674</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_From_Session_Paricipant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Existing_No_Selection_Screen</name>
        <label>Existing No Selection Screen</label>
        <locationX>50</locationX>
        <locationY>790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exisitng_No_Selection_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;No Existing Session Selected&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Existing Session was selected but no Session was selected. Please return to the previous screen and select a session to attach the Outcome Star to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Outcome_Star_Screen</name>
        <label>No Outcome Star</label>
        <locationX>622</locationX>
        <locationY>840</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Outcome_Star_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;No Outcome Star Template&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There is no Outcome Star Template associated with the program for this case.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If this is incorrect please put in a Freshservice ticket with the Star that should be available and the Program.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutcomeArea1to5</name>
        <label>Outcome Area (1 - 5)</label>
        <locationX>1064</locationX>
        <locationY>1517</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetOutcomeArea1to5</targetReference>
        </connector>
        <fields>
            <name>OutcomeAreaText1to5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Outcome Area&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LoopOverOutcomeAreaTemplates.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;From the picklist below, select the relevant score from the Star reading and enter any notes if made during the discussion in the Star Notes box below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Score1to5</name>
            <choiceReferences>Choice1</choiceReferences>
            <choiceReferences>Choice2</choiceReferences>
            <choiceReferences>Choice3</choiceReferences>
            <choiceReferences>Choice4</choiceReferences>
            <choiceReferences>Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Score (1 to 5)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NotesText1to5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Star Notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes1to5</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutcomeAreaScreen1to10</name>
        <label>Outcome Area (1 - 10)</label>
        <locationX>864</locationX>
        <locationY>1504</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetOutcomeArea1to10</targetReference>
        </connector>
        <fields>
            <name>OutcomeAreaText1to10</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Outcome Area&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LoopOverOutcomeAreaTemplates.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;From the picklist below, select the relevant score from the Star reading and enter any notes if made during the discussion in the Star Notes box below&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Score1to10</name>
            <choiceReferences>Choice1</choiceReferences>
            <choiceReferences>Choice2</choiceReferences>
            <choiceReferences>Choice3</choiceReferences>
            <choiceReferences>Choice4</choiceReferences>
            <choiceReferences>Choice5</choiceReferences>
            <choiceReferences>Choice6</choiceReferences>
            <choiceReferences>Choice7</choiceReferences>
            <choiceReferences>Choice8</choiceReferences>
            <choiceReferences>Choice9</choiceReferences>
            <choiceReferences>Choice10</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Score (1 - 10)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NotesText1to10</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Star Notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes1to10</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OutcomeStarScreen</name>
        <label>Outcome Star</label>
        <locationX>480</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Outcome_Star_Available</targetReference>
        </connector>
        <fields>
            <name>OutcomesStarReadingHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Outcomes Star Reading&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ensure you enter the correct date for when the Star Chart was completed. NOT necessarily the date when you are entering the data, although it may be the same date.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As the Star tracks a Participant&apos;s journey over time, this date is important.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The next step is to tell the system how the Star was completed (Participant &amp;amp; Worker, Worker, Participant) and what type of Star on their journey of change is being recorded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Completed</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultDateOfCompleted</elementReference>
            </defaultValue>
            <fieldText>Date of completion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completed_By</name>
            <choiceReferences>ChoicePicklistCompletedBy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Completed By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>ChoicePicklistType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OutcomesStarReadingStarSelectionText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Choosing the Star&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the Star appropriate to your Program.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outcome_Star_Dependant</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Outcome_Stars__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Program_Type2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Program:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>500Bn00000Sjb9lIAB</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Outcome Star:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OutcomesStarReadingCaptureMethodText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Method to record the Star reading&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have already completed a Star on paper with a Participant, and just want to enter the data, choose the first option.  Likewise if you have a retrospective Star or any Star completed previously.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are sitting with a Participant and want to complete a Star with them in real-time, on-screen, choose the second option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntryMethod</name>
            <choiceReferences>ChoiceQuickEntry</choiceReferences>
            <choiceReferences>ChoiceParticipantEntry</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceQuickEntry</defaultSelectedChoiceReference>
            <fieldText>Data Capture Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LinkToExistingPlanText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Link to Existing Case Plan (Optional)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you would like to link this Outcome Star Reading to an existing Case Plan, please select one from the below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CasePlans</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Case_Plan</name>
            <choiceReferences>CasePlans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existing Case Plan</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ParticipantEntryScreenLinkScreen</name>
        <label>Participant Entry Screen Link</label>
        <locationX>1199</locationX>
        <locationY>809</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Star_Type</targetReference>
        </connector>
        <fields>
            <name>ParticipantEntryScreenText</name>
            <fieldText>&lt;p&gt;The {!GetOutcomeStarReading.Outcome_Star_Template__r.Name} Reading is now ready for you and/or the Participant to complete.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click the link below to work on the Star together, or hand your device over to the Participant to complete.&amp;nbsp;When finished, you will be prompted to close the Star Reading browser. Return to this screen and click Finish to complete the Outcomes Star reading.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EntryScreenUrlText</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!ParticipantEntryScreenUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!ParticipantEntryScreenUrl}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Selection_Screen</name>
        <label>Session Selection Screen</label>
        <locationX>267</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExistingorNewSession</targetReference>
        </connector>
        <fields>
            <name>New_or_Existing_Session</name>
            <choiceReferences>Choice_New</choiceReferences>
            <choiceReferences>Choice_Existing</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New_or_Existing_Session</stringValue>
            </defaultValue>
            <fieldText>Will this Outcome Star be attached to a new or existing session?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_an_existing_Session</name>
            <choiceReferences>RecordChoice_ExistingSessions</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Select_an_existing_Session</stringValue>
            </defaultValue>
            <fieldText>Select an existing Session:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_or_Existing_Session</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Existing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UnknownRecordIdTypeScreen</name>
        <label>Unknown Record Id Type</label>
        <locationX>865</locationX>
        <locationY>272</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnknownRecordIdTypeText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERROR&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please launch this flow from a Case or a Session related to a Case&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>355</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>CheckRecordIdType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Action_Plan</name>
        <label>Create Action Plan</label>
        <locationX>1305</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>DEX_Score</targetReference>
        </connector>
        <flowName>Outcomes_Star_Action_Plan</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>GetOutcomeStarReading.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CasePlan</assignToReference>
            <name>CasePlan</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>266</locationX>
        <locationY>977</locationY>
        <connector>
            <targetReference>OutcomeStarScreen</targetReference>
        </connector>
        <flowName>Create_Session</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SkipFollowonActions</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SpecifiedDateOfCompletion</assignToReference>
            <name>SessionDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sessionId</assignToReference>
            <name>SessionId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>DEX_Score</name>
        <label>DEX Score</label>
        <locationX>1430</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Open_Case_Plan</targetReference>
        </connector>
        <flowName>DEX_Score</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OutcomeStarID</name>
            <value>
                <elementReference>GetOutcomeStarReading.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SessionId</name>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Flow_Fault</name>
        <label>Flow Fault</label>
        <locationX>707</locationX>
        <locationY>1373</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0</name>
        <label>Flow Fault</label>
        <locationX>1119</locationX>
        <locationY>993</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0</name>
        <label>Flow Fault</label>
        <locationX>852</locationX>
        <locationY>511</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>OutcomeArea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outcome_Area__c</objectType>
    </variables>
    <variables>
        <name>OutcomeAreas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outcome_Area__c</objectType>
    </variables>
    <variables>
        <name>OutcomeStarReading</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outcome_Star_Reading__c</objectType>
    </variables>
    <variables>
        <description>Should be the Session Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecifiedDateOfCompletion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
