DevOps/force-app/main/default/flows/Record_NDIS_Plan_Activity_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Activity_Log_Values_NDISAccess</name>
        <label>Assign Activity Log Values</label>
        <locationX>3680</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.BPS_Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Scheduled_Rescheduled_Appointment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Appointment_Held_On_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Held_on_Scheduled_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Activity_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Activity_Log_Values</name>
        <label>Copy 1 of Assign Activity Log Values</label>
        <locationX>3944</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.BPS_Participant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Scheduled_Rescheduled_Appointment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BPSActivityLog.Callback_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Callback_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Activity_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Record_Type_ID</name>
        <label>Assign Record Type ID</label>
        <locationX>1056</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>BPSActivityLog.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NDISPlanActivityLogRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Confirmed_Case_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appt_and_Contact_Status</name>
        <label>Set Appt and Contact Status</label>
        <locationX>4802</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.BPS_Planning_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.BPS_Planning_Meeting_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Next_Scheduled_Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.BPS_Most_Recent_Planning_Contact_Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_UTC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appt_and_Contact_Status_UTP</name>
        <label>Set Appt and Contact Status UTP</label>
        <locationX>5066</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.BPS_Planning_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.BPS_Planning_Meeting_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Next_Scheduled_Check_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.BPS_Most_Recent_Planning_Contact_Attempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_UTP</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Appointment_Scheduled</name>
        <label>Appointment Scheduled?</label>
        <locationX>3196</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appt_Scheduled_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduled_Appointment_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appointment_Held_on_Scheduled_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_appointment_task_exists</targetReference>
            </connector>
            <label>Appt Scheduled &amp; Held</label>
        </rules>
        <rules>
            <name>Appt_Scheduled</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_booking_task</targetReference>
            </connector>
            <label>Appt Scheduled</label>
        </rules>
        <rules>
            <name>Declined_Offer</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined Offer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Appointment_task_set_complete_it</targetReference>
            </connector>
            <label>Declined Offer</label>
        </rules>
        <rules>
            <name>No_Add_Info_or_Callback</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Requested_Callback_Date_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_Check_for_task</targetReference>
            </connector>
            <label>No Add. Info or Callback</label>
        </rules>
        <rules>
            <name>Outbound_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post-Implementation Plan Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Post_Implementation_Survey</targetReference>
            </connector>
            <label>Outbound - Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>appointment_task_set_complete_it</name>
        <label>Appointment task set, complete it</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Check_If_Offer_Previously_Made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>appointment_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Complete_task</targetReference>
            </connector>
            <label>Appointment task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_task_set_complete_it2</name>
        <label>Appointment task set, complete it</label>
        <locationX>5066</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_task_exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Complete_task</targetReference>
            </connector>
            <label>Appointment task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_task_set_complete_it_SA</name>
        <label>Appointment task set, complete it SA</label>
        <locationX>6474</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Plan_Case_declined_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_task_exists_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_task_SA</targetReference>
            </connector>
            <label>Appointment task exists SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Callback_Date_Requested</name>
        <label>Callback Date Requested?</label>
        <locationX>3526</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Extend_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requested_Callback_Date_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callback_Extend_Due_Date</targetReference>
            </connector>
            <label>Date Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>4381</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAC_NDIS_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAC_NDIS_Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_CCP_Activity_Log_Record_Type_Id</targetReference>
            </connector>
            <label>LAC NDIS Plan Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_booking_task</name>
        <label>Check for booking task</label>
        <locationX>5880</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unsuccessful_Get_appt_booking_task</targetReference>
            </connector>
            <label>Booking task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_appointment_scheduled_or_submitted</name>
        <label>Check if appointment scheduled or submitted</label>
        <locationX>3812</locationX>
        <locationY>1922</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NDIS_Access_Appointment_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>appointment_task_set_complete_it</targetReference>
            </connector>
            <label>Appointment Held</label>
        </rules>
        <rules>
            <name>Reschedule_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Appointment_task_set_complete_it</targetReference>
            </connector>
            <label>Reschedule Required</label>
        </rules>
        <rules>
            <name>outbound_successful_or_inbound</name>
            <conditionLogic>(1 AND 2 and 4) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Scheduled</targetReference>
            </connector>
            <label>outbound successful or inbound</label>
        </rules>
        <rules>
            <name>UTP_or_UTC_Complete_in_CRM</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UTC_or_UTP</targetReference>
            </connector>
            <label>UTP or UTC Complete in CRM</label>
        </rules>
        <rules>
            <name>outbound_unsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_booking_task</targetReference>
            </connector>
            <label>outbound unsuccessful</label>
        </rules>
        <rules>
            <name>Assigned_to_SF_Post_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned to SF Post Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_task_set_complete_it_SA</targetReference>
            </connector>
            <label>Assigned to SF Post Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_booking_task</name>
        <label>Check if booking task</label>
        <locationX>2426</locationX>
        <locationY>2138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_booking_task</targetReference>
            </connector>
            <label>Complete Task</label>
        </rules>
        <rules>
            <name>Update_Appt_Task_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjust_appt_task_due_date</targetReference>
            </connector>
            <label>Update Appt Task Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Offer_Previously_Made</name>
        <label>Check If Offer Previously Made</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Offer_Outcome_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Was Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_task</name>
        <label>check task</label>
        <locationX>1238</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Implementation_Reschedule_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Complete_task</targetReference>
            </connector>
            <label>Reschedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_task_appointment_booking</name>
        <label>Check task (appointment booking)</label>
        <locationX>3724</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>Update_Case_w_Successful_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Extend_Booking_Due_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_appt_booking_task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookingTaskName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_appt_booking_task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RescheduleTaskName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callback_Date_Requested</targetReference>
            </connector>
            <label>Extend Booking Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Appointment_task_set_complete_it</name>
        <label>Appointment task set, complete it</label>
        <locationX>1392</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Implementation_Reschedule_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Appointment_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_appointment_task_rescheduled</targetReference>
            </connector>
            <label>Appointment task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Appointment_task_set_complete_it</name>
        <label>Appointment task set, complete it</label>
        <locationX>3086</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Update_Plan_Case_declined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Appointment_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Complete_task</targetReference>
            </connector>
            <label>Appointment task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Confirmed_Case_Plan</name>
        <label>Missing Confirmed Case Plan?</label>
        <locationX>1056</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Missing_Plan_Approved_or_Plan_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Confirmed_Plan_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Confirmed_Plan_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NCPTScreen</targetReference>
            </connector>
            <label>No Confirmed Plan Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Plan_Approved_or_Plan_End</name>
        <label>Missing Plan Approved or Plan End?</label>
        <locationX>2063</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>NDIS_Plan_Activity_Log_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dates_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Plan_Approved__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.BPS_Plan_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_NCPTScreen</targetReference>
            </connector>
            <label>Dates Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Expired</name>
        <label>Plan Expired?</label>
        <locationX>6175</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LAC_task_record_type_id</targetReference>
            </connector>
            <label>Not Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedule_appointment_task_exists</name>
        <label>Schedule appointment task exists</label>
        <locationX>1854</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Update_Case_w_Scheduled_and_Held_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Schedule_task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_After_Activity_Log_Save.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_schedule_appt_task</targetReference>
            </connector>
            <label>Schedule task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduled_Held</name>
        <label>Scheduled &amp; Held?</label>
        <locationX>3812</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Activity_Log_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_Scheduled_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Held_on_Scheduled_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activity_Log_Values_NDISAccess</targetReference>
            </connector>
            <label>Was Scheduled &amp; Held</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful_Check_for_task</name>
        <label>Successful - Check for task</label>
        <locationX>3911</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Update_Case_w_Successful_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_Appointment_Task_Id_18__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_appt_booking_task</targetReference>
            </connector>
            <label>Task exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unsuccessful_Check_task</name>
        <label>Unsuccessful - Check task</label>
        <locationX>5726</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Update_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unsuccessful_Extend_Booking_Due_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Unsuccessful_Get_appt_booking_task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookingTaskName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unsuccessful_Get_appt_booking_task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RescheduleTaskName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unsuccessful_Extend_Due_Date</targetReference>
            </connector>
            <label>Unsuccessful - Extend Booking Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>UTC_or_UTP</name>
        <label>UTC or UTP</label>
        <locationX>5066</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Appointment_task_set_complete_it2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UTC_Declaration</targetReference>
            </connector>
            <label>UTC</label>
        </rules>
        <rules>
            <name>UTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTP Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appt_and_Contact_Status_UTP</targetReference>
            </connector>
            <label>UTP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_checks</name>
        <label>Validation checks</label>
        <locationX>3812</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Scheduled_Held</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_fields_missing_NDISPlan</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned to SF Post Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admin Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Required_Fields_Missing_Screen</targetReference>
            </connector>
            <label>Required fields missing</label>
        </rules>
        <rules>
            <name>Appt_Held_Without_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.BPS_First_Planning_Contact_Attempt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Required_Fields_Missing_Screen</targetReference>
            </connector>
            <label>Appt Held Without Contact</label>
        </rules>
        <rules>
            <name>UTC_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTC Complete in CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Unsuccessful_Contact_Attempts__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UTC_Screen</targetReference>
            </connector>
            <label>UTC check</label>
        </rules>
        <rules>
            <name>Next_Check_In_After_56_Days_from_PED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanEndMinusNextCheckIn</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>56.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_CheckIn_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NextScheduledCheckInScreen</targetReference>
            </connector>
            <label>Next Check-In After 56 Days from PED</label>
        </rules>
    </decisions>
    <description>Next Check-In date cannot be less than 56 days from PED</description>
    <dynamicChoiceSets>
        <name>ConfirmedPlanType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Confirmed_Plan_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HoursPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hours__c</picklistField>
        <picklistObject>BPS_Activity_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MinutesPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Minutes__c</picklistField>
        <picklistObject>BPS_Activity_Log__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportConnections</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Support_Connection_s_Related_To__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SurveyPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BPS_Post_Implementation_Survey__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ActivityDateplus2</name>
        <dataType>Date</dataType>
        <expression>{!dateTimeDate} + 2</expression>
    </formulas>
    <formulas>
        <name>dateTimeDate</name>
        <dataType>Date</dataType>
        <expression>datevalue({!Date_Time})</expression>
    </formulas>
    <formulas>
        <name>dateTimeDatePlus7</name>
        <dataType>Date</dataType>
        <expression>{!dateTimeDate}+7</expression>
    </formulas>
    <formulas>
        <name>PlanEndMinus56</name>
        <dataType>Date</dataType>
        <expression>{!Get_Case.BPS_Plan_End_Date__c} - 56</expression>
    </formulas>
    <formulas>
        <name>PlanEndMinusNextCheckIn</name>
        <dataType>Number</dataType>
        <expression>{!Get_Case.BPS_Plan_End_Date__c} - {!Next_CheckIn_Date}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RequestedCallBackDate</name>
        <dataType>Date</dataType>
        <expression>datevalue({!Requested_Callback_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>RequestedCallBackTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Requested_Callback_Date_Time} + (11/24)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>todayPlus2Days</name>
        <dataType>Date</dataType>
        <expression>today()+2</expression>
    </formulas>
    <formulas>
        <name>todayPlus6months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),6)</expression>
    </formulas>
    <formulas>
        <name>todayPlus7</name>
        <dataType>Date</dataType>
        <expression>today()+7</expression>
    </formulas>
    <formulas>
        <name>UnsuccessfulContactsplus1</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_Case.Unsuccessful_Contact_Attempts__c}), 1, {!Get_Case.Unsuccessful_Contact_Attempts__c} + 1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Record NDIS Plan Activity Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Implementation Activity Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Implementation_appointment_task</name>
        <label>Create Implementation appointment task</label>
        <locationX>2162</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Set_Scheduled_Appointment_Date_on_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>BPSActivityLog.Scheduled_Rescheduled_Appointment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Is_Current_Plan__c</field>
            <value>
                <elementReference>Get_Case.BPS_IsCurrentPlan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact__c</field>
            <value>
                <elementReference>Get_Case.BPS_Most_Recent_Implementation_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Plan_Type__c</field>
            <value>
                <elementReference>Get_Case.BPS_Plan_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AppointmentTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Implementation_Reschedule_task</name>
        <label>Implementation Reschedule task</label>
        <locationX>1392</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Update_Case_Taskid</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>todayPlus2Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_LGA__c</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_LGA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Region__c</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_Participant_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Participant_Status__c</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__r.BPS_Primary_LAC_Worker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>taskLACRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RescheduleTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Case.BPS_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_Activity_Log</name>
        <label>Save Activity Log</label>
        <locationX>3812</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Get_Case_After_Activity_Log_Save</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>BPSActivityLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_CCP_Activity_Log_Record_Type_Id</name>
        <label>Get NDIS Plan Activity Log Record Type Id</label>
        <locationX>1056</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BPS_Activity_Log__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NDIS_Plan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NDISPlanActivityLogRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_appointment_task_rescheduled</name>
        <label>Get appointment task (rescheduled)</label>
        <locationX>1238</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_appt_booking_task</name>
        <label>Get appt booking task</label>
        <locationX>3724</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_task_appointment_booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>6175</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plan_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_After_Activity_Log_Save</name>
        <label>Get Case After Activity Log Save</label>
        <locationX>3812</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_appointment_scheduled_or_submitted</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LAC_task_record_type_id</name>
        <label>Get LAC task record type id</label>
        <locationX>4381</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>taskLACRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Unsuccessful_Get_appt_booking_task</name>
        <label>Unsuccessful - Get appt booking task</label>
        <locationX>5726</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unsuccessful_Check_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Adjust_appt_task_due_date</name>
        <label>Adjust appt task due date</label>
        <locationX>2426</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Update_Case_Scheduled_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentTaskName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Callback_Extend_Due_Date</name>
        <label>Callback - Extend Due Date</label>
        <locationX>3394</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Update_Case_w_Successful_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>RequestedCallBackDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time__c</field>
            <value>
                <elementReference>RequestedCallBackTime</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_booking_task</name>
        <label>Complete booking task</label>
        <locationX>2162</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Create_Implementation_appointment_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_schedule_appt_task</name>
        <label>Complete schedule appt task</label>
        <locationX>1722</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Update_Case_w_Scheduled_and_Held_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_task_SA</name>
        <label>Complete task SA</label>
        <locationX>6210</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Update_Plan_Case_declined_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Set Plan Approved and End Date</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>2954</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Update_Plan_Case_declined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case</name>
        <label>Copy 1 of Update Case</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Implementation_offer__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Held__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Held</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Post_Implementation_Survey__c</field>
            <value>
                <elementReference>Post_Implementation_Survey_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Outcome_Date__c</field>
            <value>
                <elementReference>BPSActivityLog.Activity_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Check_If_Offer_Previously_Made</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>1106</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Implementation_Reschedule_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Complete_task</name>
        <label>Complete task</label>
        <locationX>4802</locationX>
        <locationY>2654</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Set Plan Approved and End Date</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Extend_Due_Date</name>
        <label>Extend Due Date</label>
        <locationX>3658</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Update_Case_w_Successful_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDateplus2</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approved_and_End_Dates_on_Case</name>
        <label>Set Approved and End Dates on Case</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Plan_Approved__c</field>
            <value>
                <elementReference>Plan_Approved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Plan_End_Date__c</field>
            <value>
                <elementReference>Plan_End_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Confirmed_Plan_Type_on_Case</name>
        <label>Set Confirmed Plan Type on Case</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Confirmed_Plan_Type__c</field>
            <value>
                <elementReference>Confirmed_Plan_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Scheduled_Appointment_Date_on_Case</name>
        <label>Set Scheduled Appointment Date on Case</label>
        <locationX>2162</locationX>
        <locationY>2462</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Appointment_Task_Id_18__c</field>
            <value>
                <elementReference>Create_Implementation_appointment_task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Implementation_offer__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact_Attempt__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Contact_Status__c</field>
            <value>
                <stringValue>Contact Successful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Scheduled_Appointment_Date__c</field>
            <value>
                <elementReference>BPSActivityLog.Scheduled_Rescheduled_Appointment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Outcome_Date__c</field>
            <value>
                <elementReference>BPSActivityLog.Activity_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsuccessful_Contact_Attempts__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unsuccessful_Extend_Due_Date</name>
        <label>Unsuccessful - Extend Due Date</label>
        <locationX>5594</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Update_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.BPS_Appointment_Task_Id_18__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDateplus2</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Held__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Held</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Post_Implementation_Survey__c</field>
            <value>
                <elementReference>Post_Implementation_Survey_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Post_Implementation_Survey</name>
        <label>Update Case Post Implementation Survey</label>
        <locationX>4274</locationX>
        <locationY>2138</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Post_Implementation_Survey__c</field>
            <value>
                <elementReference>Post_Implementation_Survey_Provided</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Scheduled_Date</name>
        <label>Update Case Scheduled Date</label>
        <locationX>2426</locationX>
        <locationY>2354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact_Attempt__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Scheduled_Appointment_Date__c</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Taskid</name>
        <label>Update Case</label>
        <locationX>1392</locationX>
        <locationY>2738</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Appointment_Task_Id_18__c</field>
            <value>
                <elementReference>Implementation_Reschedule_task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Reschedule Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Scheduled_Appointment_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Booking</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_w_Scheduled_and_Held_Dates</name>
        <label>Update Case w Scheduled and Held Dates</label>
        <locationX>1854</locationX>
        <locationY>2438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Implementation_offer__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact_Attempt__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Contact_Status__c</field>
            <value>
                <stringValue>Contact Successful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Held__c</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Held</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Post_Implementation_Survey__c</field>
            <value>
                <elementReference>Post_Implementation_Survey_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Scheduled_Appointment_Date__c</field>
            <value>
                <elementReference>Scheduled_Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Outcome_Date__c</field>
            <value>
                <elementReference>BPSActivityLog.Activity_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsuccessful_Contact_Attempts__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_w_Successful_Contact</name>
        <label>Update Case w/ Successful Contact</label>
        <locationX>3911</locationX>
        <locationY>2930</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact_Attempt__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Contact_Status__c</field>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsuccessful_Contact_Attempts__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_UTC</name>
        <label>Update Case with UTC</label>
        <locationX>4802</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Appointment_task_set_complete_it2</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_UTP</name>
        <label>Update Case with UTP</label>
        <locationX>5066</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Appointment_task_set_complete_it2</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan</name>
        <label>Update Plan</label>
        <locationX>5880</locationX>
        <locationY>2630</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact_Attempt__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Contact_Status__c</field>
            <value>
                <elementReference>BPSActivityLog.Additional_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsuccessful_Contact_Attempts__c</field>
            <value>
                <elementReference>UnsuccessfulContactsplus1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan_Case_declined</name>
        <label>Update Plan Case declined</label>
        <locationX>3086</locationX>
        <locationY>2438</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Implementation_offer__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Most_Recent_Planning_Contact_Attempt__c</field>
            <value>
                <elementReference>dateTimeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Contact_Status__c</field>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Outcome_Date__c</field>
            <value>
                <elementReference>BPSActivityLog.Activity_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unsuccessful_Contact_Attempts__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Plan_Case_declined_SA</name>
        <label>Update Plan Case declined SA</label>
        <locationX>6474</locationX>
        <locationY>2570</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BPS_Assigned_to_SF_Post_Implementation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPS_Planning_Meeting_Status__c</field>
            <value>
                <stringValue>Assigned to SF at Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Scheduled_Check_In__c</field>
            <value>
                <elementReference>Next_CheckIn_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_Outcome_Date__c</field>
            <value>
                <elementReference>BPSActivityLog.Activity_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Monitoring</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_NCPTScreen</name>
        <label>Copy 1 of NCPTScreen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Approved_and_End_Dates_on_Case</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NCPTText</name>
            <fieldText>&lt;p&gt;Please enter the Plan Approved and Plan End dates before logging activities.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plan_Approved</name>
            <dataType>Date</dataType>
            <fieldText>Plan Approved</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Plan_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Plan End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Required_Fields_Missing_Screen</name>
        <label>Required Fields Missing Screen</label>
        <locationX>3284</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scheduled_Held</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_requiredText</name>
            <fieldText>&lt;p&gt;Please enter a value for Type and Outcome.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Required_Fields_Missing_Screen</name>
        <label>Copy 2 of Required Fields Missing Screen</label>
        <locationX>3548</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scheduled_Held</targetReference>
        </connector>
        <fields>
            <name>Contact_Required</name>
            <fieldText>&lt;p&gt;You must log that you have made outbound contact or received inbound contact before logging that you have held an appointment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may log that you have held an appointment when &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;logging that you have made outbound contact or received inbound contact. To do so:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The Scheduled Appointment Date must be less than or equal to today&apos;s date AND&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The Scheduled Appointment Date must be greater than or equal to the Activity Log date&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>6474</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;An error occurred:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Expired</name>
        <label>Expired</label>
        <locationX>7970</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseExpired</name>
            <fieldText>&lt;p&gt;This NDIS Plan has expired.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NCPTScreen</name>
        <label>NCPTScreen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Confirmed_Plan_Type_on_Case</targetReference>
        </connector>
        <fields>
            <name>NCPTText</name>
            <fieldText>&lt;p&gt;Please enter the Confirmed Plan Type before logging activities.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmed_Plan_Type</name>
            <choiceReferences>ConfirmedPlanType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmed Plan Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NDIS_Plan_Activity_Log_Screen</name>
        <label>NDIS Plan Activity Log Screen</label>
        <locationX>3812</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation_checks</targetReference>
        </connector>
        <fields>
            <name>NDIS_Plan_Activity_Log_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NDIS_Plan_Activity_Log_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Activity Date &amp;amp; Time must not be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_Time} &lt; now()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NDIS_Plan_Activity_Log_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hours</name>
                    <choiceReferences>HoursPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>0</stringValue>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NDIS_Plan_Activity_Log_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minutes</name>
                    <choiceReferences>MinutesPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NDIS_Plan_Activity_Log_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NDIS_Plan_Activity_Log_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BPSActivityLog.Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BPSActivityLog.Outcome__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BPSActivityLog.Additional_Information__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Appointment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Held</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Appointment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled Appointment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted Offer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Appointment Scheduled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_Held_on_Scheduled_Date</name>
            <dataType>Boolean</dataType>
            <fieldText>Appointment Held on Scheduled Date?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Scheduled_Appointment_Date</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>today</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Scheduled_Appointment_Date</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Date_Time</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_CheckIn_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Check-In Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Next Check-In Date must be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Next_CheckIn_Date} &gt; today()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Held</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assigned to SF Post Implementation</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Declined Offer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UTC Complete in CRM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UTP Complete in CRM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Appointment_Held_on_Scheduled_Date</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Declined Offer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post_Implementation_Survey_Provided</name>
            <choiceReferences>SurveyPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Post Implementation Survey Provided</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4) or 5</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Held</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outbound Contact</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Successful</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Post-Implementation Plan Survey</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Appointment_Held_on_Scheduled_Date</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requested_Callback_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Requested Callback Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>BPSActivityLog.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Callback Requested</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BPSActivityLog.Additional_Information__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Callback Requested</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NextScheduledCheckInScreen</name>
        <label>NextScheduledCheckInScreen</label>
        <locationX>4076</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scheduled_Held</targetReference>
        </connector>
        <fields>
            <name>NextScheduledCheckIn</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The next scheduled check-in date must be at least 56 days before plan end date ({!Get_Case.BPS_Plan_End_Date__c}). Adjust the next check-in date to {!PlanEndMinus56} or an earlier date to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UTC_Declaration</name>
        <label>UTC Declaration</label>
        <locationX>4802</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Appt_and_Contact_Status</targetReference>
        </connector>
        <fields>
            <name>DeclarationText</name>
            <fieldText>&lt;p&gt;I have contacted all informal, community, mainstream or funded support providers who may be able to contact the participant. For example:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;A support coordinator who may be able to facilitate contact&lt;/li&gt;&lt;li&gt;People with consent&lt;/li&gt;&lt;li&gt;Providers that the participant has received face-to-face supports from in the last month&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UTC_Screen</name>
        <label>UTC Screen</label>
        <locationX>3812</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scheduled_Held</targetReference>
        </connector>
        <fields>
            <name>UTCText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can only select &apos;UTC Complete in CRM&apos; if 3 or more unsuccessful contact attempts have been made.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>6049</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Implementation Appointment</stringValue>
        </value>
    </variables>
    <variables>
        <name>BookingTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Implementation Appointment Booking</stringValue>
        </value>
    </variables>
    <variables>
        <name>BPSActivityLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BPS_Activity_Log__c</objectType>
    </variables>
    <variables>
        <name>caseFirstPlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseNDISPlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCPActivityLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstPlanActivityLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NDISPlanActivityLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RescheduleTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Implementation Appointment Reschedule</stringValue>
        </value>
    </variables>
    <variables>
        <name>scheduledMonitoringCheckinRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskLACRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
