DevOps/force-app/main/default/flows/Referral_Website_Headspace.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_headspace_page</name>
        <label>Open headspace page</label>
        <locationX>578</locationX>
        <locationY>3326</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://socialfutures.org.au/service/headspace/</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Referral_to_headspace</name>
        <label>Send Referral to headspace</label>
        <locationX>578</locationX>
        <locationY>2594</locationY>
        <actionName>VFPOnlineReferralPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_PDF</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>headspaceBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>ReferralPDF_headspace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>program</name>
            <value>
                <elementReference>headspace_Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>headspaceEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>headspaceReferral.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VFPOnlineReferralPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Referral_to_Referrer</name>
        <label>Send Referral to Referrer</label>
        <locationX>446</locationX>
        <locationY>2810</locationY>
        <actionName>VFPOnlineReferralPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Share</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>ReferralPDF_headspace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>program</name>
            <value>
                <elementReference>headspace_Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Email_for_PDF.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>headspaceReferral.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VFPOnlineReferralPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Ballina_Email</name>
        <label>Assign Ballina Email</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>headspaceEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reception@headspace-lismore.org.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consent</name>
        <label>Assign Consent</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Young_Person_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Young_Person_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.How_did_the_Young_Person_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_the_Young_Person_Consent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Date_Young_Person_Consented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Young_Person_Consented</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Parent_Guardian_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Guardian_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.How_did_the_Parent_Guardian_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_the_Parent_Guardian_Consent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Date_Parent_Guardian_Consented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Parent_Guardian_Consented</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Young_Person_given_consent_to_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_Young_Person_given_consent_to_contact_the_Parent_Guardian</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Consent_to_Contact_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consent_to_Contact_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Booking_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emergency</name>
        <label>Assign Emergency</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Emergency_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Emergency_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Emergency_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Young_Person_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake</name>
        <label>Assign Intake</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Contact_to_begin_the_intake_process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Relationship_to_Young_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_to_Young_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Intake_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Best_Time_to_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_best_time_to_contact_this_person</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referrer_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lismore_Email</name>
        <label>Assign Lismore Email</label>
        <locationX>842</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>headspaceEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reception@headspace-lismore.org.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referral</name>
        <label>Assign Referral</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referral_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Date_of_Referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Referral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Headspace_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>headspace_Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Young_Person_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referrer</name>
        <label>Assign Referrer</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Referrer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referrer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Referrer_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referrer_Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Referrer_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referrer_Organisation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Referrer_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referrer_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Safety_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Safety</name>
        <label>Assign Safety</label>
        <locationX>578</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Young_Person_Challenges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Challenges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Support_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Safety_Risks_or_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_any_safety_or_risk_concerns_for_the_Young_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Safety_Risks_or_Concerns_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Safety_Risks_or_Concerns_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Safety_plan_in_place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_a_safety_plan_in_place</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Other_Services_or_Agencies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_services_or_agencies_you_know_are_involved_in_the_Young_Person_s_care</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Share</name>
        <label>Assign Share</label>
        <locationX>578</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Online_Referral_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Referral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tweed_Email</name>
        <label>Assign Tweed Email</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>headspaceEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>reception@headspace-tweed.org.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Young_Person</name>
        <label>Assign Young Person</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Preferred_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Gender_Identity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender_Identity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Pronouns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pronouns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Sex_Assigned_at_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sex_Assigned_at_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.ATSI_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aboriginal_and_or_Torres_Strait_Islander_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Living_Situation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Living_Situation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Language_Spoken_at_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language_Spoken_at_Home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Is_an_Interpreter_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_an_Interpreter_Needed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headspaceReferral.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Emergency_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Share</name>
        <label>Remove Share</label>
        <locationX>578</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>headspaceReferral.Online_Referral_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Share</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Ballina</name>
        <choiceText>Ballina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>headspace Ballina</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Lismore</name>
        <choiceText>Lismore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>headspace Lismore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Tweed</name>
        <choiceText>Tweed Heads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>headspace Tweed Heads</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Address_Check</name>
        <label>Address Check</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Young_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Missing_Information</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Address.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.city</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.province</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.postalCode</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Information_Screen</targetReference>
            </connector>
            <label>Missing Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_PDF</name>
        <label>Send PDF?</label>
        <locationX>578</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Remove_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivePDF.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Referral_to_Referrer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Office</name>
        <label>Which Office?</label>
        <locationX>578</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>Assign_Lismore_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lismore</defaultConnectorLabel>
        <rules>
            <name>Ballina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>headspace_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ballina</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ballina_Email</targetReference>
            </connector>
            <label>Ballina</label>
        </rules>
        <rules>
            <name>Tweed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>headspace_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tweed Heads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tweed_Email</targetReference>
            </connector>
            <label>Tweed</label>
        </rules>
    </decisions>
    <description>Removed V2</description>
    <dynamicChoiceSets>
        <name>Choice_ATSI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ATSI_Status__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Challenges</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Young_Person_Challenges__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Consent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_did_the_Parent_Guardian_Consent__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Consented</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Young_Person_given_consent_to_contact__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_headspace_location_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Headspace_Location__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Interpreter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_an_Interpreter_Needed__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Language</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Living</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Living_Situation__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Plan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Safety_plan_in_place__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Risk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Safety_Risks_or_Concerns__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Sex</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sex_Assigned_at_Birth__c</picklistField>
        <picklistObject>Online_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Referral (Website): Headspace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral (Website): Headspace</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral</name>
        <label>Create Referral</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Which_Office</targetReference>
        </connector>
        <inputReference>headspaceReferral</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Referral_Record_Type</name>
        <label>Get Referral Record Type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>headspace</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Share</name>
        <label>Update Share</label>
        <locationX>578</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Complete_Screen</targetReference>
        </connector>
        <inputReference>headspaceReferral</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Client_Booking_Details</name>
        <label>Client Booking Details</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Intake</targetReference>
        </connector>
        <fields>
            <name>Intake_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Who do we contact to begin the intake process?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;(direct contact with the Young Person is always preferred where possible)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Name</elementReference>
            </defaultValue>
            <fieldText>Contact Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 200 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Contact_Name})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Relationship_to_Young_Person</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Relationship_to_Young_Person</elementReference>
            </defaultValue>
            <fieldText>Relationship to Young Person:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 200 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Relationship_to_Young_Person})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact_Phone</elementReference>
            </defaultValue>
            <fieldText>Contact Phone:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(REGEX({!Contact_Phone},&quot;[0-9]*&quot;), REGEX({!Contact_Phone},&quot;\\+[0-9]*&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>What_is_the_best_time_to_contact_this_person</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>What_is_the_best_time_to_contact_this_person</elementReference>
            </defaultValue>
            <fieldText>What is the best time to contact this person?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!What_is_the_best_time_to_contact_this_person})&lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_Screen</name>
        <label>Complete Screen</label>
        <locationX>578</locationX>
        <locationY>3218</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_headspace_page</targetReference>
        </connector>
        <fields>
            <name>Complete_Text</name>
            <fieldText>&lt;p&gt;Your referral has been submitted.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A member of our team will be in touch with the referred young person soon to follow up and discuss the next steps.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note that headspace is not an emergency service. For mental health emergencies, please contact your local health service or call 000. The duty of care remains with the referrer, who must ensure appropriate steps are taken to support the client throughout the referral process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;headspace is available from 9am to 1am AEST via webchat and phone. https://headspace.org.au/online-and-phone-support/connect-with-us/phone/ Emails can be sent to eheadspace at any time.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;You can now close this window or press Finish to be returned to the headspace page.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Referral_to_headspace</targetReference>
        </connector>
        <fields>
            <name>Email_Text</name>
            <fieldText>&lt;p&gt;Do you want to receive an pdf copy of the referral via email?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReceivePDF</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Receive a PDF copy?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email_for_PDF</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email for PDF:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Referrer_Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReceivePDF.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Emergency_Contact_Details</name>
        <label>Emergency Contact Details</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Emergency</targetReference>
        </connector>
        <fields>
            <name>Emergency_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Emergency Contact Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emergency_Contact_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Emergency_Contact_Name</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 200 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Emergency_Contact_Name})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Emergency_Contact_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Emergency_Contact_Phone</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact Phone:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(REGEX({!Emergency_Contact_Phone},&quot;[0-9]*&quot;), REGEX({!Emergency_Contact_Phone},&quot;\\+[0-9]*&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Emergency_Contact_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Emergency_Contact_Email</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact Email:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Emergency_Contact_Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Information_Screen</name>
        <label>Missing Information</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_Information_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Missing Information:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The address must contain the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;City&lt;/li&gt;&lt;li&gt;State&lt;/li&gt;&lt;li&gt;Postcode&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please return to the previous page and enter the required address information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referrer_Details</name>
        <label>Referrer Details</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Referrer</targetReference>
        </connector>
        <fields>
            <name>Referral_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Referral Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referrer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Referrer_Name</elementReference>
            </defaultValue>
            <fieldText>Referrer Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 50 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Referrer_Name})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referrer_Position</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Referrer_Position</elementReference>
            </defaultValue>
            <fieldText>Referrer Position:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 200 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Referrer_Position})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referrer_Organisation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Referrer_Organisation</elementReference>
            </defaultValue>
            <fieldText>Referrer Organisation:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 200 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Referrer_Organisation})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referrer_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Referrer_Phone</elementReference>
            </defaultValue>
            <fieldText>Referrer Phone:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(REGEX({!Referrer_Phone},&quot;[0-9]*&quot;), REGEX({!Referrer_Phone},&quot;\\+[0-9]*&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referrer_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Referrer_Email</elementReference>
            </defaultValue>
            <fieldText>Referrer_Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Referrer_Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Safety_Concerns</name>
        <label>Safety/Concerns</label>
        <locationX>578</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Safety</targetReference>
        </connector>
        <fields>
            <name>Safety_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Safety Concerns/Risks:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please tell us the challenges the Young Person is experiencing that they would like help with.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 0.9em;&quot;&gt;Please tick all that apply.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 0.9em;&quot;&gt;Note - If the Young People is needing support with something that is not listed, please let us know. This is not a comprehensive list of the supports we provide.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Challenges</name>
            <choiceReferences>Choice_Challenges</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Challenges</elementReference>
            </defaultValue>
            <fieldText>Challenges:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Support_Information</name>
            <defaultValue>
                <stringValue>{!Support_Information}</stringValue>
            </defaultValue>
            <fieldText>Can you provide some more information about some support the Young Person might be seeking?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;65536&lt;/span&gt; characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Support_Information})&lt;=65536</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Are_there_any_safety_or_risk_concerns_for_the_Young_Person</name>
            <choiceReferences>Choice_Risk</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Are_there_any_safety_or_risk_concerns_for_the_Young_Person</elementReference>
            </defaultValue>
            <fieldText>Are there any safety or risk concerns for the Young Person?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Safety_Risks_or_Concerns_Description</name>
            <defaultValue>
                <stringValue>{!Safety_Risks_or_Concerns_Description}</stringValue>
            </defaultValue>
            <fieldText>Please Describe:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;32768&lt;/span&gt; characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Safety_Risks_or_Concerns_Description})&lt;=32768</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_there_any_safety_or_risk_concerns_for_the_Young_Person</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_there_a_safety_plan_in_place</name>
            <choiceReferences>Choice_Plan</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Is_there_a_safety_plan_in_place</elementReference>
            </defaultValue>
            <fieldText>Is there a safety plan in place?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_services_or_agencies_you_know_are_involved_in_the_Young_Person_s_care</name>
            <defaultValue>
                <stringValue>{!Other_services_or_agencies_you_know_are_involved_in_the_Young_Person_s_care}</stringValue>
            </defaultValue>
            <fieldText>Other services or agencies you know are involved in the Young Persons care:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 65536 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Other_services_or_agencies_you_know_are_involved_in_the_Young_Person_s_care})&lt;=65536</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Referral</targetReference>
        </connector>
        <fields>
            <name>Welcome_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;School/Service Provider Referral Form&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;headspace accepts referrals for young people aged between 12 and 25 years.&lt;/li&gt;&lt;li&gt;Referrals will NOT be processed without consent from the Young Person.&lt;/li&gt;&lt;li&gt;We accept referrals for young people who live in Tweed Heads, Ballina, Lismore and surrounding areas.&lt;/li&gt;&lt;li&gt;Once we have received your referral, we may be in touch regarding any other information we require to process the referral.&lt;/li&gt;&lt;li&gt;Please note that headspace is&amp;nbsp;&lt;strong&gt;not a crisis service&lt;/strong&gt;&amp;nbsp;or acute care mental health service. For mental health emergencies contact the Mental Health Line on 1800 011 511. Alternatively, direct your Young Person to present to their nearest emergency department.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Referral</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_of_Referral</elementReference>
            </defaultValue>
            <fieldText>Date of Referral:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>headspace_Location</name>
            <choiceReferences>choice_headspace_location_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>headspace Location:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Young_Person_Consent</name>
        <label>Young Person Consent</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Consent</targetReference>
        </connector>
        <fields>
            <name>Young_Consent_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Consent from Young Person:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Have you discussed this referral with the Young Person and have they provided consent that they would like to engage with headspace, are willing to have their details stored in our system, and are willing to be contacted?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Young_Person_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Young_Person_Name</elementReference>
            </defaultValue>
            <fieldText>Young Person Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 200 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Young_Person_Name})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>How_did_the_Young_Person_Consent</name>
            <choiceReferences>Choice_Consent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>How_did_the_Young_Person_Consent</elementReference>
            </defaultValue>
            <fieldText>How did the Young Person Consent?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Young_Person_Consented</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_Young_Person_Consented</elementReference>
            </defaultValue>
            <fieldText>Date Young Person Consented:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Consent Date cannot be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_Young_Person_Consented} &lt;= Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Parent_Consent_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 1.3em;&quot;&gt;Parent/Guardian Consent&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If the Young Person is under the age of 16, consent from their legal guardian is required.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent_Guardian_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Parent_Guardian_Name</elementReference>
            </defaultValue>
            <fieldText>Parent/Guardian Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 200 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Parent_Guardian_Name})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>How_did_the_Parent_Guardian_Consent</name>
            <choiceReferences>Choice_Consent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>How_did_the_Parent_Guardian_Consent</elementReference>
            </defaultValue>
            <fieldText>How did the Parent/Guardian Consent?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Parent_Guardian_Consented</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_Parent_Guardian_Consented</elementReference>
            </defaultValue>
            <fieldText>Date Parent/Guardian Consented:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Consent Date cannot be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_Parent_Guardian_Consented} &lt;= Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Has_the_Young_Person_given_consent_to_contact_the_Parent_Guardian</name>
            <choiceReferences>Choice_Consented</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Has_the_Young_Person_given_consent_to_contact_the_Parent_Guardian</elementReference>
            </defaultValue>
            <fieldText>Has the Young Person given consent to contact the Parent/Guardian?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Consent_to_Contact_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Consent_to_Contact_Date</elementReference>
            </defaultValue>
            <fieldText>Consent to Contact Date:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Consent Date cannot be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Consent_to_Contact_Date} &lt;= Today()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_the_Young_Person_given_consent_to_contact_the_Parent_Guardian</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Young_Person_Details</name>
        <label>Young Person Details</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Check</targetReference>
        </connector>
        <fields>
            <name>Young_Person_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Young Person Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 50 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!First_Name})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 50 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Last_Name})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Preferred_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Preferred_Name</elementReference>
            </defaultValue>
            <fieldText>Preferred Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 50 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Preferred_Name})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gender_Identity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Gender_Identity</elementReference>
            </defaultValue>
            <fieldText>Gender Identity:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 100 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Gender_Identity})&lt;=100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Pronouns</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Pronouns</elementReference>
            </defaultValue>
            <fieldText>Pronouns:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 50 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Pronouns})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sex_Assigned_at_Birth</name>
            <choiceReferences>Choice_Sex</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sex_Assigned_at_Birth</elementReference>
            </defaultValue>
            <fieldText>Sex Assigned at Birth:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_of_Birth</elementReference>
            </defaultValue>
            <fieldText>Date of Birth:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Birthdate cannot be in the future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_of_Birth} &lt;= Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Phone</elementReference>
            </defaultValue>
            <fieldText>Phone:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(REGEX({!Phone},&quot;[0-9]*&quot;), REGEX({!Phone},&quot;\\+[0-9]*&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Email:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Address.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Address.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Australia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Aboriginal_and_or_Torres_Strait_Islander_Person</name>
            <choiceReferences>Choice_ATSI</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Aboriginal_and_or_Torres_Strait_Islander_Person</elementReference>
            </defaultValue>
            <fieldText>Aboriginal and/or Torres Strait Islander Person?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Living_Situation</name>
            <choiceReferences>Choice_Living</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Living_Situation</elementReference>
            </defaultValue>
            <fieldText>Living Situation:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Language_Spoken_at_Home</name>
            <choiceReferences>Choice_Language</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Language_Spoken_at_Home</elementReference>
            </defaultValue>
            <fieldText>Language Spoken at Home:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_an_Interpreter_Needed</name>
            <choiceReferences>Choice_Interpreter</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Is_an_Interpreter_Needed</elementReference>
            </defaultValue>
            <fieldText>Is an Interpreter Needed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>Choice_Language</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Language</elementReference>
            </defaultValue>
            <fieldText>Language:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_an_Interpreter_Needed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Maintenance</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Maintenance</name>
        <label>Maintenance</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Referral_Record_Type</targetReference>
        </connector>
        <flowName>Maintenance</flowName>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Referrer_Name},&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your referral has been submitted.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A member of our team will be in touch with the referred young person soon to follow up and discuss the next steps.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note that headspace is not an emergency service. For mental health emergencies, please contact your local health service or call 000. The duty of care remains with the referrer, who must ensure appropriate steps are taken to support the client throughout the referral process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;headspace is available from 9am to 1am AEST via webchat and phone. https://headspace.org.au/online-and-phone-support/connect-with-us/phone/ Emails can be sent to eheadspace at any time.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Social Futures.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>headspaceBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!headspace_Location},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A referral has been submitted. Please see attachment.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>headspaceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>headspaceReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Online_Referral__c</objectType>
    </variables>
</Flow>
