DevOps/force-app/main/default/flows/Referral_Website_Connecting_Home.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Social_Futures_Page</name>
        <label>Open Social Futures Page</label>
        <locationX>864</locationX>
        <locationY>4916</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://socialfutures.org.au/service/homelessness-adults/</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_PDF</name>
        <label>Send PDF</label>
        <locationX>732</locationX>
        <locationY>4208</locationY>
        <actionName>VFPReferralPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Share_Case</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>ReferralPDF_CH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>program</name>
            <value>
                <elementReference>Get_Case.Program__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>EmailPDF</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VFPReferralPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Adult</name>
        <label>Assign Case Adult</label>
        <locationX>732</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_Adult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Youth</name>
        <label>Assign Case Youth</label>
        <locationX>996</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case_Youth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Choice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Adult_or_Youth</name>
        <label>Adult or Youth</label>
        <locationX>864</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Youth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Youth</defaultConnectorLabel>
        <rules>
            <name>Adult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Adult</targetReference>
            </connector>
            <label>Adult</label>
        </rules>
    </decisions>
    <decisions>
        <name>Another_Child_to_Enter</name>
        <label>Another Child to Enter?</label>
        <locationX>446</locationX>
        <locationY>2810</locationY>
        <defaultConnector>
            <targetReference>Is_the_Participant_under_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAnotherChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_another_child</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Child_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Children</name>
        <label>Are there Children?</label>
        <locationX>864</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Is_the_Participant_under_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChildren</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_they_have_childre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Participant_under_18</name>
        <label>Is the Participant under 18?</label>
        <locationX>864</locationX>
        <locationY>3152</locationY>
        <defaultConnector>
            <targetReference>Centrelink_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUnder18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Youth_Specific_Questions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Partner</name>
        <label>Is there a Partner?</label>
        <locationX>864</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Do_you_have_children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_they_have_a_partner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QLD_Youth</name>
        <label>QLD/Youth</label>
        <locationX>457</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Address_P1.province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queensland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address_P1.province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QLD_Youth_Case</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Referred</name>
        <label>Self Referred?</label>
        <locationX>457</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Referrer_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation</defaultConnectorLabel>
        <rules>
            <name>Self</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referral_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self-Referred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participant_Details</targetReference>
            </connector>
            <label>Self</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sending_Email</name>
        <label>Sending Email?</label>
        <locationX>864</locationX>
        <locationY>3992</locationY>
        <defaultConnector>
            <targetReference>Open_Social_Futures_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email_Check.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added PDF Sending</description>
    <dynamicChoiceSets>
        <name>ChoicePicklist_GlobalState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Centrelink</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Centrelink_Income_Support__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_of_Birth__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Disability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Disability__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_FACSOHC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>History_of_FACS_OHC__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_FDV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family_Domestic_Violence_Issues__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_HNSW</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>On_HNSW_Register__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Indigenous</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indigenous_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Legal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Issues__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Link2Home</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Have_you_contacted_Link2Home__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Mental</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mental_Physical_health_support_needed__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_PreferredComm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Communication_Method__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_PrimaryReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Reason_For_Seeking_Assistance__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_ReferralSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Source__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Safe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_feel_safe_where_you_are_staying__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Sex</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sex__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Stay</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_have_somewhere_to_stay_tonight__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Studying</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_you_studying__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceSet_Supports</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Supports_other_services_involved__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Age</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Birthdate_P}), null, FLOOR((TODAY() - {!Birthdate_P}) / 365))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UsualAddress</name>
        <dataType>String</dataType>
        <expression>{!Address_P1.street} + &quot;,&quot; + {!Address_P1.city} + &quot;,&quot; + {!Address_P1.province} + &quot;,&quot; + {!Address_P1.postalCode} + &quot;,&quot; + {!Address_P1.country}</expression>
    </formulas>
    <interviewLabel>Referral (Website): Connecting Home {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Referral (Website): Connecting Home</label>
    <loops>
        <name>Loop_Case_Members</name>
        <label>Loop Case Members</label>
        <locationX>732</locationX>
        <locationY>4532</locationY>
        <collectionReference>Get_Case_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Share_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Open_Social_Futures_Page</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Child_to_Case</name>
        <label>Add Child to Case</label>
        <locationX>446</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Another_Child</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Role__c</field>
            <value>
                <stringValue>Support Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124a0000004LBUAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>Create_Child</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Type__c</field>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Partner_to_Case</name>
        <label>Add Partner to Case</label>
        <locationX>468</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Do_you_have_children</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Role__c</field>
            <value>
                <stringValue>Support Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124a0000004LBUAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>Create_Partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Type__c</field>
            <value>
                <stringValue>Current Partner</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Adult</name>
        <label>Create Case Adult</label>
        <locationX>732</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Case_Adult</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Enquiry_or_Referral__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Referral_Share__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Referral From External Source</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G9s000000MKRG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason_For_Seeking_Assistance__c</field>
            <value>
                <elementReference>Reason_for_Seeking_Assistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <stringValue>a132x000000XjtUAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000DknAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Profile__c</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <elementReference>Referral_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Youth</name>
        <label>Create Case Youth</label>
        <locationX>996</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Case_Youth</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Enquiry_or_Referral__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Referral_Share__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Referral From External Source</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G9s000000MKRG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason_For_Seeking_Assistance__c</field>
            <value>
                <elementReference>Reason_for_Seeking_Assistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <stringValue>a132x000000XnuVAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000DknAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Profile__c</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <elementReference>Referral_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Child</name>
        <label>Create Child</label>
        <locationX>446</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Add_Child_to_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Participant.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate_C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Day_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Month_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Year_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Birth__c</field>
            <value>
                <elementReference>Country_of_Birth_C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indigenous_Status__c</field>
            <value>
                <elementReference>Indigenous_Status_C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Family_Name_C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Address_C.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Address_C.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Address_C.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Address_C.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Address_C.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Communication_Method__c</field>
            <value>
                <elementReference>Preferred_Communication_Method_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000DPhAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value>
                <elementReference>Sex_C</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Participant</name>
        <label>Create Participant</label>
        <locationX>864</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Day_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Month_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Year_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Centrelink_Income_Support__c</field>
            <value>
                <elementReference>Centrelink_Income_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Birth__c</field>
            <value>
                <elementReference>Country_of_Birth_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indigenous_Status__c</field>
            <value>
                <elementReference>Indigenous_Status_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Family_Name_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Address_P1.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Address_P1.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Address_P1.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Address_P1.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_Number_P</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Referral_Share_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Address_P1.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Address_P1.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Address_P1.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Address_P1.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Address_P1.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Disability__c</field>
            <value>
                <elementReference>Primary_Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000DPhAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value>
                <elementReference>Sex_P</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner</name>
        <label>Create Partner</label>
        <locationX>468</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Add_Partner_to_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Participant.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate_P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Day_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Month_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Year_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Birth__c</field>
            <value>
                <elementReference>Country_of_Birth_P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indigenous_Status__c</field>
            <value>
                <elementReference>Indigenous_Status_P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Family_Name_P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Address_P2.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Address_P2.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Address_P2.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Address_P2.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Address_P2.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Communication_Method__c</field>
            <value>
                <elementReference>Preferred_Contact_Method_P2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000DPhAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value>
                <elementReference>Sex_P2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral</name>
        <label>Create Referral</label>
        <locationX>864</locationX>
        <locationY>3776</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Information_Element__c</field>
            <value>
                <elementReference>Supporting_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_you_studying__c</field>
            <value>
                <elementReference>Are_you_studying</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_the_Referrer_be_contacted__c</field>
            <value>
                <elementReference>Can_be_contacted_in_relation_to_referral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_feel_safe_where_you_are_staying__c</field>
            <value>
                <elementReference>Do_you_feel_safe_where_you_are_staying</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_somewhere_to_stay_tonight__c</field>
            <value>
                <elementReference>Do_you_have_somewhere_to_stay_tonight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_OHC_Details__c</field>
            <value>
                <elementReference>When_who</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Domestic_Violence_Issues_Details__c</field>
            <value>
                <elementReference>Family_Domestic_Violence_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Domestic_Violence_Issues__c</field>
            <value>
                <elementReference>Have_you_experienced_domestic_and_or_family_violence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_contacted_Link2Home__c</field>
            <value>
                <elementReference>Have_you_contacted_Link2Home</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_FACS_OHC__c</field>
            <value>
                <elementReference>History_of_FACS_Involvement_OHC_in_past_current</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_long_can_they_stay_at_address__c</field>
            <value>
                <elementReference>How_long_can_they_stay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Issues_Details__c</field>
            <value>
                <elementReference>Legal_Issue_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Issues__c</field>
            <value>
                <elementReference>Any_Legal_Issue_Child_Protection_AVOs_Fines_etc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Length_of_stay_at_current_address__c</field>
            <value>
                <elementReference>Length_of_stay_at_current_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_all_current_supports_in_place__c</field>
            <value>
                <elementReference>List_all_supports_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_Physical_health_support_needed__c</field>
            <value>
                <elementReference>Do_you_need_any_support_with_your_physical_mental_health</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Pay_Date__c</field>
            <value>
                <elementReference>Next_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_HNSW_Register__c</field>
            <value>
                <elementReference>On_HNSW_Register</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Rental_History__c</field>
            <value>
                <elementReference>Previous_rental_history</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129s0000004JjfAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrers_Contact_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrers_Contact_Name__c</field>
            <value>
                <elementReference>Worker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrers_Contact_Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Organisation_Service_Name__c</field>
            <value>
                <elementReference>Referring_Organisation_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Study_Location_and_Support_Contact__c</field>
            <value>
                <elementReference>Where_and_is_there_a_contact_support_person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supports_other_services_involved__c</field>
            <value>
                <elementReference>Do_you_have_supports_other_services_involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usual_Address__c</field>
            <value>
                <elementReference>UsualAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Amount__c</field>
            <value>
                <elementReference>Weekly_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_would_you_like_to_achieve_with_CH__c</field>
            <value>
                <elementReference>What_would_you_like_to_achieve_working_with_Connecting_Home</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>732</locationX>
        <locationY>4100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Members</name>
        <label>Get Case Members</label>
        <locationX>732</locationX>
        <locationY>4424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Case_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant</name>
        <label>Get Participant</label>
        <locationX>864</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adult_or_Youth</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Participant</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Share_Case</name>
        <label>Remove Share Case</label>
        <locationX>732</locationX>
        <locationY>4316</locationY>
        <connector>
            <targetReference>Get_Case_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online_Referral_Share__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Share_Contact</name>
        <label>Remove Share Contact</label>
        <locationX>820</locationX>
        <locationY>4640</locationY>
        <connector>
            <targetReference>Loop_Case_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Case_Members.Related_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online_Referral_Share_c__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Address_Information</name>
        <label>Address Information</label>
        <locationX>864</locationX>
        <locationY>3560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Client_Circumstances</targetReference>
        </connector>
        <fields>
            <name>AddressInformationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Address Information:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Length_of_stay_at_current_address</name>
            <dataType>String</dataType>
            <fieldText>Length of stay at current address:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 255. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Length_of_stay_at_current_address}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>How_long_can_they_stay</name>
            <fieldText>How long can you/they stay?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 255. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!How_long_can_they_stay}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Previous_rental_history</name>
            <fieldText>Previous rental history:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 255. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Previous_rental_history}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Do_you_have_somewhere_to_stay_tonight</name>
            <choiceReferences>ChoiceSet_Stay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you/they have somewhere to stay tonight?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_contacted_Link2Home</name>
            <choiceReferences>ChoiceSet_Link2Home</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you/they contacted Link2Home?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_somewhere_to_stay_tonight</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Link2HomeText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(32, 31, 30);&quot;&gt;If you are currently experiencing homelessness and require immediate support please call Link2Home on 1800 152 152.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_somewhere_to_stay_tonight</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_feel_safe_where_you_are_staying</name>
            <choiceReferences>ChoiceSet_Safe</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you/they feel safe where you are staying?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Another_Child</name>
        <label>Another Child?</label>
        <locationX>446</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Another_Child_to_Enter</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_another_child</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have another child?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Centrelink_Information</name>
        <label>Centrelink Information</label>
        <locationX>864</locationX>
        <locationY>3452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Information</targetReference>
        </connector>
        <fields>
            <name>CentrelinkInformationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Centrelink Information:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Weekly_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Weekly Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>On_HNSW_Register</name>
            <choiceReferences>ChoiceSet_HNSW</choiceReferences>
            <dataType>String</dataType>
            <fieldText>On HNSW Register?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Child_Details</name>
        <label>Child Details</label>
        <locationX>446</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Child</targetReference>
        </connector>
        <fields>
            <name>ChildText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Child Details:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;(Some details have been pre-filled with the details of the Participant, please change these if necessary)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_C</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must not exceed 40 characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!First_Name_C})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Family_Name_C</name>
            <dataType>String</dataType>
            <fieldText>Family Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Must not exceed 80 characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Family_Name_C})&lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sex_C</name>
            <choiceReferences>ChoiceSet_Sex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Birthdate_C</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Birthdate cannot be in the future or before 1/1/1900.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Birthdate_C} &gt;= DATE(1900,1,1), {!Birthdate_C} &lt;= Today())</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address_C</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Address_P1.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Address_P1.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Address_P1.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Address_P1.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Address_P1.country</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address must contain at least the City, State and Postal Code.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(NOT(ISBLANK({!Address_C.city})), NOT(ISBLANK({!Address_C.province})), NOT(ISBLANK({!Address_C.postalCode})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Indigenous_Status_C</name>
            <choiceReferences>ChoiceSet_Indigenous</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Indigenous_Status_P</elementReference>
            </defaultValue>
            <fieldText>Indigenous Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_Birth_C</name>
            <choiceReferences>ChoiceSet_Country</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Country_of_Birth_P</elementReference>
            </defaultValue>
            <fieldText>Country of Birth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Client_Circumstances</name>
        <label>Client Circumstances</label>
        <locationX>864</locationX>
        <locationY>3668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Referral</targetReference>
        </connector>
        <fields>
            <name>ClientCircumstancesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Client Circumstances:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_experienced_domestic_and_or_family_violence</name>
            <choiceReferences>ChoiceSet_FDV</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you/they experienced domestic and/or family violence?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Family_Domestic_Violence_details</name>
            <fieldText>Family/Domestic Violence details:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The character limit for this field is 5000. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Family_Domestic_Violence_details}) &lt; 5000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_experienced_domestic_and_or_family_violence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FDVText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(32, 31, 30);&quot;&gt;If you are currently experiencing FDV contact the Domestic Violence Line on 1800 65 64 63 for women. Men can call Mens Line on 1300 78 99 78.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_experienced_domestic_and_or_family_violence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Any_Legal_Issue_Child_Protection_AVOs_Fines_etc</name>
            <choiceReferences>ChoiceSet_Legal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any Legal Issue (Child Protection/AVOs/Fines etc.)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Issue_Details</name>
            <fieldText>Legal Issue Details:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 5000. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Legal_Issue_Details}) &lt; 5000</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Any_Legal_Issue_Child_Protection_AVOs_Fines_etc</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_need_any_support_with_your_physical_mental_health</name>
            <choiceReferences>ChoiceSet_Mental</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you/they need any support with your physical/mental health?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_supports_other_services_involved</name>
            <choiceReferences>ChoiceSet_Supports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you/they have supports/other services involved?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>List_all_supports_in_place</name>
            <fieldText>List all supports in place</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 255. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!List_all_supports_in_place}) &lt; 255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_supports_other_services_involved</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_would_you_like_to_achieve_working_with_Connecting_Home</name>
            <fieldText>What would you/they like to achieve working with Connecting Home:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The character limit for this field is 32768. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!What_would_you_like_to_achieve_working_with_Connecting_Home}) &lt; 32768</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Supporting_Information</name>
            <fieldText>Supporting Information:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 32768. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Supporting_Information}) &lt; 32768</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Do_you_have_children</name>
        <label>Do you have children?</label>
        <locationX>864</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_there_Children</targetReference>
        </connector>
        <fields>
            <name>Do_they_have_childre</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you/they have children?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault</label>
        <locationX>1986</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sorry, something went wrong :(&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Participant_Details</name>
        <label>Participant Details</label>
        <locationX>457</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>QLD_Youth</targetReference>
        </connector>
        <fields>
            <name>ParticipantText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Participant Details:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_P</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;color: rgb(255, 0, 0);&quot;&gt;Maximum length is 40 characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!First_Name_P})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Family_Name_P</name>
            <dataType>String</dataType>
            <fieldText>Family Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Maximum length is 80 characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Family_Name_P})&lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sex_P</name>
            <choiceReferences>ChoiceSet_Sex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Birthdate_P</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Birthdate cannot be in the future or before 1/1/1900.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Birthdate_P} &gt;= DATE(1900,1,1), {!Birthdate_P} &lt;= Today())</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Preferred_Communication_Method_P</name>
            <choiceReferences>ChoiceSet_PreferredComm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Communication Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number_P</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Maximum 40 Characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Phone_Number_P})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email_Address_P</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email needs to be in the format &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;example@example.com&quot;&lt;/em&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ( UPPER ({!Email_Address_P}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address_P1</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Address_P1.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Address_P1.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Address_P1.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Address_P1.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Address_P1.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for Address:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address must contain at least the City, State and Postal Code.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(NOT(ISBLANK({!Address_P1.city})), NOT(ISBLANK({!Address_P1.province})), NOT(ISBLANK({!Address_P1.postalCode})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Indigenous_Status_P</name>
            <choiceReferences>ChoiceSet_Indigenous</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Indigenous Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_Birth_P</name>
            <choiceReferences>ChoiceSet_Country</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country of Birth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Disability</name>
            <choiceReferences>ChoiceSet_Disability</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Disability</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Seeking_Assistance</name>
            <choiceReferences>ChoiceSet_PrimaryReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Seeking Assistance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Centrelink_Income_Support</name>
            <choiceReferences>ChoiceSet_Centrelink</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Centrelink Income Support</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Choice</name>
        <label>Partner Choice</label>
        <locationX>864</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_there_a_Partner</targetReference>
        </connector>
        <fields>
            <name>Do_they_have_a_partner</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you/they have a partner?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Details</name>
        <label>Partner Details</label>
        <locationX>468</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Partner</targetReference>
        </connector>
        <fields>
            <name>PartnerText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Partner Details:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;(Some details have been pre-filled with the details of the Participant, please change these if necessary)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_P2</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Must not exceed 40 characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!First_Name_P2})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Family_Name_P2</name>
            <dataType>String</dataType>
            <fieldText>Family Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;color: rgb(255, 0, 0);&quot;&gt;Must not exceed 80 characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Family_Name_P2})&lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sex_P2</name>
            <choiceReferences>ChoiceSet_Sex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Birthdate_P2</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Birthdate cannot be in the future or before 1/1/1900.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Birthdate_P2} &gt;= DATE(1900,1,1), {!Birthdate_P2} &lt;= Today())</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Preferred_Contact_Method_P2</name>
            <choiceReferences>ChoiceSet_PreferredComm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Contact Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number_P2</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Maximum 40 Characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Phone_Number_P2})&lt;=40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email_Address_P2</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email needs to be in the format &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;example@example.com&quot;&lt;/em&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ( UPPER ({!Email_Address_P2}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Address_P2</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Address_P1.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Address_P1.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Address_P1.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Address_P1.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Address_P1.street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address must contain at least the City, State and Postal Code.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(NOT(ISBLANK({!Address_P2.city})), NOT(ISBLANK({!Address_P2.province})), NOT(ISBLANK({!Address_P2.postalCode})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Indigenous_Status_P2</name>
            <choiceReferences>ChoiceSet_Indigenous</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Indigenous_Status_P</elementReference>
            </defaultValue>
            <fieldText>Indigenous Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_Birth_P2</name>
            <choiceReferences>ChoiceSet_Country</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Country_of_Birth_P</elementReference>
            </defaultValue>
            <fieldText>Country of Birth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QLD_Youth_Case</name>
        <label>QLD/Youth Case</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>QLDYouthCaseText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Unable to Submit Referral&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: inherit;&quot;&gt;Due to one of the following reasons you referral cannot be submitted:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: inherit;&quot;&gt;You are outside our geographical&amp;nbsp;area of Grafton to Tweed Heads&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: inherit;&quot;&gt;You are under the age of 16&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please contact Social Futures on 1800 719 625 to see if there is a service that could help assist you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referrer_Details</name>
        <label>Referrer Details</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Participant_Details</targetReference>
        </connector>
        <fields>
            <name>Referring_Organisation_Service</name>
            <dataType>String</dataType>
            <fieldText>Referring Organisation/Service:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Worker_Name</name>
            <dataType>String</dataType>
            <fieldText>Worker Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot contain more than 50 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Worker_Name})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Email needs to be in the format &lt;em&gt;&quot;example@example.com&quot;&lt;/em&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ( UPPER ({!Email}) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Maximum 15 Characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Phone})&lt;=15</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Can_be_contacted_in_relation_to_referral</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Can be contacted in relation to referral?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referrer_Source_Screen</name>
        <label>Referrer Source Screen</label>
        <locationX>457</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Self_Referred</targetReference>
        </connector>
        <fields>
            <name>Referral_Source</name>
            <choiceReferences>ChoiceSet_ReferralSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>864</locationX>
        <locationY>3884</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sending_Email</targetReference>
        </connector>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Submitted!&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for completing the online form, your details have been recorded and successfully submitted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Email_Check</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to receive a copy of the Referral via email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailPDF</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>Email:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!EmailPDF}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Email_Check.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailYes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Press &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Next &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;to be redirected back to the Connecting Home page on the Social Futures website and an email will be sent to your inbox.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Email_Check.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailNo</name>
            <fieldText>&lt;p&gt;Press &lt;strong&gt;Next &lt;/strong&gt;to be redirected back to the Connecting Home page on the Social Futures website.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Email_Check.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Youth_Specific_Questions</name>
        <label>Youth Specific Questions</label>
        <locationX>732</locationX>
        <locationY>3260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Centrelink_Information</targetReference>
        </connector>
        <fields>
            <name>History_of_FACS_Involvement_OHC_in_past_current</name>
            <choiceReferences>ChoiceSet_FACSOHC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>History of FACS Involvement/OHC in past/current?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>When_who</name>
            <fieldText>When/who?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must not exceed &lt;/u&gt;&lt;u style=&quot;color: rgb(255, 0, 0);&quot;&gt;32768&lt;/u&gt;&lt;u style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; characters.&lt;/u&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!When_who})&lt;=32768</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>History_of_FACS_Involvement_OHC_in_past_current</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_studying</name>
            <choiceReferences>ChoiceSet_Studying</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you/they studying?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Where_and_is_there_a_contact_support_person</name>
            <fieldText>Where and is there a contact/support person?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 255. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Where_and_is_there_a_contact_support_person}) &lt; 255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_studying</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>331</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Maintenance</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Maintenance</name>
        <label>Maintenance</label>
        <locationX>457</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Referrer_Source_Screen</targetReference>
        </connector>
        <flowName>Maintenance</flowName>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Dear {!Worker_Name},&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Thank you for submitting your referral form. We will be reviewing your information shortly.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;A member of our team will be in touch with the referred person soon to follow up and discuss the next steps.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;In the meantime, please find a copy of your submitted referral attached as a PDF for your records.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;If you have any immediate questions, feel free to reach out to us at 1800 719 625.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;We look forward to connecting with you.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Best regards,&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; background-color: transparent; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Social Futures&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
