DevOps/force-app/main/default/flows/Referral_Website_Care_Connect_Hunter_Manning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GA4_Event</name>
        <label>GA4 Event</label>
        <locationX>1040</locationX>
        <locationY>3734</locationY>
        <actionName>GA4FormSubmitSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open_Social_Futures_Page</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apiSecret</name>
            <value>
                <stringValue>2ZAv43KWTEig8scOEPM-Rw</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formName</name>
            <value>
                <stringValue>CareConnectReferral</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>measurementId</name>
            <value>
                <stringValue>G-F4HMW4NEL5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GA4FormSubmitSender</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Generate_HCC_PDF</name>
        <label>Generate HCC PDF</label>
        <locationX>578</locationX>
        <locationY>3242</locationY>
        <actionName>VFPReferralPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Case_Share</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>ReferralPDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>program</name>
            <value>
                <stringValue>Care Connect - Hunter Central Coast</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Referral_Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VFPReferralPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Generate_HM_PDF</name>
        <label>Generate HM PDF</label>
        <locationX>842</locationX>
        <locationY>3242</locationY>
        <actionName>VFPReferralPDF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Case_Share</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>ReferralPDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>program</name>
            <value>
                <stringValue>Care Connect - Hunter Manning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Referral_Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VFPReferralPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Open_Social_Futures_Page</name>
        <label>Open Social Futures Page</label>
        <locationX>1040</locationX>
        <locationY>3842</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://socialfutures.org.au/service/care-connect/</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_HCC</name>
        <label>Assign HCC</label>
        <locationX>908</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HCC_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HCC_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Participant_Optional_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HM</name>
        <label>Assign HM</label>
        <locationX>1172</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HM_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HM_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Participant_Optional_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Case_Id_For_File_Upload</name>
        <label>Store Case Id For File Upload</label>
        <locationX>1040</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>CaseIdFileUpload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Assessment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Birth</name>
        <choiceText>Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Birth</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_Check</name>
        <label>Address Check</label>
        <locationX>545</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CCHM_or_CCHCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Information Correct</defaultConnectorLabel>
        <rules>
            <name>Missing_Information</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Address.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address.province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Address_Information_Screen</targetReference>
            </connector>
            <label>Missing Information</label>
        </rules>
        <rules>
            <name>Missing_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Email_Screen</targetReference>
            </connector>
            <label>Missing Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCHM_or_CCHCC</name>
        <label>CCHM or CCHCC</label>
        <locationX>1040</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_HM_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CCHM</defaultConnectorLabel>
        <rules>
            <name>CCHCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCHM_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HCC_Program</targetReference>
            </connector>
            <label>CCHCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>HCC_or_HM_PDF</name>
        <label>HCC or HM PDF</label>
        <locationX>710</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>Generate_HM_PDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HM PDF</defaultConnectorLabel>
        <rules>
            <name>HCC_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCHM_Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_HCC_PDF</targetReference>
            </connector>
            <label>HCC PDF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sending_Email</name>
        <label>Sending Email?</label>
        <locationX>1040</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Remove_Case_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email_Check.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referral_Email.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referral_Email.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HCC_or_HM_PDF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Missing_Email_Address</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email_Check.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referral_Email.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referral_Email.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Referral_Email_Screen</targetReference>
            </connector>
            <label>Missing Email Address</label>
        </rules>
    </decisions>
    <description>Flipped HCC and HM</description>
    <dynamicChoiceSets>
        <name>Choice_AreTheyCurrentlyanInpatient</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_they_currently_an_inpatient__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_CountryBirth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country_of_Birth__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_CulturallyandLinguisticallyDiverse</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identifies_As__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Disability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Disability__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_HospitalFollowingaSuicideAttempt</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hospital_following_a_suicide_attempt__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_ImpactingPsychosocialFactors</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impacting_Psychosocial_Factors__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Indigenous</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indigenous_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_MainLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Main_Language_Spoken_at_Home__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Sex</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sex__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Vet_Family</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Veteran_Family__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MentalHealthCarePlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mental_Health_Treatment_plan_in_place__c</picklistField>
        <picklistObject>Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Communication_Method__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CCHM_Program</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Address.postalCode} = &quot;2312&quot;,
{!Address.postalCode} &gt;= &quot;2328&quot; &amp;&amp; {!Address.postalCode} &lt;= &quot;2333&quot;,
{!Address.postalCode} &gt;= &quot;2335&quot; &amp;&amp; {!Address.postalCode} &lt;= &quot;2415&quot;,
{!Address.postalCode} &gt;= &quot;2422&quot; &amp;&amp; {!Address.postalCode} &lt;= &quot;2443&quot;,
{!Address.postalCode} = &quot;2850&quot;)</expression>
    </formulas>
    <interviewLabel>Referral (Website) Care Connect Hunter Manning {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Referral (Website): Care Connect Hunter Manning &amp; Hunter Central Coast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assessment</name>
        <label>Create Assessment</label>
        <locationX>1040</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Get_Case_Member</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Are_they_currently_an_inpatient__c</field>
            <value>
                <elementReference>Aretheycurrentlyaninpatient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Consent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discharge_Date__c</field>
            <value>
                <elementReference>Discharge_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hospital_Factility_Name__c</field>
            <value>
                <elementReference>HospitalFactilityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hospital_following_a_suicide_attempt__c</field>
            <value>
                <elementReference>Hospitalfollowingasuicideattempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impacting_Psychosocial_Factors__c</field>
            <value>
                <elementReference>ImpactingPsychosocialFactors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Known_safety_risks_home_environment__c</field>
            <value>
                <elementReference>Safety_Risks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_details__c</field>
            <value>
                <elementReference>Medicationdetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mental_Health_Treatment_plan_in_place__c</field>
            <value>
                <elementReference>Is_there_a_Mental_Health_Care_Plan_in_place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Reasons__c</field>
            <value>
                <elementReference>OtherReasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_CC_Referral_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrers_Contact_Email__c</field>
            <value>
                <elementReference>Referrers_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrers_Contact_Name__c</field>
            <value>
                <elementReference>Contact_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrers_Contact_Phone__c</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Organisation_Service_Name__c</field>
            <value>
                <elementReference>Name_or_Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Reason_Element__c</field>
            <value>
                <elementReference>ServiceReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_the_Mental_Health_Care_Plan_with__c</field>
            <value>
                <elementReference>If_yes_who_with</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1040</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Store_Case_Id_For_File_Upload</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Enquiry_or_Referral__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Referral_Share__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Referral From External Source</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason_For_Seeking_Assistance__c</field>
            <value>
                <stringValue>MENTAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Acceptance__c</field>
            <value>
                <stringValue>Pending more information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Profile__c</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Global_Consent</name>
        <label>Create Global Consent</label>
        <locationX>1040</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Upload_File_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Allow_Edit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_to_participate_store_data__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_Participant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Consented__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Consent_Giver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Consent through online referral.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Global_Consent_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Participant</name>
        <label>Create Participant</label>
        <locationX>1040</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Day_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Month_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate_Year_Accuracy__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Birth__c</field>
            <value>
                <elementReference>Country_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identifies_As__c</field>
            <value>
                <elementReference>Culturally_and_Linguistically_Diverse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identifying_Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indigenous_Status__c</field>
            <value>
                <elementReference>Indigenous_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Language_Spoken_at_Home__c</field>
            <value>
                <elementReference>Main_Language_Spoken</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_Number1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Referral_Share_c__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Communication_Method__c</field>
            <value>
                <elementReference>Preferred_Method_of_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>Preferred_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Disability__c</field>
            <value>
                <elementReference>Primary_Disability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Participant_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value>
                <elementReference>Sex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verbal_Consent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Written_Consent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Consent</name>
        <label>Create Program Consent</label>
        <locationX>1040</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Create_Global_Consent</targetReference>
        </connector>
        <inputAssignments>
            <field>Allow_Edit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_to_participate_store_data__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consenting_Case_Member__c</field>
            <value>
                <elementReference>Get_Case_Member.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Consented__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Consent_Giver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Consent through online referral.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Program_Consent_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Member</name>
        <label>Get Case Member</label>
        <locationX>1040</locationX>
        <locationY>2378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Program_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Participant_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound_Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CC_Referral_Record_Type</name>
        <label>Get CC Referral Record Type</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral_Care_Connect_Hunter_Manning_Website</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Global_Consent_Record_Type</name>
        <label>Get Global Consent Record Type</label>
        <locationX>545</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global_Consent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HCC_Owner</name>
        <label>Get HCC Owner</label>
        <locationX>908</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_HCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Connect_Hunter_Central_Coast</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HCC_Program</name>
        <label>Get HCC Program</label>
        <locationX>908</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HCC_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care Connect - Hunter Central Coast</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HM_Owner</name>
        <label>Get HM Owner</label>
        <locationX>1172</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_HM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Connect_Hunter_Manning</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HM_Program</name>
        <label>Get HM Program</label>
        <locationX>1172</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HM_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care Connect - Hunter Manning</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant_Record_Type</name>
        <label>Get Participant Record Type</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Consent_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Consent_Record_Type</name>
        <label>Get Program Consent Record Type</label>
        <locationX>545</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Global_Consent_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program_Consent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Case_Share</name>
        <label>Remove Case Share</label>
        <locationX>1040</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>Remove_Contact_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online_Referral_Share__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Contact_Share</name>
        <label>Remove Contact Share</label>
        <locationX>1040</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>GA4_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Participant</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Online_Referral_Share_c__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_Checkbox</name>
        <label>Update Referral Checkbox</label>
        <locationX>1040</locationX>
        <locationY>2810</locationY>
        <connector>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Assessment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Files_Uploaded_to_Referral__c</field>
            <value>
                <elementReference>Would_you_like_to_upload_any_files_to_the_referral</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assessment_Details</name>
        <label>Assessment Details</label>
        <locationX>1040</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Participant</targetReference>
        </connector>
        <fields>
            <name>Hospital_Presentation</name>
            <fieldText>Hospital Presentation (if applicable)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospital_Presentation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hospitalfollowingasuicideattempt</name>
                    <choiceReferences>Choice_HospitalFollowingaSuicideAttempt</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Hospitalfollowingasuicideattempt</elementReference>
                    </defaultValue>
                    <fieldText>Did they present to hospital following a suicide attempt?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Aretheycurrentlyaninpatient</name>
                    <choiceReferences>Choice_AreTheyCurrentlyanInpatient</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Aretheycurrentlyaninpatient</elementReference>
                    </defaultValue>
                    <fieldText>Are they currently an inpatient?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>HospitalFactilityName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HospitalFactilityName</elementReference>
                    </defaultValue>
                    <fieldText>Hospital/Factility Name:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Character Limit is 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!HospitalFactilityName}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Discharge_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Discharge Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If discharge date is unknown please leave blank&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medical_and_Safety</name>
            <fieldText>Medical and Safety:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_and_Safety_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_there_a_Mental_Health_Care_Plan_in_place</name>
                    <choiceReferences>MentalHealthCarePlan</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there a Mental Health Care Plan in place?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>If_yes_who_with</name>
                    <dataType>String</dataType>
                    <fieldText>If yes, who with:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Cannot contain more than 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!If_yes_who_with})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Medicationdetails</name>
                    <defaultValue>
                        <stringValue>{!Medicationdetails}</stringValue>
                    </defaultValue>
                    <fieldText>List of Current Medications:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Character Limit is 1000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Medicationdetails}) &lt;= 1000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ImpactingPsychosocialFactors</name>
                    <choiceReferences>Choice_ImpactingPsychosocialFactors</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ImpactingPsychosocialFactors</elementReference>
                    </defaultValue>
                    <fieldText>What are the primary reasons you would like assistance from Care Connect?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ServiceReason</name>
                    <defaultValue>
                        <stringValue>{!ServiceReason}</stringValue>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 10000 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!ServiceReason})&lt;=10000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Safety_Risks</name>
                    <defaultValue>
                        <stringValue>{!Safety_Risks}</stringValue>
                    </defaultValue>
                    <fieldText>Are there any safety concerns for this person, including self-harm, suicidal thoughts, abuse, domestic violence, risk taking behaviours, harmful substance use, or any other challenges?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 1000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Safety_Risks})&lt;=1000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>OtherReasons</name>
                    <defaultValue>
                        <stringValue>{!OtherReasons}</stringValue>
                    </defaultValue>
                    <fieldText>Is there anything else we should know?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Cannot contain more than &lt;/span&gt;32768&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!OtherReasons})&lt;=32768</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent</name>
            <fieldText>Consent</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsentText</name>
                    <fieldText>&lt;p&gt;By submitting this online referral, the participant being referred has given verbal consent that they would like to engage with Social Futures, are willing to have their details stored in our system, and are willing to be contacted.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1040</locationX>
        <locationY>2918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sending_Email</targetReference>
        </connector>
        <fields>
            <name>ReferralCompleteText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Referral Complete&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for completing the online form, your details have been recorded and successfully submitted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Email_Check</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to receive a copy of the Referral via email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Referral_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Referrers_Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Email_Check.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReferralCompleteTextEmail</name>
            <fieldText>&lt;p&gt;Press &lt;strong&gt;Next &lt;/strong&gt;to be redirected back to the Care Connect page on the Social Futures website and an email will be sent to your inbox.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Email_Check.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReferralCompleteTextNoEmail</name>
            <fieldText>&lt;p&gt;Press &lt;strong&gt;Next &lt;/strong&gt;to be redirected back to the Care Connect page on the Social Futures website.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Send_Email_Check.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>2074</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sorry, something went wrong :(&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Address_Information_Screen</name>
        <label>Missing Address Information Screen</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingAddressInformationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Missing Information:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The address must contain the following:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;City&lt;/li&gt;&lt;li&gt;State&lt;/li&gt;&lt;li&gt;Postcode&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please return to the previous page and enter the required address information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Email_Screen</name>
        <label>Missing Email Screen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingEmailText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Missing Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If your Preferred Method of Contact is set to Email then  an Email Address must be provided.&lt;/p&gt;&lt;p&gt;Please return to the previous page and enter the required email address or change the preferred method of contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Referral_Email_Screen</name>
        <label>Missing Referral Email Screen</label>
        <locationX>1106</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Completion_Screen</targetReference>
        </connector>
        <fields>
            <name>Missing_Referral_Email_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Missing Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to receive the Referral as an Email please enter an email into the email field provided.&lt;/p&gt;&lt;p&gt;Press Previous to return to the previous page and enter the required email address or select no to receiving the referral as an email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Participant_Optional_Details</name>
        <label>Participant Optional Details</label>
        <locationX>1040</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assessment_Details</targetReference>
        </connector>
        <fields>
            <name>OptionalHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Participant Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sex</name>
            <choiceReferences>Choice_Sex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 100 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Gender})&lt;=100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Indigenous_Status</name>
            <choiceReferences>Choice_Indigenous</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Indigenous Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country_of_Birth</name>
            <choiceReferences>Choice_CountryBirth</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country of Birth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Main_Language_Spoken</name>
            <choiceReferences>Choice_MainLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main Language Spoken</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Culturally_and_Linguistically_Diverse</name>
            <choiceReferences>Choice_CulturallyandLinguisticallyDiverse</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Culturally_and_Linguistically_Diverse</elementReference>
            </defaultValue>
            <fieldText>Do you identify as the following?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Disability</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the participant identify as a person with a disability?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Disability</name>
            <choiceReferences>Choice_Disability</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Disability</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Disability</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Participant_Required_Details</name>
        <label>Participant Required Details</label>
        <locationX>545</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Address_Check</targetReference>
        </connector>
        <fields>
            <name>Participant_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Participant Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Participant_Required_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Required_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 40 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!First_Name})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Required_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 80 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Last_Name})&lt;=80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Required_Details_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preferred_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Preferred Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Cannot contain more than 100 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Preferred_Name})&lt;=100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Participant_Required_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Required_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth (Please use the date picker)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Birthdate cannot be in the future.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Birth}&lt;= Today()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Required_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Number1</name>
                    <dataType>String</dataType>
                    <fieldText>Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(OR(REGEX({!Phone_Number1},&quot;[0-9]*&quot;), REGEX({!Phone_Number1},&quot;\\+[0-9]*&quot;)),LEN({!Phone_Number1})&lt;41)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Required_Details_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address or leave this field blank if no email can be provided.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddressText</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;If the person does not have a fixed residential address, please search for the suburb where they are residing&lt;/u&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Australia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for Address:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Address must contain at least the City, State and Postal Code.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(NOT(ISBLANK({!Address.city})), NOT(ISBLANK({!Address.province})), NOT(ISBLANK({!Address.postalCode})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Preferred_Method_of_Contact</name>
            <choiceReferences>PreferredContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Method of Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referral_Details</name>
        <label>Referral Details</label>
        <locationX>545</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Participant_Required_Details</targetReference>
        </connector>
        <fields>
            <name>Referrer_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 24px;&quot;&gt;Referrer Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_or_Organisation</name>
            <dataType>String</dataType>
            <fieldText>Name or Organisation:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 200 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Name_or_Organisation})&lt;=200</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date: (Please use the date picker)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Person</name>
            <dataType>String</dataType>
            <fieldText>Contact Person:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cannot contain more than 50 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Contact_Person})&lt;=50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Phone Number:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Phone numbers must be 10-13 digits long and only numerical values are accepted. The plus symbol at the beginning is also valid.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(OR(REGEX({!Phone_Number},&quot;[0-9]*&quot;), REGEX({!Phone_Number},&quot;\\+[0-9]*&quot;)),LEN({!Phone_Number})&lt;41)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referrers_Email</name>
            <dataType>String</dataType>
            <fieldText>Email:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referral_Main</name>
        <label>Referral Main</label>
        <locationX>545</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Referral_Details</targetReference>
        </connector>
        <fields>
            <name>ReferralMainText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Care Connect Referral Form&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CareConnectDescription</name>
            <fieldText>&lt;p&gt;Care Connect is an aftercare program for anyone in the&lt;strong&gt; Hunter Manning &lt;/strong&gt;and &lt;strong&gt;Hunter Central Coast &lt;/strong&gt;region who has attempted suicide and needs support accessing and engaging with the services available to help them.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Care Connect is a free program designed to support participants following a suicide attempt, to build their capacity to self-manage, and to ensure long-term plans are in place by connecting with other services and community supports.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note this online referral form is for only for &lt;strong&gt;service providers &lt;/strong&gt;to complete.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use the &lt;strong&gt;Contact Us &lt;/strong&gt;form on the &lt;strong&gt;Social Futures &lt;/strong&gt;web page if you are not a service provider.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_File_Screen</name>
        <label>Upload File Screen</label>
        <locationX>1040</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Referral_Checkbox</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_upload_any_files_to_the_referral</name>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to upload any files to the referral?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Upload_Files</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderFilesBelow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_embedExternally</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseIdFileUpload</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_upload_any_files_to_the_referral</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Maintenance</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Maintenance</name>
        <label>Maintenance</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_CC_Referral_Record_Type</targetReference>
        </connector>
        <flowName>Maintenance</flowName>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Dear {!Contact_Person},&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Thank you for submitting your referral form. We will be reviewing your information shortly.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;A member of our team will be in touch with the referred person soon to follow up and discuss the next steps.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;In the meantime, please find a copy of your submitted referral attached as a PDF for your records.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;We also want to confirm that, if you are referring someone other than yourself, you have obtained their consent for this referral and for our team to contact them directly.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;If you have any immediate questions, feel free to reach out to us at 1800 719 625.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;We look forward to connecting with you.&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Best regards,&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Social Futures&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseIdFileUpload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_File_Uploaded_Checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
