DevOps/force-app/main/default/flows/Risk_Create_High_Risk_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_ID</name>
        <label>Assign Case ID</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>NewCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Individual_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Risk_Created_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Case_ID</name>
        <label>Assign New Case ID</label>
        <locationX>1370</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>NewCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Individual_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Created_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Individual_Case_Risk</name>
        <label>Create Individual Case/Risk?</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_Individual_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_an_individual_case_and_risk_for_the_participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>Missing_Contact</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Group</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Do_you_want_to_create_an_individual_case_and_risk_for_the_participant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Contact_Screen</targetReference>
            </connector>
            <label>Missing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Case</name>
        <label>Group Case</label>
        <locationX>1271</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Risk_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Type_Group_Case.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Risk_Details_Screen</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_Case_Exists</name>
        <label>Individual Case Exists?</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Internal_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Individual_Case</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Individual_Risk</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_an_Enquiry</name>
        <label>Is it an Enquiry?</label>
        <locationX>660</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Group_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x0000000DkiAAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Details_Screen_Enquiry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Enquiry_with_no_General</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0122x0000000DkiAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_General_Contact</targetReference>
            </connector>
            <label>Enquiry with no General</label>
        </rules>
    </decisions>
    <description>Added Referral Acceptance, Origin and Profile</description>
    <dynamicChoiceSets>
        <name>Choice_CaseMembers</name>
        <dataType>String</dataType>
        <displayField>Member_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case_Member__c</object>
        <sortField>Member_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Related_Contact__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_HighRiskCategory</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>High_Risk_Category__c</picklistField>
        <picklistObject>Risk__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Risk__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Risk: Create High Risk Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk: Create High Risk Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Group_Risk</name>
        <label>Create Group Risk</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_Individual_Case_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>Additional_Information_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>Date_Closed_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>Date_Recorded_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Risk_Description_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>High_Risk_Category_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_High_Risk.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Group</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual_Case</name>
        <label>Create Individual Case</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Create_New_Individual_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Enquiry_or_Referral__c</field>
            <value>
                <elementReference>Date_Recorded_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outlet_Activity__c</field>
            <value>
                <elementReference>Get_Case.Outlet_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason_For_Seeking_Assistance__c</field>
            <value>
                <stringValue>MENTAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Internal_Referral.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Acceptance__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Profile__c</field>
            <value>
                <stringValue>Social Futures Worker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <stringValue>Internal Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Service Delivery</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Individual_Risk</name>
        <label>Create Individual Risk</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>Additional_Information_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Individual_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>Date_Closed_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>Date_Recorded_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Risk_Description_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>High_Risk_Category_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Risk__c</field>
            <value>
                <elementReference>Create_Group_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_High_Risk.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Group</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Individual_Risk</name>
        <label>Create New Individual Risk</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Assign_New_Case_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>Additional_Information_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Individual_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>Date_Closed_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>Date_Recorded_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Risk_Description_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>High_Risk_Category_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Risk__c</field>
            <value>
                <elementReference>Create_Group_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_High_Risk.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Group</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Risk</name>
        <label>Create Risk</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>Date_Closed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>Date_Recorded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Risk_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>High_Risk_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_High_Risk.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Risk_Enquiry</name>
        <label>Create Risk Enquiry</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>Additional_Information_Enquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>Date_Closed_Enquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>Date_Recorded_Enquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Risk_Description_Enquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>High_Risk_Category_Enquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_High_Risk.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Enquiry</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>660</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_High_Risk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual_Case</name>
        <label>Get Individual Case</label>
        <locationX>1238</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual_Case_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Group</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Group_Case</name>
        <label>Get Record Type Group Case</label>
        <locationX>1271</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_High_Risk</name>
        <label>Get Record Type High Risk</label>
        <locationX>660</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_an_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High_Risk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Internal_Referral</name>
        <label>Get Record Type Internal Referral</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Individual_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal_Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Assign_Case_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Created_Screen</name>
        <label>Case Created Screen</label>
        <locationX>1370</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
        <fields>
            <name>NewCaseText</name>
            <fieldText>&lt;p&gt;A new individual case for the participant has been created. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Next &lt;/strong&gt;to record the &lt;strong&gt;Session &amp;amp; Case Note &lt;/strong&gt;related to the &lt;strong&gt;High Risk&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirming the actions that have been taken by the end user</description>
        <name>Confirmation_Screen</name>
        <label>Final Screen</label>
        <locationX>1238</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;The &lt;strong&gt;Session &amp;amp; Case Note &lt;/strong&gt;related to the &lt;strong&gt;High Risk &lt;/strong&gt;has been created on the individual participant&apos;s &lt;strong&gt;case.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Finish &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;to exit the flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Individual_Case_Screen</name>
        <label>Create Individual Case Screen</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Group_Risk</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_create_an_individual_case_and_risk_for_the_participant</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create an individual case and risk for the participant?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Group</name>
            <choiceReferences>Choice_CaseMembers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the related participant to attach to the risk</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_create_an_individual_case_and_risk_for_the_participant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Group_Risk_Details_Screen</name>
        <label>Group Risk Details Screen</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Individual_Case_Screen</targetReference>
        </connector>
        <fields>
            <name>Risk_Details_Group</name>
            <fieldText>Risk Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Risk_Details_Group_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Description_Group</name>
                    <dataType>String</dataType>
                    <fieldText>Risk Description:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Risk Description cannot exceed 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Risk_Description})&lt;255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_Recorded_Group</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Recorded:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Status_Group</name>
                    <choiceReferences>Choice_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>High_Risk_Category_Group</name>
                    <choiceReferences>Choice_HighRiskCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>High Risk Category</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information_Group</name>
                    <fieldText>Additional Information:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Additional Information cannot exceed &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;32768 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Additional_Information})&lt;32768</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_Closed_Group</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Closed:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>High_Risk_Created_Screen</name>
        <label>High Risk Created Screen</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
        <fields>
            <name>High_Risk_Created_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;High Risk&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; for the participant has been created and attached to the group case and individual case. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Click &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Next &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;to record the &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Session &amp;amp; Case Note &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;related to the &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;High Risk&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Contact_Screen</name>
        <label>Missing Contact Screen</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_Contact_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Missing Contact:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have chosen to create an individual case and risk but have not chosen a contact.&lt;/p&gt;&lt;p&gt;Please return to the previous screen and select a contact or select &quot;No&quot; to creating a an individual contact/risk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_General_Contact</name>
        <label>No General Contact</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_General_Contact_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Missing Contact:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To create a high risk you must at a minimum have a general contact associated with the enquiry case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Risk_Details_Screen</name>
        <label>Risk Details Screen</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Risk</targetReference>
        </connector>
        <fields>
            <name>Risk_Details</name>
            <fieldText>Risk Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Risk_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Risk Description:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Risk Description cannot exceed 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Risk_Description})&lt;255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_Recorded</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Recorded:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact</name>
                    <choiceReferences>Choice_CaseMembers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>Choice_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>High_Risk_Category</name>
                    <choiceReferences>Choice_HighRiskCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>High Risk Category</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information</name>
                    <fieldText>Additional Information:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Additional Information cannot exceed &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;32768 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Additional_Information})&lt;32768</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_Closed</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Closed:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Risk_Details_Screen_Enquiry</name>
        <label>Risk Details Screen Enquiry</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Risk_Enquiry</targetReference>
        </connector>
        <fields>
            <name>Risk_Details_Enquiry</name>
            <fieldText>Risk Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Risk_Details_Enquiry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Description_Enquiry</name>
                    <dataType>String</dataType>
                    <fieldText>Risk Description:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Risk Description cannot exceed 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Risk_Description})&lt;255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_Recorded_Enquiry</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Recorded:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Status_Enquiry</name>
                    <choiceReferences>Choice_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>High_Risk_Category_Enquiry</name>
                    <choiceReferences>Choice_HighRiskCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>High Risk Category</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information_Enquiry</name>
                    <fieldText>Additional Information:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Additional Information cannot exceed &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;32768 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Additional_Information})&lt;32768</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Date_Closed_Enquiry</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Closed:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>534</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>1238</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>Create_Session</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SkipFollowonActions</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
