DevOps/force-app/main/default/flows/Risk_Update_Parent_Child_Risks_Automated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Child_Risks_Exist</name>
        <label>Child Risks Exist?</label>
        <locationX>869</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Risks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Risk_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Risk_Exists</name>
        <label>Parent Risk Exists?</label>
        <locationX>495</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Risks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Risk_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Updated_on_Risk</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
        <rules>
            <name>Yes_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Risk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_Risk__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Risk</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added flag to prevent recursion</description>
    <environments>Default</environments>
    <interviewLabel>Risk: Update Parent &amp; Child Risks (Automated) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk: Update Parent &amp; Child Risks (Automated)</label>
    <loops>
        <name>Loop_Children</name>
        <label>Loop Children</label>
        <locationX>737</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_Child_Risks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Child_Risk</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Risks</name>
        <label>Get Child Risks</label>
        <locationX>869</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Risks_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Risk__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Updated_on_Parent_Risk</name>
        <label>Remove Updated on Parent Risk</label>
        <locationX>121</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Risk_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent_Risk__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Updated_on_Risk</name>
        <label>Remove Updated on Risk</label>
        <locationX>121</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Remove_Updated_on_Parent_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>Risk_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Risk</name>
        <label>Update Child Risk</label>
        <locationX>825</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Loop_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Children.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>$Record.Additional_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <elementReference>$Record.Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>$Record.Date_Closed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>$Record.Date_Recorded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>$Record.High_Risk_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_High_Priority__c</field>
            <value>
                <elementReference>$Record.Is_High_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Risk</name>
        <label>Update Parent Risk</label>
        <locationX>385</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Additional_Details__c</field>
            <value>
                <elementReference>$Record.Additional_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <elementReference>$Record.Approval_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>$Record.Date_Closed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Recorded__c</field>
            <value>
                <elementReference>$Record.Date_Recorded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Category__c</field>
            <value>
                <elementReference>$Record.High_Risk_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_High_Priority__c</field>
            <value>
                <elementReference>$Record.Is_High_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent_Risk__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Risk</name>
        <label>Update Risk</label>
        <locationX>385</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Parent_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>Risk_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Risk_Child</name>
        <label>Update Risk</label>
        <locationX>737</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Loop_Children</targetReference>
        </connector>
        <inputAssignments>
            <field>Risk_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Description__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_High_Priority__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>High_Risk_Category__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reason_for_Closure__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Additional_Details__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Risk__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Parent_Risk_Exists</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
