DevOps/force-app/main/default/flows/SafeSpace_v2_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>High_Risk_notification_for_Manager</name>
        <label>High Risk notification for Manager</label>
        <locationX>3010</locationX>
        <locationY>1754</locationY>
        <actionName>Safe_Space_Assessment__c.Safe_Space_High_Risk_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateFullAssessmentHighRisk</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FullAssessment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Safe_Space_Assessment__c.Safe_Space_High_Risk_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AbsenceAssign</name>
        <label>AbsenceAssign</label>
        <locationX>1143</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>ManagerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.Manager.Safe_Space_Secondary_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NonAbsenceAssign</name>
        <label>NonAbsenceAssign</label>
        <locationX>1147</locationX>
        <locationY>1194</locationY>
        <assignmentItems>
            <assignToReference>ManagerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AssessmentId_From_MHFO</name>
        <label>Set AssessmentId From MHFO</label>
        <locationX>2704</locationX>
        <locationY>1567</locationY>
        <assignmentItems>
            <assignToReference>AssessmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_MHFO_Assessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAssessmentIdFromFullAssessment</name>
        <label>Set AssessmentId From Full Assessment</label>
        <locationX>3110</locationX>
        <locationY>2392</locationY>
        <assignmentItems>
            <assignToReference>AssessmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullAssessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAssessmentIdFromPartialAssessment</name>
        <label>Set AssessmentId From Partial Assessment</label>
        <locationX>2486</locationX>
        <locationY>2269</locationY>
        <assignmentItems>
            <assignToReference>AssessmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartialAssessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAssessmentIdFromRoughSleeper</name>
        <label>SetAssessmentIdFromRoughSleeper</label>
        <locationX>1935</locationX>
        <locationY>2392</locationY>
        <assignmentItems>
            <assignToReference>AssessmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoughSleepersAssessment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseIdFromRecordId</name>
        <label>Set CaseId From RecordId</label>
        <locationX>1721</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactIdFromRecordId</name>
        <label>Set ContactId From RecordId</label>
        <locationX>1841</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectProgramScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewManager</name>
        <label>SetNewManager</label>
        <locationX>307</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>User.ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedManager.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetProgramIdFromRecordId</name>
        <label>Set ProgramId From RecordId</label>
        <locationX>1557</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>programId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetProgramIdFromSelectedProgram</name>
        <label>Set ProgramId From Selected Program</label>
        <locationX>1840</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>programId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetVarsFromCase</name>
        <label>Set Vars From Case</label>
        <locationX>1723</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>programId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceColdCall</name>
        <choiceText>Cold Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ColdCall</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMentalHealthFacilityOutreach</name>
        <choiceText>Mental Health Facility Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MentalHealthFacilityOutreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOutreach</name>
        <choiceText>Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceRoughSleepers</name>
        <choiceText>Rough Sleepers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RoughSleepers</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>ASSESSMENT_RECORD_TYPE_ID_FULL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0129s0000004HpgAAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>ASSESSMENT_RECORD_TYPE_ID_MHFO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012Bn000001YVdVIAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>ASSESSMENT_RECORD_TYPE_ID_PARTIAL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0129s0000004HphAAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>ASSESSMENT_RECORD_TYPE_ID_ROUGH_SLEEPERS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0129s0000004IoFAAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>REGED_MOBILE_NUMBER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>^(?:\+?61|0)4[0-9]{2}(?:[ -]?)[0-9]{3}?(?:[ -]?)[0-9]{3}$</stringValue>
        </value>
    </constants>
    <constants>
        <name>SESSION_RECORD_TYPE_ID_SAFE_SPACE_V2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0129s0000004IoGAAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckBuddyHasMobileNumber</name>
        <label>Check Buddy Has Mobile Number</label>
        <locationX>1608</locationX>
        <locationY>835</locationY>
        <defaultConnector>
            <targetReference>CheckRecordIdType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>BuddyDoesNotHaveMobileNumber</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buddy.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buddy.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuddyMobileScreen</targetReference>
            </connector>
            <label>Buddy Does Not Have Mobile Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForHighRisks</name>
        <label>Check For High Risks</label>
        <locationX>3004</locationX>
        <locationY>1938</locationY>
        <defaultConnector>
            <targetReference>FullAssessmentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No High Risks</defaultConnectorLabel>
        <rules>
            <name>HighRisksIdentified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>HighRisk_DangerousCollections</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_ThreatenWithWeapons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_DVSafetyPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>High_Risk_notification_for_Manager</targetReference>
            </connector>
            <label>High Risks Identified</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLatestFullAssessment</name>
        <label>Check Latest Full Assessment</label>
        <locationX>2295</locationX>
        <locationY>1938</locationY>
        <defaultConnector>
            <targetReference>PartialAssessmentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recent Full Assessment Found</defaultConnectorLabel>
        <rules>
            <name>NoRecentFullAssessment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecentFullAssessment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentFullAssessment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentFullAssessment.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighRisksScreen</targetReference>
            </connector>
            <label>No Recent Full Assessment</label>
        </rules>
        <rules>
            <name>RecentFullAssessmentHadHighRisk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecentFullAssessment.Known_to_Carry_Threaten_with_Weapons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentFullAssessment.Participant_Has_Dangerous_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentFullAssessment.Are_there_any_DV_Safety_Plans_in_Place__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecentFullAssessment.Any_Other_High_Risks__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreviousFullAssessmentHighRiskScreen</targetReference>
            </connector>
            <label>Full Assessment Had High Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckManagerHasMobileNumber</name>
        <label>Check Manager Has Mobile Number</label>
        <locationX>1267</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Buddy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>ManagerDoesNotHaveMobileNumber</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Manager.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Manager.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ManagerMobileScreen</targetReference>
            </connector>
            <label>Manager Does Not Have Mobile Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordIdType</name>
        <label>Check RecordId Type</label>
        <locationX>1550</locationX>
        <locationY>1179</locationY>
        <defaultConnector>
            <targetReference>UnknownRecordIdTypeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UNKNOWN</defaultConnectorLabel>
        <rules>
            <name>RecordIdIsCaseId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeLetters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseIdFromRecordId</targetReference>
            </connector>
            <label>Case Id</label>
        </rules>
        <rules>
            <name>RecordIdIsContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeLetters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactIdFromRecordId</targetReference>
            </connector>
            <label>Contact Id</label>
        </rules>
        <rules>
            <name>RecordIdIsProgramId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeLetters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a13</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetProgramIdFromRecordId</targetReference>
            </connector>
            <label>Program Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on the selected Visit Type, make sure we have the required Data</description>
        <name>CheckTypeAndRelevantRecords</name>
        <label>Check Type And Relevant Records</label>
        <locationX>2103</locationX>
        <locationY>1704</locationY>
        <defaultConnector>
            <targetReference>SelectCaseScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outreach / Cold Call (Bad)</defaultConnectorLabel>
        <rules>
            <name>RoughSleepersOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceRoughSleepers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RoughSleepersScreen</targetReference>
            </connector>
            <label>Rough Sleepers (Ok)</label>
        </rules>
        <rules>
            <name>RoughSleepersBad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceRoughSleepers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectProgramScreen</targetReference>
            </connector>
            <label>Rough Sleepers (Bad)</label>
        </rules>
        <rules>
            <name>OutreachColdCallOk</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>VisitType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceColdCall</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VisitType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceOutreach</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecentFullAssessment</targetReference>
            </connector>
            <label>Outreach / Cold Call (Ok)</label>
        </rules>
        <rules>
            <name>Mental_Health_Facility_Outreach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceMentalHealthFacilityOutreach</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PartialAssessmentScreen_0</targetReference>
            </connector>
            <label>Mental Health Facility Outreach</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserHasManager</name>
        <label>Check User Has Manager</label>
        <locationX>431</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>CheckUserHasMobileNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>UserDoesNotHaveManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectManagerScreen</targetReference>
            </connector>
            <label>User Does Not Have Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUserHasMobileNumber</name>
        <label>Check User Has Mobile Number</label>
        <locationX>603</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>ManagerAbsenceScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>UserDoesNotHaveMobileNumber_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>User.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.MobilePhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UserMobileScreen</targetReference>
            </connector>
            <label>User Does Not Have Mobile Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisitDetailsAreValid</name>
        <label>Check Visit Details Are Valid</label>
        <locationX>578</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>DurationNotValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DurationHours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DurationMinutes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DurationNotValidScreen</targetReference>
            </connector>
            <label>Duration Not Valid</label>
        </rules>
        <rules>
            <name>Date_TimeInThePast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Date_Time_of_Visit</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DateTimeNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartIsInThePastScreen</targetReference>
            </connector>
            <label>Date/TimeInThePast</label>
        </rules>
    </decisions>
    <decisions>
        <name>ManagerAbsent</name>
        <label>Manager Absent?</label>
        <locationX>1017</locationX>
        <locationY>1114</locationY>
        <defaultConnector>
            <targetReference>NonAbsenceAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Absent</defaultConnectorLabel>
        <rules>
            <name>Absent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManagerAbsenceCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AbsenceAssign</targetReference>
            </connector>
            <label>Absent</label>
        </rules>
    </decisions>
    <decisions>
        <name>MitigationStrategiesNeeded</name>
        <label>MitigationStrategiesNeeded?</label>
        <locationX>2650</locationX>
        <locationY>1938</locationY>
        <defaultConnector>
            <targetReference>FullAssessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Needed</defaultConnectorLabel>
        <rules>
            <name>Mitigation_Needed</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Mitigation_Strategies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mitigation_Strategies</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_DangerousCollections</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_DVSafetyPlan</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_ThreatenWithWeapons</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HighRisk_Other</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingMitigationError</targetReference>
            </connector>
            <label>Mitigation Needed</label>
        </rules>
    </decisions>
    <description>Added Mental Health Facility Outreach option</description>
    <dynamicChoiceSets>
        <name>Choice_MHFO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>External_Internal_Worker_Present__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistAnyoneAtTheLocationHadACOVIDTest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Anyone_at_the_location_had_a_COVID_test__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistAnyRecentPoliceEvents</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Any_Recent_Police_Events__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistBackgroundChecksBeenCompleted</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_Background_Checks_Identify_Risks__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistBadMobileReception</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_there_Bad_Mobile_Reception_at_Loc__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistChapter16A</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_Chapter_16A_Info_Identified_Risks__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistCheckedForUpdatedOutreachLocations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Checked_for_Updated_Outreach_Locations__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistConcernedAboutConductingOutreach</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Concerned_about_Conducting_Outreach__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDeclinedToWearAMask</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Anyone_Declined_To_Wear_A_Mask__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDidPoliceChecksIdentifyRisks</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_Police_Checks_Identify_Risks__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDoYouHaveAppropriateClothingPPE</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_You_Have_Appropriate_Clothing_PPE__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDVSafetyPlansInPlace</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_there_any_DV_Safety_Plans_in_Place__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistHistoryOfMentalHealthIllness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>History_of_a_Mental_Health_Illness__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIsAnyoneUnwell</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Anyone_Unwell__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIsSafetyAppInstalledReadyOnPhone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Safety_App_Installed_Ready_on_Phone__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIstheDvPerpAtTheMeetingLoc</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_perpetrator_at_the_Meeting_Loc__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIsWeatherOutlookLookingSafe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_Weather_Outlook_Looking_Safe__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistKnownToCarryThreatenWithWeapons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Known_to_Carry_Threaten_with_Weapons__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistLackOfCommitmentRestrainDogs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lack_of_Commitment_to_Restrain_Dogs__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistNonCompliantWithTheirMedication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Non_Compliant_with_their_Medication__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistOnCurrentMentalHealthCarePlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>On_Current_Mental_Health_Care_Plan__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistOtherHighRisks</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Any_Other_High_Risks__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistOtherIssuesReportedOrKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Issues_Reported_or_Known__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistOtherPeopleAround</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_People_Around_During_the_Visit__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistParticipantHasDangerousCollections</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Participant_Has_Dangerous_Collections__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistPositiveCovidResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Positive_COVID__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistPotentialRiskFactorsToTheFamily</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Potential_Risk_Factors_to_the_Family__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistRiskOfExposureToCovid19</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Risk_of_Exposure_To_Covid_19__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSessionDurationHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Hours__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSessionDurationMinues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Minutes__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSessionSetting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Setting__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSuggestionHistoryOfIllegalActivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Suggestion_History_of_illegal_activities__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSuggestionOfAHistoryOfViolence</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Suggestion_of_a_History_of_Violence__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSuggestionsOfCurrentViolence</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Suggestion_of_Current_Violence__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistVisitingIsolatedLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Visiting_Isolated_Remote_Location__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistWereRisksIdentifiedInTheirReferral</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Were_Risks_Identified_In_Their_Referral__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceRecordsPrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Program__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ArrivalDate</name>
        <dataType>Date</dataType>
        <expression>datevalue({!Start_Date_Time_of_Visit})</expression>
    </formulas>
    <formulas>
        <name>ArrivalDateReminder</name>
        <dataType>DateTime</dataType>
        <expression>{!Start_Date_Time_of_Visit} - (1/24)</expression>
    </formulas>
    <formulas>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FullAssessmentRequiredCutoffDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), -3)</expression>
    </formulas>
    <formulas>
        <name>HighRisksWereIdentified</name>
        <dataType>Boolean</dataType>
        <expression>IF
(
  OR
  (
    {!HighRisk_DangerousCollections} = &apos;Yes&apos;,
    {!HighRisk_DVSafetyPlan} = &apos;Yes&apos;,
    {!HighRisk_ThreatenWithWeapons} = &apos;Yes&apos;,
    {!HighRisk_Other} = &apos;Yes&apos;
  ),
  true,
  false
)</expression>
    </formulas>
    <formulas>
        <name>PartialAssessmentRequiredCutoffDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>recordIdFirstThreeLetters</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Complete the Pre-Visit checklist for &quot; + {!Case.Contact.Fullname__c}</expression>
    </formulas>
    <interviewLabel>SafeSpace v2 - Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SafeSpace v2 - Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_MHFO_Assessment</name>
        <label>Create MHFO Assessment</label>
        <locationX>2558</locationX>
        <locationY>1567</locationY>
        <connector>
            <targetReference>Set_AssessmentId_From_MHFO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Background_Checks_been_Completed__c</field>
            <value>
                <elementReference>Background_checks_been_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buddy__c</field>
            <value>
                <elementReference>Buddy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerned_about_Conducting_Outreach__c</field>
            <value>
                <elementReference>Concerned_about_conducting_Outreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Assessment__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Internal_Worker_Present__c</field>
            <value>
                <elementReference>External_Internal_Worker_Present</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mitigation_Strategies__c</field>
            <value>
                <elementReference>Enter_Mitigation_MHFO.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisional_Approval__c</field>
            <value>
                <elementReference>ProvisionalApprovalCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ASSESSMENT_RECORD_TYPE_ID_MHFO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggestion_of_Current_Violence__c</field>
            <value>
                <elementReference>Suggestion_of_Current_Violence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggestion_of_a_History_of_Violence__c</field>
            <value>
                <elementReference>Suggestion_of_a_History_of_Violence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pre_Visit_Task</name>
        <label>Create Pre-Visit Task</label>
        <locationX>2705</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>AssessmentSubmittedScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ArrivalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122x0000000HbW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ArrivalDateReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSession</name>
        <label>Create Session</label>
        <locationX>2704</locationX>
        <locationY>2392</locationY>
        <connector>
            <targetReference>CreateSessionParticipant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Hours__c</field>
            <value>
                <elementReference>DurationHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Minutes__c</field>
            <value>
                <elementReference>DurationMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Safe Space Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Social_Futures_Location__c</field>
            <value>
                <elementReference>Location_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SESSION_RECORD_TYPE_ID_SAFE_SPACE_V2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safe_Space_Assessment__c</field>
            <value>
                <elementReference>AssessmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Setting__c</field>
            <value>
                <elementReference>LocationCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </inputAssignments>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSessionParticipant</name>
        <label>Create Session Participant</label>
        <locationX>2704</locationX>
        <locationY>2542</locationY>
        <connector>
            <targetReference>SubmitForApproval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>CreateSession</elementReference>
            </value>
        </inputAssignments>
        <object>Session_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>FullAssessment</name>
        <label>Create Full Assessment</label>
        <locationX>2809</locationX>
        <locationY>1936</locationY>
        <connector>
            <targetReference>CheckForHighRisks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Any_Other_High_Risks__c</field>
            <value>
                <elementReference>HighRisk_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_there_any_DV_Safety_Plans_in_Place__c</field>
            <value>
                <elementReference>HighRisk_DVSafetyPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Assessment__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Mitigation_Strategies__c</field>
            <value>
                <elementReference>Mitigation_Strategies</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Risk_Other_Details__c</field>
            <value>
                <elementReference>HighRisk_OtherDetails.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_perpetrator_at_the_Meeting_Loc__c</field>
            <value>
                <elementReference>HighRisk_IsDvPerpGoingToBeAtLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Known_to_Carry_Threaten_with_Weapons__c</field>
            <value>
                <elementReference>HighRisk_ThreatenWithWeapons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Has_Dangerous_Collections__c</field>
            <value>
                <elementReference>HighRisk_DangerousCollections</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisional_Approval__c</field>
            <value>
                <elementReference>ProvisionalApprovalCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ASSESSMENT_RECORD_TYPE_ID_FULL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PartialAssessment</name>
        <label>Create Partial Assessment</label>
        <locationX>2301</locationX>
        <locationY>2269</locationY>
        <connector>
            <targetReference>SetAssessmentIdFromPartialAssessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Buddy__c</field>
            <value>
                <elementReference>Buddy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerned_about_Conducting_Outreach__c</field>
            <value>
                <elementReference>PartialAssessmentConcernedAboutConductingOutreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Assessment__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_Bad_Mobile_Reception_at_Loc__c</field>
            <value>
                <elementReference>Is_there_no_mobile_or_unreliable_mobile_coverage_at_the_location_of_the_outreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lack_of_Commitment_to_Restrain_Dogs__c</field>
            <value>
                <elementReference>PartialAssessmentLackOfCommitmentRestrainDogs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mitigation_Strategies__c</field>
            <value>
                <elementReference>PartialAssessmentMitigation.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Compliant_with_their_Medication__c</field>
            <value>
                <elementReference>PartialAssessmentIsTheClientNonCompliantWithTheirMedication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Current_Mental_Health_Care_Plan__c</field>
            <value>
                <elementReference>PartialAssessmentIsTheParticipantOnACurrentMentalHealthCarePlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Issues_Reported_or_Known__c</field>
            <value>
                <elementReference>PartialAssessmentOtherIssues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Case.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisional_Approval__c</field>
            <value>
                <elementReference>ProvisionalApprovalCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ASSESSMENT_RECORD_TYPE_ID_PARTIAL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Full_Assessment__c</field>
            <value>
                <elementReference>RecentFullAssessment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_of_Exposure_To_Covid_19__c</field>
            <value>
                <elementReference>PartialAssessmentRiskOfExposureToCovid19</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>RoughSleepersAssessment</name>
        <label>Rough Sleepers Assessment</label>
        <locationX>1935</locationX>
        <locationY>2170</locationY>
        <connector>
            <targetReference>SetAssessmentIdFromRoughSleeper</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Checked_for_Updated_Outreach_Locations__c</field>
            <value>
                <elementReference>CheckedForUpdatedOutreachLocations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Assessment__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_You_Have_Appropriate_Clothing_PPE__c</field>
            <value>
                <elementReference>DoYouHaveAppropriateClothingPPE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Weather_Outlook_Looking_Safe__c</field>
            <value>
                <elementReference>IsWeatherOutlookLookingSafe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisional_Approval__c</field>
            <value>
                <elementReference>ProvisionalApprovalCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ASSESSMENT_RECORD_TYPE_ID_ROUGH_SLEEPERS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buddy</name>
        <label>Buddy</label>
        <locationX>1462</locationX>
        <locationY>835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBuddyHasMobileNumber</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBuddy.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>1723</locationX>
        <locationY>1374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetVarsFromCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>1721</locationX>
        <locationY>1601</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Manager</name>
        <label>Manager</label>
        <locationX>1266</locationX>
        <locationY>1115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckManagerHasMobileNumber</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Program</name>
        <label>Program</label>
        <locationX>1557</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTypeAndRelevantRecords</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecentFullAssessment</name>
        <label>Recent Full Assessment</label>
        <locationX>2113</locationX>
        <locationY>1935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLatestFullAssessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full_Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Worker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Assessment__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FullAssessmentRequiredCutoffDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safe_Space_Assessment__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>579</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckUserHasManager</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SubmitForApproval</name>
        <label>SubmitForApproval</label>
        <locationX>2705</locationX>
        <locationY>2674</locationY>
        <connector>
            <targetReference>Create_Pre_Visit_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssessmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Submit For Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>CreateSession</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBuddy</name>
        <label>Update Buddy</label>
        <locationX>1469</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>Buddy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buddy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>BuddyMobile.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFullAssessment</name>
        <label>Update Full Assessment</label>
        <locationX>3110</locationX>
        <locationY>2210</locationY>
        <connector>
            <targetReference>SetAssessmentIdFromFullAssessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FullAssessment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Any_Recent_Police_Events__c</field>
            <value>
                <elementReference>FullAssessmentRecentPoliceEvents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buddy__c</field>
            <value>
                <elementReference>Buddy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concerned_about_Conducting_Outreach__c</field>
            <value>
                <elementReference>FullAssessmentConcernedAboutConductingOutreach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_Background_Checks_Identify_Risks__c</field>
            <value>
                <elementReference>FullAssessmentBackgroundChecksBeenCompleted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_Police_Checks_Identify_Risks__c</field>
            <value>
                <elementReference>FullAssessmentPoliceCheckRisks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Chapter_16A_Info_Identified_Risks__c</field>
            <value>
                <elementReference>FullAssessmentChapter16A</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_a_Mental_Health_Illness__c</field>
            <value>
                <elementReference>FullAssessmentHistoryOfMentalHealthIllness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_Bad_Mobile_Reception_at_Loc__c</field>
            <value>
                <elementReference>FullAssessmentBadMobileReception</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lack_of_Commitment_to_Restrain_Dogs__c</field>
            <value>
                <elementReference>FullAssessmentLackOfCommitmentToRestrainDogs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mitigation_Strategies__c</field>
            <value>
                <elementReference>FullAssessmentMitigationStrategies.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Compliant_with_their_Medication__c</field>
            <value>
                <elementReference>FullAssessmentNonCompliantWithTheirMedication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Current_Mental_Health_Care_Plan__c</field>
            <value>
                <elementReference>FullAssessmentOnCurrentMentalHealthCarePlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Issues_Reported_or_Known__c</field>
            <value>
                <elementReference>FullAssessmentOtherIssuesReportedOrKnown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_People_Around_During_the_Visit__c</field>
            <value>
                <elementReference>FullAssessmentOtherPeopleAround</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Risk_Factors_to_the_Family__c</field>
            <value>
                <elementReference>FullAssessmentRisksToFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_of_Exposure_To_Covid_19__c</field>
            <value>
                <elementReference>FullAssessmentRiskOfExposureToCovid19</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggestion_History_of_illegal_activities__c</field>
            <value>
                <elementReference>FullAssessmentSuggestionHistoryOfIllegalActivity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggestion_of_Current_Violence__c</field>
            <value>
                <elementReference>FullAssessmentSuggestionsOfCurrentViolence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suggestion_of_a_History_of_Violence__c</field>
            <value>
                <elementReference>FullAssessmentSuggestionOfAHistoryOfViolence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visiting_Isolated_Remote_Location__c</field>
            <value>
                <elementReference>FullAssessmentVisitingIsolatedLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Were_Risks_Identified_In_Their_Referral__c</field>
            <value>
                <elementReference>FullAssessmentRisksIdentifiedInReferral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>first_time_attending_clients_residence__c</field>
            <value>
                <elementReference>Is_this_the_first_time_attending_the_client_s_residence</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFullAssessmentHighRisk</name>
        <label>Update Full Assessment High Risk</label>
        <locationX>3010</locationX>
        <locationY>1596</locationY>
        <connector>
            <targetReference>HighRisksIdentifiedScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FullAssessment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Outcome__c</field>
            <value>
                <stringValue>High Risks Identified, Visit Cannot Proceed</stringValue>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManager</name>
        <label>Update Manager</label>
        <locationX>1153</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>Buddy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManagerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ManagerMobile.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUser</name>
        <label>Update User</label>
        <locationX>437</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0</targetReference>
        </faultConnector>
        <inputReference>User</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUserMobile</name>
        <label>Update User Mobile</label>
        <locationX>772</locationX>
        <locationY>1203</locationY>
        <connector>
            <targetReference>ManagerAbsenceScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>UserMobile.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AssessmentSubmittedScreen</name>
        <label>Assessment Submitted</label>
        <locationX>2705</locationX>
        <locationY>3030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssessmentSubmittedText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Assessment Submitted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your assessment has now been submitted for approval to your manager ({!Manager.FullName__c})&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once it has been approved, you will then be able to complete the pre-visit checklist.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may now close this screen by pressing &lt;strong&gt;Finish&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ManagerAbsenceCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProvisionalApprovalCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssessmentSubmittedTextD</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Assessment Submitted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your assessment has now been submitted for approval to the delegated approver ({!Manager.FullName__c})&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once it has been approved, you will then be able to complete the pre-visit checklist.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You may now close this screen by pressing &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Finish&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ManagerAbsenceCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssessmentSubmittedTextProvisionalApproval</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Assessment Submitted &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your assessment has been submitted and has been provisionally approved by your manager &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;({!Manager.FullName__c})&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can complete the pre-visit checklist prior to your manager providing formal approval. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Additionally, if your manager has not completed the final approval process after the outreach visit, the session and case note details can be recorded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProvisionalApprovalCheckbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BuddyMobileScreen</name>
        <label>Buddy Mobile</label>
        <locationX>1614</locationX>
        <locationY>632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateBuddy</targetReference>
        </connector>
        <fields>
            <name>BuddyMobileText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Buddy Mobile&lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like we don&apos;t have {!Buddy.FirstName}&apos;s mobile number on file. Please enter it below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 255);&quot;&gt;If you do not know &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!Buddy.FirstName}&apos;s mobile number, please press &quot;Previous&quot; and select a different buddy. Do not enter a fake number.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BuddyMobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!Buddy.FirstName}&apos;s Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>0400 000 000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <elementReference>REGED_MOBILE_NUMBER</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DurationNotValidScreen</name>
        <label>Duration Not Valid</label>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DurationNotValidText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Visit Duration Not Valid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please press &quot;Previous&quot; and select a valid duration for the visit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FullAssessmentScreen</name>
        <label>Full Assessment</label>
        <locationX>3110</locationX>
        <locationY>2048</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateFullAssessment</targetReference>
        </connector>
        <fields>
            <name>FullAssessmentText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Full Assessment&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;A Full Assessment is due for this participant. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below questions and provide the appropriate answers. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>COVID</name>
            <fieldText>Coronavirus &amp; Other Infectious Diseases</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>COVID_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentRiskOfExposureToCovid19</name>
                    <choiceReferences>ChoicePicklistRiskOfExposureToCovid19</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any risk of exposure to Covid19 Virus or other infectious disease?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>COVID_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cold_Call</name>
            <fieldText>Cold Call</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cold_Call_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentRisksIdentifiedInReferral</name>
                    <choiceReferences>ChoicePicklistWereRisksIdentifiedInTheirReferral</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Were risks identified in their referral?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentChapter16A</name>
                    <choiceReferences>ChoicePicklistChapter16A</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has Chapter 16A info identified risks?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentRisksToFamily</name>
                    <choiceReferences>ChoicePicklistPotentialRiskFactorsToTheFamily</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the Chapter 16A information raise any concerns re risk to staff or stakeholders, in relation to the family and/or premises?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cold_Call_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentPoliceCheckRisks</name>
                    <choiceReferences>ChoicePicklistDidPoliceChecksIdentifyRisks</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did police checks identify risks?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentRecentPoliceEvents</name>
                    <choiceReferences>ChoicePicklistAnyRecentPoliceEvents</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Any recent police events?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VisitType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceColdCall</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Violence</name>
            <fieldText>Violence</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Violence_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentSuggestionOfAHistoryOfViolence</name>
                    <choiceReferences>ChoicePicklistSuggestionOfAHistoryOfViolence</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any suggestion of history of violence?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Violence_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentSuggestionsOfCurrentViolence</name>
                    <choiceReferences>ChoicePicklistSuggestionsOfCurrentViolence</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any suggestion of current violence?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mental_Health</name>
            <fieldText>Mental Health</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mental_Health_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentHistoryOfMentalHealthIllness</name>
                    <choiceReferences>ChoicePicklistHistoryOfMentalHealthIllness</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there a history of a mental health illness?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentOnCurrentMentalHealthCarePlan</name>
                    <choiceReferences>ChoicePicklistOnCurrentMentalHealthCarePlan</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the participant on a current mental health care plan?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mental_Health_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentNonCompliantWithTheirMedication</name>
                    <choiceReferences>ChoicePicklistNonCompliantWithTheirMedication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the client non-compliant with their medication?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other</name>
            <fieldText>Other</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentSuggestionHistoryOfIllegalActivity</name>
                    <choiceReferences>ChoicePicklistSuggestionHistoryOfIllegalActivity</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any suggestion of or history of illegal activities in the suggested meeting space?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentBackgroundChecksBeenCompleted</name>
                    <choiceReferences>ChoicePicklistBackgroundChecksBeenCompleted</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did Background Checks Identify Risks?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentVisitingIsolatedLocation</name>
                    <choiceReferences>ChoicePicklistVisitingIsolatedLocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Visiting Isolated / Remote Location?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentBadMobileReception</name>
                    <choiceReferences>ChoicePicklistBadMobileReception</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there no or unreliable mobile coverage at the location of the home visit?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_the_first_time_attending_the_client_s_residence</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this the first time attending the client&apos;s residence?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullAssessmentOtherPeopleAround</name>
                    <choiceReferences>ChoicePicklistOtherPeopleAround</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Other People Around During the Visit?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentLackOfCommitmentToRestrainDogs</name>
                    <choiceReferences>ChoicePicklistLackOfCommitmentRestrainDogs</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there a Lack of Commitment to Restrain Dogs?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentOtherIssuesReportedOrKnown</name>
                    <choiceReferences>ChoicePicklistOtherIssuesReportedOrKnown</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are there other significant issues reported or known?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FullAssessmentConcernedAboutConductingOutreach</name>
                    <choiceReferences>ChoicePicklistConcernedAboutConductingOutreach</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you concerned about conducting outreach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>MitigationText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!TextTemplateMitigation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FullAssessmentMitigationStrategies</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HighRisksIdentifiedScreen</name>
        <label>High Risks Identified</label>
        <locationX>3010</locationX>
        <locationY>1472</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HighRisksIdentifiedText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;High Risk(s) Identified&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As High Risks have been identified, you cannot proceed with the outreach visit. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please discuss with your manager to identify mitigation strategies for the high risks identified and restart the Safe Space process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HighRisksScreen</name>
        <label>Full Assessment: High Risks</label>
        <locationX>2505</locationX>
        <locationY>1959</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MitigationStrategiesNeeded</targetReference>
        </connector>
        <fields>
            <name>High_Risks</name>
            <fieldText>High Risks</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>High_Risks_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HighRisksText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Please indicate if any of these high risks have been identified&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HighRisk_DangerousCollections</name>
                    <choiceReferences>ChoicePicklistParticipantHasDangerousCollections</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>HighRisk_DangerousCollections</stringValue>
                    </defaultValue>
                    <fieldText>Does the client have dangerous collections ie gun, knife, bow and arrow or sword or other potentially harmful collections?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>HighRisk_ThreatenWithWeapons</name>
                    <choiceReferences>ChoicePicklistKnownToCarryThreatenWithWeapons</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>HighRisk_ThreatenWithWeapons</stringValue>
                    </defaultValue>
                    <fieldText>Are they known to carry, use or have threatened anyone with a weapon in the past?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>HighRisk_DVSafetyPlan</name>
                    <choiceReferences>ChoicePicklistDVSafetyPlansInPlace</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>HighRisk_DVSafetyPlan</stringValue>
                    </defaultValue>
                    <fieldText>Are there any known current or historical DV Safety Plans in place?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>HighRisk_IsDvPerpGoingToBeAtLocation</name>
                    <choiceReferences>ChoicePicklistIstheDvPerpAtTheMeetingLoc</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>HighRisk_IsDvPerpGoingToBeAtLocation</stringValue>
                    </defaultValue>
                    <fieldText>Is the perpetrator in the home/area?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HighRisk_DVSafetyPlan</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HighRisk_Other</name>
                    <choiceReferences>ChoicePicklistOtherHighRisks</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>HighRisk_Other</stringValue>
                    </defaultValue>
                    <fieldText>Are there any Other High Risks? Such as historical/current violence, escalations, mental health instability, alcohol or substance abuse?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_High_Risks</name>
            <fieldText>Other High Risks</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_High_Risks_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HighRisk_OtherText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Please add details about the other high risks identified below&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HighRisk_Other</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChoiceYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HighRisk_OtherDetails</name>
                    <extensionName>c:inputRichTextFSC_LWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HighRisk_Other</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChoiceYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HighRisk_Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mitigation_Strategies_Header</name>
            <fieldText>Mitigation Strategies</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mitigation_Strategies_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HighRiskMitigationText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Please add details about mitigation strategies for all questions answered N/A &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;(Risk Mitigated)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Mitigation_Strategies</name>
                    <fieldText>Mitigation Strategies</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>HighRisk_DangerousCollections</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>N/A</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HighRisk_ThreatenWithWeapons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>N/A</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HighRisk_DVSafetyPlan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>N/A</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>HighRisk_Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>N/A</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManagerAbsenceScreen</name>
        <label>ManagerAbsenceScreen</label>
        <locationX>891</locationX>
        <locationY>1112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ManagerAbsent</targetReference>
        </connector>
        <fields>
            <name>Manager_Approval</name>
            <fieldText>Manager Approval</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manager_Approval_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ManagerAbsenceText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Is your manager absent?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your manager is: &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!User.Manager.FullName__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!User.Manager.FullName__c}&lt;/strong&gt;&lt;strong&gt;&apos;s &lt;/strong&gt;delegated approver is: &lt;strong&gt;{!User.Manager.Safe_Space_Secondary_Approver__r.FullName__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If your manager is absent tick the box below to have the safe space approval sent to &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!User.Manager.Safe_Space_Secondary_Approver__r.FullName__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ManagerAbsenceCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Use my manager&apos;s delegated approver</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provisional_Aprpoval</name>
            <fieldText>Provisional Approval</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provisional_Aprpoval_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProvisionalApprovalCheckbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>If a manager is unable to approve this request in Hende pre-visit, you must obtain verbal approval and check the following box to activate the outreach visit. Please note: if the box is checked, your manager or Q&amp;C must approve this request post-visit to complete the process.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ManagerMobileScreen</name>
        <label>Manager Mobile</label>
        <locationX>1006</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateManager</targetReference>
        </connector>
        <fields>
            <name>ManagerMobileText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Manager Mobile&lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like we don&apos;t have {!Manager.FirstName}&apos;s mobile number on file. Please enter it below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;If you do not know &lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Manager.FirstName}&apos;s mobile number, please press &quot;Next&quot; to skip this process. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Do not enter a fake number.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ManagerMobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!Manager.FirstName}&apos;s Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>0400 000 000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <elementReference>REGED_MOBILE_NUMBER</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MissingMitigationError</name>
        <label>MissingMitigationError</label>
        <locationX>2658</locationX>
        <locationY>1744</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingMitigationText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Mitigation Strategies is Empty&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Mitigation Strategies cannot be blank if you answered &quot;N/A (Risk Mitigated)&quot; to one of the High Risk questions.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please return to the previous page and enter details in the Mitigation Strategies Text Box.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartialAssessmentScreen</name>
        <label>Partial Assessment</label>
        <locationX>2300</locationX>
        <locationY>2126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PartialAssessment</targetReference>
        </connector>
        <fields>
            <name>PartialAssessmentText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Partial Assessment&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It appears you recently conducted a Full Assessment in the last three months. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please complete the below partial assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Coronavirus</name>
            <fieldText>Coronavirus &amp; Other Infectious Diseases</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Coronavirus_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartialAssessmentRiskOfExposureToCovid19</name>
                    <choiceReferences>ChoicePicklistRiskOfExposureToCovid19</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any risk of exposure to Covid19 Virus or other infectious disease?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Coronavirus_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Partial_Assessment</name>
            <fieldText>Other</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Partial_Assessment_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartialAssessmentIsTheParticipantOnACurrentMentalHealthCarePlan</name>
                    <choiceReferences>ChoicePicklistOnCurrentMentalHealthCarePlan</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the participant on a current mental health care plan?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PartialAssessmentIsTheClientNonCompliantWithTheirMedication</name>
                    <choiceReferences>ChoicePicklistNonCompliantWithTheirMedication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the client non-compliant with their medication?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_there_no_mobile_or_unreliable_mobile_coverage_at_the_location_of_the_outreach</name>
                    <choiceReferences>ChoicePicklistBadMobileReception</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there no mobile or unreliable mobile coverage at the location of the outreach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Partial_Assessment_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartialAssessmentLackOfCommitmentRestrainDogs</name>
                    <choiceReferences>ChoicePicklistLackOfCommitmentRestrainDogs</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there a Lack of Commitment to Restrain Dogs?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PartialAssessmentOtherIssues</name>
                    <choiceReferences>ChoicePicklistOtherIssuesReportedOrKnown</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>After speaking to the client are there any risks identified, associated with other people or pets?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PartialAssessmentConcernedAboutConductingOutreach</name>
                    <choiceReferences>ChoicePicklistConcernedAboutConductingOutreach</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>After reviewing the clients records and speaking to the client do you have any concerns about going on outreach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>MitigationText3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!TextTemplateMitigation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PartialAssessmentMitigation</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartialAssessmentScreen_0</name>
        <label>Mental Health Facility Outreach Details</label>
        <locationX>2394</locationX>
        <locationY>1566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_MHFO_Assessment</targetReference>
        </connector>
        <fields>
            <name>MHFOAssessmentText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Mental Health Facility Outreach&lt;/strong&gt;&lt;strong&gt; Assessment&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please complete the below assessment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mental_Health_Facility_Outreach_Details</name>
            <fieldText>Mental Health Facility Outreach Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mental_Health_Facility_Outreach_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Suggestion_of_a_History_of_Violence</name>
                    <choiceReferences>Choice_MHFO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any suggestion of history of violence?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Suggestion_of_Current_Violence</name>
                    <choiceReferences>Choice_MHFO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there any suggestion of current violence?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Concerned_about_conducting_Outreach</name>
                    <choiceReferences>Choice_MHFO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you concerned about conducting outreach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mental_Health_Facility_Outreach_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Background_checks_been_completed</name>
                    <choiceReferences>Choice_MHFO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a background check been completed with DCJ, Police, Health or other agency (if relevant)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>External_Internal_Worker_Present</name>
                    <choiceReferences>Choice_MHFO</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Can you confirm that a second worker/buddy/external agency staff will be present during the outreach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mitigation_Strategies_MHFO</name>
            <fieldText>&lt;p&gt;{!TextTemplateMitigation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Mitigation_MHFO</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviousFullAssessmentHighRiskScreen</name>
        <label>Previous Full Assessment High Risk</label>
        <locationX>2395</locationX>
        <locationY>1718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HighRisksScreen</targetReference>
        </connector>
        <fields>
            <name>PreviousFullAssessmentHighRiskText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Warning&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The most recent Full Assessment ({!RecentFullAssessment.Date_of_Assessment__c}) identified &lt;b&gt;High Risks&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will not be able to proceed with a visitation until a new Full Assessment is completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please press &quot;&lt;b&gt;Next&lt;/b&gt;&quot; to start a new Full Assessment, or close this window if you do not wish to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RoughSleepersScreen</name>
        <label>Rough Sleepers</label>
        <locationX>1935</locationX>
        <locationY>1912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RoughSleepersAssessment</targetReference>
        </connector>
        <fields>
            <name>CheckedForUpdatedOutreachLocations</name>
            <choiceReferences>ChoicePicklistCheckedForUpdatedOutreachLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prior to heading out, have checks been done to see if there is any updated information/intelligence re outreach locations from other stakeholders ie council rangers and risks have been identified.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DoYouHaveAppropriateClothingPPE</name>
            <choiceReferences>ChoicePicklistDoYouHaveAppropriateClothingPPE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have clothing, footwear and sunscreen to protect you from sun damage and other location or environmental factors?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsWeatherOutlookLookingSafe</name>
            <choiceReferences>ChoicePicklistIsWeatherOutlookLookingSafe</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have any extreme weather events forecasts or warnings been cancelled?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RoughSleepersNoText</name>
            <fieldText>&lt;p&gt;&lt;i&gt;As you have answered &quot;&lt;/i&gt;&lt;b&gt;&lt;i&gt;No&lt;/i&gt;&lt;/b&gt;&lt;i&gt;&quot; to one or more of the questions above. A joint risk assessment discussion with outreach partner is required, to decide if the engagement is going ahead. Agreements regarding continued engagement must be unanimous. If there is not agreement the engagement must not go ahead.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CheckedForUpdatedOutreachLocations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DoYouHaveAppropriateClothingPPE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IsWeatherOutlookLookingSafe</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RoughSleepersMitigation</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CheckedForUpdatedOutreachLocations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DoYouHaveAppropriateClothingPPE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IsWeatherOutlookLookingSafe</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCaseScreen</name>
        <label>Select Case Screen</label>
        <locationX>2113</locationX>
        <locationY>1374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <fields>
            <name>SelectCaseText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please Select Case&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This type of visit must be related to a Case. Please select the appropriate one using the lookup dialogue below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupCase</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Case__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Safe_Space_Assessment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectManagerScreen</name>
        <label>Select Manager</label>
        <locationX>307</locationX>
        <locationY>826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetNewManager</targetReference>
        </connector>
        <fields>
            <name>SelectManagerText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No Manager Found&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It looks like your user record doesn&apos;t have a manager / &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;supervisor&lt;/span&gt; set on it yet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use the below field to select your current manager / supervisor&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ManagerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Manager / Supervisor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectProgramScreen</name>
        <label>Select Program</label>
        <locationX>1841</locationX>
        <locationY>1469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetProgramIdFromSelectedProgram</targetReference>
        </connector>
        <fields>
            <name>SelectProgramText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Program&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select the program this Safe Space Visit is related to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedProgram</name>
            <choiceReferences>ChoiceRecordsPrograms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartIsInThePastScreen</name>
        <label>Start Is In The Past</label>
        <locationX>692</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DurationNotValidText_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Visit Start Date/Time Not Valid&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please press &quot;Previous&quot; and select a Start Date/Time that is in the future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UnknownRecordIdTypeScreen</name>
        <label>Unknown RecordId Type</label>
        <locationX>1389</locationX>
        <locationY>1175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnknownRecordIdTypeText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unknown RecordId Type: {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserMobileScreen</name>
        <label>User Mobile</label>
        <locationX>614</locationX>
        <locationY>1204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateUserMobile</targetReference>
        </connector>
        <fields>
            <name>UserMobileText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Mobile Number&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It looks like we don&apos;t have your mobile number on file. Please enter it below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 255); background-color: rgb(255, 255, 255);&quot;&gt;Do not enter a fake number.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserMobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>0400 000 000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <elementReference>REGED_MOBILE_NUMBER</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VisitDetailsScreen</name>
        <label>Visit Details</label>
        <locationX>406</locationX>
        <locationY>258</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckVisitDetailsAreValid</targetReference>
        </connector>
        <fields>
            <name>WhatKindOfVisitScreenText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VisitType</name>
            <choiceReferences>ChoiceColdCall</choiceReferences>
            <choiceReferences>ChoiceOutreach</choiceReferences>
            <choiceReferences>ChoiceRoughSleepers</choiceReferences>
            <choiceReferences>ChoiceMentalHealthFacilityOutreach</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Safe Space Visit Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_Time_of_Visit</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date/Time of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VisitDetailsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VisitDetailsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DurationHours</name>
                    <choiceReferences>ChoicePicklistSessionDurationHours</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>1</stringValue>
                    </defaultValue>
                    <fieldText>Duration (Hours)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VisitDetailsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DurationMinutes</name>
                    <choiceReferences>ChoicePicklistSessionDurationMinues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Duration (Minutes)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Location_of_Visit</name>
            <dataType>String</dataType>
            <fieldText>Location of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocationCategory</name>
            <choiceReferences>ChoicePicklistSessionSetting</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>CLRES</stringValue>
            </defaultValue>
            <fieldText>Location Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BuddyText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Safe Space Buddy&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your Safe Space buddy will be notified if you don&apos;t check in or check out when conducting the outreach visit. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select an appropriate buddy from the field below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedBuddy</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Buddy__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Buddy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Safe_Space_Assessment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>VisitDetailsScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Flow_Fault_0</name>
        <label>Flow Fault</label>
        <locationX>1220</locationX>
        <locationY>1568</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0_0</name>
        <label>Flow Fault</label>
        <locationX>750</locationX>
        <locationY>573</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0_0_0</name>
        <label>Flow Fault</label>
        <locationX>2112</locationX>
        <locationY>2188</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0_0_0_0</name>
        <label>Flow Fault</label>
        <locationX>3223</locationX>
        <locationY>1666</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0_0_0_0_0</name>
        <label>Flow Fault</label>
        <locationX>2811</locationX>
        <locationY>2208</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0_0_0_0_0_0</name>
        <label>Flow Fault</label>
        <locationX>2358</locationX>
        <locationY>2642</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Fault_0_0_0_0_0_0_0_0</name>
        <label>Flow Fault</label>
        <locationX>1274</locationX>
        <locationY>589</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TextTemplateMitigation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Mitigation Strategies&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please detail any mitigation strategies you intended to use for any identified risks&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MitigationStrategies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SafeSpaceAssessment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Safe_Space_Assessment__c</objectType>
    </variables>
</Flow>
