DevOps/force-app/main/default/flows/SafeSpace_v2_Post_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetAssessmentIdFromRecordId</name>
        <label>Set AssessmentId From RecordId</label>
        <locationX>433</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>assessmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAssessmentIdFromTempSession</name>
        <label>SetAssessmentIdFromTempSession</label>
        <locationX>433</locationX>
        <locationY>979</locationY>
        <assignmentItems>
            <assignToReference>assessmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempSession.Safe_Space_Assessment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutcomeOfVisist</name>
        <label>Set Outcome Of Visist</label>
        <locationX>1322</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutcomeOfVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Minutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Services</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceCancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNoShow</name>
        <choiceText>No-Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No-Show</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Brokerage</name>
        <label>Brokerage?</label>
        <locationX>1716</locationX>
        <locationY>828</locationY>
        <defaultConnector>
            <targetReference>CheckIfCreatingCaseNote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>215</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brokerage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCreatingCaseNote</name>
        <label>Check If Creating Case Note</label>
        <locationX>2189</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>ProcessCompleteScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue</defaultConnectorLabel>
        <rules>
            <name>YesCreateCaseNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCaseNote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Session.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseNote</targetReference>
            </connector>
            <label>Create Case Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordIdType</name>
        <label>Check RecordId Type</label>
        <locationX>274</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UnknownRecordIdTypeScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UNKNOWN</defaultConnectorLabel>
        <rules>
            <name>RecordIdIsAssessmentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeCharacters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a32</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAssessmentIdFromRecordId</targetReference>
            </connector>
            <label>Assessment Id</label>
        </rules>
        <rules>
            <name>RecordIdIsSessionId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFirstThreeCharacters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a14</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TempSession</targetReference>
            </connector>
            <label>Session Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSessionHasAssessment</name>
        <label>Check Session Has Assessment</label>
        <locationX>269</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>SetAssessmentIdFromTempSession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>SessionDoesNotHaveAssessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempSession.Safe_Space_Assessment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotSafeSpaceSessionScreen</targetReference>
            </connector>
            <label>Session Does Not Have Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSessionStatus</name>
        <label>Check Session Status</label>
        <locationX>887</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>PostVisitScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SessionStatusIsScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostVisitScreen</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <description>Added Supported TA Notes to Safe Spaces
Defaulted Indirect Hours and Minutes to 0 and removed Mandatory</description>
    <dynamicChoiceSets>
        <name>Choice_Hours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Hours__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Minutes__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIndirectHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIndirectMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistPostVisitIdentifiedRisks</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Post_Visit_Risks_Identified__c</picklistField>
        <picklistObject>Safe_Space_Assessment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistPrimaryIndirectActivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Indirect_Activity__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistTravelHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistTravelMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactMethod</name>
        <dataType>String</dataType>
        <expression>IF({!OutcomeOfVisit} == {!ChoiceNoShow},&quot;Cancelled / No Show&quot;,
IF({!OutcomeOfVisit} == {!ChoiceCancelled},&quot;Cancelled / No Show&quot;,
IF(ISPICKVAL({!Session.Service_Setting__c}, &quot;CLRES&quot;),&quot;Home Visit&quot;,
&quot;Face to Face&quot;)))</expression>
    </formulas>
    <formulas>
        <name>DefaultCaseNote</name>
        <dataType>String</dataType>
        <expression>IF({!Session.Program__r.Name} == &quot;Supported TA&quot;, {!SupportedTANote}, IF(isnull({!CaseNoteText.value}), &quot;&quot;, {!CaseNoteText.value}))</expression>
    </formulas>
    <formulas>
        <name>recordIdFirstThreeCharacters</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <formulas>
        <name>Var_NoShow</name>
        <dataType>String</dataType>
        <expression>IF({!OutcomeOfVisit} = &quot;No-Show&quot;, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>SafeSpace v2 - Post Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SafeSpace v2 - Post Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseNote</name>
        <label>CreateCaseNote</label>
        <locationX>2423</locationX>
        <locationY>831</locationY>
        <connector>
            <targetReference>ProcessCompleteScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Date_Time__c</field>
            <value>
                <elementReference>Case_Note_Activity_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Session.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Method__c</field>
            <value>
                <elementReference>ContactMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contains_Medical_Information__c</field>
            <value>
                <elementReference>Case_Note_Contains_Medical_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Hours__c</field>
            <value>
                <elementReference>Indirect_Time_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Minutes__c</field>
            <value>
                <elementReference>Indirect_Time_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>CaseNoteText.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Indirect_Activity__c</field>
            <value>
                <elementReference>Primary_Indirect_Activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <stringValue>Safe Space Session</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Hours__c</field>
            <value>
                <elementReference>Travel_Time_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Minutes__c</field>
            <value>
                <elementReference>Travel_Time_Minutes</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Assessment</name>
        <label>Assessment</label>
        <locationX>649</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assessmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safe_Space_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Session</name>
        <label>Session</label>
        <locationX>763</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSessionStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assessment.Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TempSession</name>
        <label>TempSession</label>
        <locationX>279</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSessionHasAssessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssessment</name>
        <label>UpdateAssessment</label>
        <locationX>1188</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>SetOutcomeOfVisist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assessment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Post_Visit_Risks_Identified__c</field>
            <value>
                <elementReference>PostVisitIdentifiedRisks</elementReference>
            </value>
        </inputAssignments>
        <object>Safe_Space_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSession</name>
        <label>Update Session</label>
        <locationX>1584</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Brokerage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFault_0</targetReference>
        </faultConnector>
        <inputReference>Session</inputReference>
    </recordUpdates>
    <screens>
        <name>NotSafeSpaceSessionScreen</name>
        <label>Not Safe Space Session</label>
        <locationX>54</locationX>
        <locationY>975</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotSafeSpaceSessionText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Sorry, this doesn&apos;t look like a Safe Space Session&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PostVisitScreen</name>
        <label>Post Visit</label>
        <locationX>1050</locationX>
        <locationY>826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAssessment</targetReference>
        </connector>
        <fields>
            <name>PostVisitText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Post Visit Identified Risks&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Visit Date/Time: {!Session.Start_Date_Time__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;What was the outcome of the visit?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OutcomeOfVisit</name>
            <choiceReferences>ChoiceCompleted</choiceReferences>
            <choiceReferences>ChoiceCancelled</choiceReferences>
            <choiceReferences>ChoiceNoShow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome of Visit</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PostVisitIdentifiedRisks</name>
            <choiceReferences>ChoicePicklistPostVisitIdentifiedRisks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Post-Visit Identified Risks</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OutcomeOfVisit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceCompleted</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RecordCaseNote</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceYes</defaultSelectedChoiceReference>
            <fieldText>Record Case Note?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Session.Case__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PostVisitScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PostVisitScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PostVisitScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PostVisitScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PostVisitScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Note_Activity_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Session.Start_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Case Note Activity Date / Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Case_Note_Contains_Medical_Information</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Contains Medical Information</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Check this if the case note contains medical information.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CaseNoteText</name>
                    <extensionName>c:inputRichTextFSC_LWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>DefaultCaseNote</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordCaseNote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceYes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Session.Case__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PostVisitScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PostVisitScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hours</name>
                    <choiceReferences>Choice_Hours</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Session.Duration_Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Session Length - Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Did the outreach visit extend the original duration? If so adjust the total amount of hours here&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PostVisitScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minutes</name>
                    <choiceReferences>Choice_Minutes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Session.Duration_Minutes__c</elementReference>
                    </defaultValue>
                    <fieldText>Session Length - Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Did the outreach visit extend the original duration? If so adjust the total amount of minutes here&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Primary_Indirect_Activity</name>
            <choiceReferences>ChoicePicklistPrimaryIndirectActivity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Indirect Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PostVisitScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PostVisitScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Indirect_Time_Hours</name>
                    <choiceReferences>ChoicePicklistIndirectHours</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>0</stringValue>
                    </defaultValue>
                    <fieldText>Indirect Time - Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Travel_Time_Hours</name>
                    <choiceReferences>ChoicePicklistTravelHours</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>0</stringValue>
                    </defaultValue>
                    <fieldText>Travel Time - Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PostVisitScreen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Indirect_Time_Minutes</name>
                    <choiceReferences>ChoicePicklistIndirectMinutes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00</stringValue>
                    </defaultValue>
                    <fieldText>Indirect Time - Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Travel_Time_Minutes</name>
                    <choiceReferences>ChoicePicklistTravelMinutes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>00</stringValue>
                    </defaultValue>
                    <fieldText>Travel Time - Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordCaseNote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceYes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Session.Case__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProcessCompleteScreen</name>
        <label>Process Complete</label>
        <locationX>2414</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProcessCompleteText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Process Complete&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Post-Visit Assessment is complete. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You may now close this screen by pressing &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Finish&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UnknownRecordIdTypeScreen</name>
        <label>Unknown RecordId Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnknownRecordIdTypeText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Safe Space - Error&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Unknown RecordId type: {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>157</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>CheckRecordIdType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FlowFault</name>
        <label>FlowFault</label>
        <locationX>428</locationX>
        <locationY>835</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FlowFault_0</name>
        <label>FlowFault</label>
        <locationX>1289</locationX>
        <locationY>1576</locationY>
        <flowName>Flow_Fault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Session_Services</name>
        <label>Session Services</label>
        <locationX>1457</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>UpdateSession</targetReference>
        </connector>
        <flowName>Session_Services</flowName>
        <inputAssignments>
            <name>inputSession</name>
            <value>
                <elementReference>Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NoShowSession</name>
            <value>
                <elementReference>Var_NoShow</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Session</assignToReference>
            <name>inputSession</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageApprovalRequired</assignToReference>
            <name>OutputApprovalRequired</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageApprover</assignToReference>
            <name>OutputApprover</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageDetails</assignToReference>
            <name>OutputDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokeragePaymentType</assignToReference>
            <name>OutputPaymentType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageREAFunding</assignToReference>
            <name>OutputREAFunding</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageVoucherId</assignToReference>
            <name>OutputVoucherId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Brokerage</name>
        <label>Set Brokerage</label>
        <locationX>1956</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>CheckIfCreatingCaseNote</targetReference>
        </connector>
        <flowName>Session_Brokerage</flowName>
        <inputAssignments>
            <name>ApprovalRequired</name>
            <value>
                <elementReference>BrokerageApprovalRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApproverId</name>
            <value>
                <elementReference>BrokerageApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Details</name>
            <value>
                <elementReference>BrokerageDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputVoucherId</name>
            <value>
                <elementReference>BrokerageVoucherId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentType</name>
            <value>
                <elementReference>BrokeragePaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>REAFunding</name>
            <value>
                <elementReference>BrokerageREAFunding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>SupportedTANote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Acronyms&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: windowtext;&quot;&gt;Homes NSW (HNSW)&amp;nbsp;|&amp;nbsp;&lt;/em&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;&amp;nbsp;Link to Home (L2H) &lt;/em&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: windowtext; background-color: inherit;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: windowtext;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Presentation:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;What did you observe &amp;amp; hear? What did they report? How was their mood, affect and engagement?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Assessment:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;What was the presenting issue? What has the participant tried to address? What has worked or not worked?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Risk:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;What is the current risk status of the Participant. Where and what have you reported to whom?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Intervention:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;What interventions did you use? What intervention is working for the participant?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Referrals:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Who did you make the referral to? Where did you refer them to? Why was the referral made, and when will you follow up?&lt;/em&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;Plan:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent;&quot;&gt;When is the next appointment? What are the participants’ goals and strategies? What actions/tasks did you and the participant agree on?&lt;/em&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>assessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageApprovalRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BrokerageApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokeragePaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageREAFunding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageVoucherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
