DevOps/force-app/main/default/flows/Session_New_or_Existing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ExistingAssign</name>
        <label>ExistingAssign</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingSessionChoice.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NewAssign</name>
        <label>NewAssign</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Session.SessionId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Choice_Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ExistingorNewSession</name>
        <label>ExistingorNewSession</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Existing_No_Selection</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Will_this_be_attached_to_a_new_or_existing_session</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Existing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingSessionChoice.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingSessionChoice.firstSelectedRow</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Existing_No_Selection_Screen</targetReference>
            </connector>
            <label>Existing No Selection</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_this_be_attached_to_a_new_or_existing_session</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Existing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingSessionChoice.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingAssign</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <description>Added input variable to skip case note</description>
    <dynamicChoiceSets>
        <name>RecordChoice_ExistingSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0129s0000004IoG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0122x0000000QPT</stringValue>
            </value>
        </filters>
        <object>Session__c</object>
        <sortField>Session_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Current_Month</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Previous_Month</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH(TODAY())-1=0, 12, MONTH(TODAY())-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Previous_Month2</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH(TODAY())-2=0, 12,
IF(MONTH(TODAY())-2=-1, 11, MONTH(TODAY())-2))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Session: New or Existing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session: New or Existing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sessions</name>
        <label>Get Sessions</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SessionSelectScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Existing_No_Selection_Screen</name>
        <label>Existing No Selection Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exisitng_No_Selection_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;No Existing Session Selected&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Existing Session was selected but no Session was selected. Please return to the previous screen and select a session to attach the DEX Score to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SessionSelectScreen</name>
        <label>SessionSelectScreen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExistingorNewSession</targetReference>
        </connector>
        <fields>
            <name>Will_this_be_attached_to_a_new_or_existing_session</name>
            <choiceReferences>Choice_New</choiceReferences>
            <choiceReferences>Choice_Existing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will this be attached to a new or existing session?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExistingSessionChoice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Session__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an existing session:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Sessions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-20f6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Session Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Session_Date__c&quot;,&quot;guid&quot;:&quot;column-0c6c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Session Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Service_Label__c&quot;,&quot;guid&quot;:&quot;column-e089&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Service&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Service Label&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Will_this_be_attached_to_a_new_or_existing_session</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Existing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sessions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Session</name>
        <label>Create Session</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>NewAssign</targetReference>
        </connector>
        <flowName>Create_Session</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SkipFollowonActions</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SkipCaseNote</name>
            <value>
                <elementReference>SkipCaseNote</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>placeholder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkipCaseNote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_Client_Participation_Indicator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_No_Show</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Participants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
