DevOps/force-app/main/default/flows/Session_Brokerage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignAcceptedDate</name>
        <label>AssignAcceptedDate</label>
        <locationX>753</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>ReferralAcceptanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session.Session_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Outbound_Referral</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Another</name>
        <label>Create Another?</label>
        <locationX>923</locationX>
        <locationY>980</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_another_Outbound_Referral</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Additional_Outbound_Referrals</targetReference>
            </connector>
            <label>Yes Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Accepted</name>
        <label>Referral Accepted?</label>
        <locationX>924</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Create_Outbound_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accepted</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferralStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAcceptedDate</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>ServiceType</name>
        <label>ServiceType</label>
        <locationX>1088</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Brokerage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>215</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Brokerage</targetReference>
            </connector>
            <label>Brokerage</label>
        </rules>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Accepted</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
    </decisions>
    <description>Added case member</description>
    <environments>Default</environments>
    <interviewLabel>Session: Brokerage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session: Brokerage &amp; Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Brokerage</name>
        <label>Create Brokerage</label>
        <locationX>1301</locationX>
        <locationY>491</locationY>
        <assignRecordIdToReference>brokerageId</assignRecordIdToReference>
        <connector>
            <targetReference>update_session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <elementReference>ApprovalRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>ApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Amount__c</field>
            <value>
                <elementReference>Get_Session.Total_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Date__c</field>
            <value>
                <elementReference>Get_Session.Session_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>PaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>REA_Funding__c</field>
            <value>
                <elementReference>REAFunding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124a0000004LEsAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher__c</field>
            <value>
                <elementReference>inputVoucherId</elementReference>
            </value>
        </inputAssignments>
        <object>Brokerage__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Outbound_Referral</name>
        <label>Create Outbound Referral</label>
        <locationX>932</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>Another_Brokerage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Member__c</field>
            <value>
                <elementReference>ReferralCaseMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>ReferralComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact_At_Referred_To_Organisation__c</field>
            <value>
                <elementReference>ReferredOrganisationContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Reasons_For_Seeking_Assistance__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Other_Reasons_For_Seeking_Assistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presenting_Issues__c</field>
            <value>
                <elementReference>ReferralPresentingIssues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason_For_Seeking_Assistance__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Primary_Reason_For_Seeking_Assistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Acceptance_Date__c</field>
            <value>
                <elementReference>ReferralAcceptanceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>Get_Session.Session_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Purpose__c</field>
            <value>
                <elementReference>ReferralPurpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <elementReference>ReferralStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To_Organisation__c</field>
            <value>
                <elementReference>ReferredOrganisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type_Referred_To__c</field>
            <value>
                <elementReference>ServiceReferredTo</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>1096</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_session</name>
        <label>update session</label>
        <locationX>1464</locationX>
        <locationY>601</locationY>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brokerage__c</field>
            <value>
                <elementReference>brokerageId</elementReference>
            </value>
        </inputAssignments>
        <object>Session__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Another_Brokerage</name>
        <label>Another Brokerage?</label>
        <locationX>931</locationX>
        <locationY>859</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Another</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_create_another_Outbound_Referral</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Do you want to create another Outbound Referral?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1301</locationX>
        <locationY>707</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Additional_Outbound_Referrals</name>
        <label>Create Additional Outbound Referrals</label>
        <locationX>751</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Another_Brokerage</targetReference>
        </connector>
        <flowName>Session_Referral_Creation</flowName>
        <inputAssignments>
            <name>Var_SessionID</name>
            <value>
                <elementReference>Get_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ApprovalRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>brokerageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputVoucherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REAFunding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralAcceptanceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralCaseMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralPresentingIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferredOrganisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferredOrganisationContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceReferredTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
