DevOps/force-app/main/default/flows/Session_Referral_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignExistingOrg</name>
        <label>AssignExistingOrg</label>
        <locationX>3585</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>OutputReferralOrganisation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferredToOrg.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrgContactScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNonExistingOrg</name>
        <label>AssignNonExistingOrg</label>
        <locationX>3584</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>OutputReferralOrganisation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateOrganisation.ReturnAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrgContactScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Org_Exists</name>
        <label>Org Exists</label>
        <locationX>3434</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>CreateOrganisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrgNotExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignExistingOrg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Nothing_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrgNotExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferredToOrg.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrgNeededScreen</targetReference>
            </connector>
            <label>Nothing Entered</label>
        </rules>
    </decisions>
    <description>Added Case Member selection</description>
    <dynamicChoiceSets>
        <name>ChoiceReferralStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Status__c</picklistField>
        <picklistObject>Outbound_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceServiceTypeReferredTo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Type_Referred_To__c</picklistField>
        <picklistObject>Outbound_Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Reason__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Type__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Session: Referral Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session: Referral Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral</name>
        <label>Create Referral</label>
        <locationX>4037</locationX>
        <locationY>437</locationY>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Member__c</field>
            <value>
                <elementReference>Case_Member.firstSelectedRow.Related_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Session.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Comments__c</field>
            <value>
                <elementReference>General_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact_At_Referred_To_Organisation__c</field>
            <value>
                <elementReference>KeyContactOrganisation.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Reasons_For_Seeking_Assistance__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Other_Reasons_For_Seeking_Assistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presenting_Issues__c</field>
            <value>
                <elementReference>Presenting_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason_For_Seeking_Assistance__c</field>
            <value>
                <elementReference>Get_Session.Case__r.Primary_Reason_For_Seeking_Assistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Acceptance_Date__c</field>
            <value>
                <elementReference>Date_Accepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>Get_Session.Session_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Purpose__c</field>
            <value>
                <elementReference>Referral_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Status__c</field>
            <value>
                <elementReference>Referral_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To_Organisation__c</field>
            <value>
                <elementReference>OutputReferralOrganisation</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Members</name>
        <label>Get Case Members</label>
        <locationX>2996</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReferralScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>2855</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SessionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>3513</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sorry, something went wrong :(&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrgContactScreen</name>
        <label>OrgContactScreen</label>
        <locationX>3722</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReferralInformationScreen</targetReference>
        </connector>
        <fields>
            <name>KeyContactOrganisation</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Key_Contact_At_Referred_To_Organisation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Key Contact at Organisation:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Outbound_Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrgNeededScreen</name>
        <label>OrgNeededScreen</label>
        <locationX>3441</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrgNeededText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;No Organisation Selected&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You need to either select and organisation or create a new organisation by selectiong &quot;If the Organisation does not exist check this box.&quot;&lt;/p&gt;&lt;p&gt;You cannot complete an outbo&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;und referral without a referral organisation.&lt;/p&gt;&lt;p&gt;Please press &quot;&lt;em&gt;Previous&quot;&lt;/em&gt; at the bottom right of the screen and select/create an organisation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Referral_Organisation</name>
        <label>Referral Organisation</label>
        <locationX>3314</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Org_Exists</targetReference>
        </connector>
        <fields>
            <name>ReferredToOrg</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Referred To Organisation:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referred_To_Organisation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Outbound_Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OrgNotExist</name>
            <dataType>Boolean</dataType>
            <fieldText>If the Organisation does not exist check this box.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReferralInformationScreen</name>
        <label>ReferralInformationScreen</label>
        <locationX>3879</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Referral</targetReference>
        </connector>
        <fields>
            <name>ReferralInformationText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please fill in the Referral &lt;/span&gt;Information&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; (if required):&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Type_Referred_to</name>
            <choiceReferences>ChoiceServiceTypeReferredTo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Type Referred to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referral_Purpose</name>
            <fieldText>Referral Purpose:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Presenting_Issues</name>
            <fieldText>Presenting Issues:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The character limit for this field is 255. Please reduce the amount of text in this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Presenting_Issues}) &lt; 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>General_Comments</name>
            <fieldText>General Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReferralScreen</name>
        <label>ReferralScreen</label>
        <locationX>3146</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Referral_Organisation</targetReference>
        </connector>
        <fields>
            <name>ReferralText</name>
            <fieldText>&lt;p&gt;Please input the Referral details (if required):&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Member</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case_Member__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Member:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Case_Members</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Related_Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-6aa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Related Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Age__c&quot;,&quot;guid&quot;:&quot;column-06fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Age&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Age&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Relationship_Type__c&quot;,&quot;guid&quot;:&quot;column-b6f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Relationship&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Relationship Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Referral_Status</name>
            <choiceReferences>ChoiceReferralStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Status:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Referral_Type</name>
            <choiceReferences>ReferralTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referral_Reason</name>
            <choiceReferences>ReferralReasonChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Reason:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Was_the_Referral_accepted</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was the Referral accepted?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Accepted</name>
            <dataType>Date</dataType>
            <fieldText>Date Accepted:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Was_the_Referral_accepted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2446</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CreateOrganisation</name>
        <label>Create Organisation</label>
        <locationX>3443</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>AssignNonExistingOrg</targetReference>
        </connector>
        <flowName>Create_Account</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>inputSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>OutputGeneralComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputPresentingIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputReferral</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputReferralOrganisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputReferralOrganisationContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputReferralPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputServiceReferredTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_SessionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
