DevOps/force-app/main/default/flows/Session_Case_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetCaseIdFromSession</name>
        <label>Set Case Id From Session</label>
        <locationX>1282</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSession.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSession.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0122x0000000MSQAA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseNoteFields</name>
        <label>SetCaseNoteFields</label>
        <locationX>785</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>CaseNote.Activity_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activity_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Travel_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Travel_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Primary_Indirect_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Indirect_Activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Indirect_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indirect_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Indirect_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indirect_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Contact_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactMethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Case_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePlan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseNote.Contains_Medical_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contains_Medical_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Note_Loop</targetReference>
        </connector>
    </assignments>
    <description>Defaulted Indirect Hours and Minutes to 0 and removed Mandatory</description>
    <dynamicChoiceSets>
        <name>ChoicePicklistIndirectHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistIndirectMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Indirect_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistPrimaryIndirectActivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Indirect_Activity__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistTravelHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Hours__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistTravelMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Minutes__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Status Choice Set</description>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Case_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseNoteURL</name>
        <dataType>String</dataType>
        <expression>&apos;https://socialfutures.my.salesforce.com/&apos; &amp; {!CaseNote.Id}</expression>
    </formulas>
    <formulas>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DefaultCaseNote</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case.Program__r.Name} == &quot;Supported TA&quot;, {!SupportedTANote}, IF(isnull({!CaseNote.Notes__c}), &quot;&quot;, {!CaseNote.Notes__c}))</expression>
    </formulas>
    <formulas>
        <name>recordIdFirstThreeCharacters</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <interviewLabel>Session_Case_Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session_Case_Note</label>
    <loops>
        <name>Case_Note_Loop</name>
        <label>Case Note Loop</label>
        <locationX>904</locationX>
        <locationY>229</locationY>
        <collectionReference>ChildSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSession</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseNote</name>
        <label>CreateCaseNote</label>
        <locationX>1103</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Case_Note_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CaseNote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>509</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseNoteScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSession</name>
        <label>Get Session</label>
        <locationX>1105</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCaseIdFromSession</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Note_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CaseNoteScreen</name>
        <label>Case Note</label>
        <locationX>653</locationX>
        <locationY>229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetCaseNoteFields</targetReference>
        </connector>
        <fields>
            <name>CaseNoteText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Case Note&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activity_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ProvidedActivityDateTime</elementReference>
            </defaultValue>
            <fieldText>Activity Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactMethod</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Contact_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Contact Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Summary</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SessionName</elementReference>
            </defaultValue>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contains_Medical_Information</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Contains Medical Information?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NotesText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <extensionName>c:inputRichTextFSC_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DefaultCaseNote</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseNote.Notes__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndirectTimeText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Indirect Time&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Indirect_Activity</name>
            <choiceReferences>ChoicePicklistPrimaryIndirectActivity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Indirect Activity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Indirect_Hours</name>
            <choiceReferences>ChoicePicklistIndirectHours</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Indirect Hours</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Indirect_Minutes</name>
            <choiceReferences>ChoicePicklistIndirectMinutes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Indirect Minutes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Travel_Hours</name>
            <choiceReferences>ChoicePicklistTravelHours</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Travel Hours</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Travel_Minutes</name>
            <choiceReferences>ChoicePicklistTravelMinutes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>00</stringValue>
            </defaultValue>
            <fieldText>Travel Minutes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>1101</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>123</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SupportedTANote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; background-color: transparent; color: windowtext;&quot;&gt;Acronyms&lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: windowtext;&quot;&gt;Homes NSW (HNSW)&amp;nbsp;|&amp;nbsp;&lt;/em&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;Link to Home (L2H) &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: windowtext; background-color: inherit;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: windowtext; font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; color: rgb(68, 68, 68); background-color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Presentation:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;What did you observe &amp;amp; hear? What did they report? How was their mood, affect and engagement?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Assessment:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;What was the presenting issue? What has the participant tried to address? What has worked or not worked?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Risk:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;What is the current risk status of the Participant. Where and what have you reported to whom?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Intervention:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;What interventions did you use? What intervention is working for the participant?&lt;/em&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Referrals:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Who did you make the referral to? Where did you refer them to? Why was the referral made, and when will you follow up?&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;Plan:&amp;nbsp;&lt;/strong&gt;&lt;em style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt; background-color: transparent; color: rgb(68, 68, 68);&quot;&gt;When is the next appointment? What are the participants’ goals and strategies? What actions/tasks did you and the participant agree on?&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Note__c</objectType>
    </variables>
    <variables>
        <name>CasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildSessions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoNotNavigateToCaseURL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProvidedActivityDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DateTimeNow</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedCaseNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
