DevOps/force-app/main/default/flows/Session_Complete_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Session_URL</name>
        <label>Open Session URL</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NewSessionRecordURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Session</name>
        <label>Assign Session</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Session</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildSessions</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_Minutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Services</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_NoShow</name>
        <choiceText>No-show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No-show</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Brokerage_Referral</name>
        <label>Add Brokerage/Referral?</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Session</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Family Connect &amp; Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pathfinders</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reconnect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Getting it Together</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Recovery Connect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>215</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Session.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brokerage_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseNoteNeeded</name>
        <label>Check Case Note Needed</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SHS_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Note Not Needed</defaultConnectorLabel>
        <rules>
            <name>CaseNoteIsNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseNoteNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_Case_Note</targetReference>
            </connector>
            <label>Case Note Is Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>FCS_Program</name>
        <label>FCS Program?</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Session_Case_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Programs</defaultConnectorLabel>
        <rules>
            <name>FCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Program_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Family Connect - Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseNoteScreen</targetReference>
            </connector>
            <label>FCS</label>
        </rules>
    </decisions>
    <decisions>
        <name>SHS_Program</name>
        <label>SHS Program?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>SkipFollowOnActionsDec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SHS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COSNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COS_Assessment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SkipFollowOnActionsDec</name>
        <label>Skip FollowOn Actions?</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Open_Session_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Skip_FollowOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipFollowonActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Skip FollowOn</label>
        </rules>
    </decisions>
    <description>Changed to Contains for COI</description>
    <dynamicChoiceSets>
        <name>Choice_Hours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Hours__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_Minutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Minutes__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NewSessionRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500})) &amp; &apos;/&apos; &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>Session: Complete Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Session: Complete Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_Outcome</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Session</name>
        <label>Update Session</label>
        <locationX>611</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>FCS_Program</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Session</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CreateCaseNoteScreen</name>
        <label>Create Case Note?</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckCaseNoteNeeded</targetReference>
        </connector>
        <fields>
            <name>CreateCaseNoteText</name>
            <fieldText>&lt;p&gt;Would you like to create and link a Case Note to this Session?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseNoteNeeded</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Create Case Note?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Outcome</name>
        <label>Session Outcome</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Session</targetReference>
        </connector>
        <fields>
            <name>SessionOutcomeText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Session Outcome&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What is the outcome of the session?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Outcome</name>
            <choiceReferences>Choice_Completed</choiceReferences>
            <choiceReferences>Choice_Cancelled</choiceReferences>
            <choiceReferences>Choice_NoShow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Outcome:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_Hours</name>
            <choiceReferences>Choice_Hours</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Session.Duration_Hours__c</elementReference>
            </defaultValue>
            <fieldText>Duration Hours:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_Minutes</name>
            <choiceReferences>Choice_Minutes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Session.Duration_Minutes__c</elementReference>
            </defaultValue>
            <fieldText>Duration Minutes:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Brokerage_Referral</name>
        <label>Brokerage/Referral</label>
        <locationX>479</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Session</targetReference>
        </connector>
        <flowName>Session_Brokerage</flowName>
        <inputAssignments>
            <name>ApprovalRequired</name>
            <value>
                <elementReference>BrokerageApprovalRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ApproverId</name>
            <value>
                <elementReference>BrokerageApprover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Details</name>
            <value>
                <elementReference>BrokerageDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputVoucherId</name>
            <value>
                <elementReference>BrokerageVoucherId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentType</name>
            <value>
                <elementReference>BrokeragePaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>REAFunding</name>
            <value>
                <elementReference>BrokerageREAFunding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralCheck</name>
            <value>
                <elementReference>ReferralTrue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralComments</name>
            <value>
                <elementReference>ReferralGeneralComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralPresentingIssues</name>
            <value>
                <elementReference>ReferralPresentingIssues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralPurpose</name>
            <value>
                <elementReference>ReferralPurpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferralStatus</name>
            <value>
                <elementReference>ReferralStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferredOrganisation</name>
            <value>
                <elementReference>ReferralOrganisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferredOrganisationContact</name>
            <value>
                <elementReference>ReferralOrganisationContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceReferredTo</name>
            <value>
                <elementReference>ReferralServiceReferredTo</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>COS_Assessment</name>
        <label>COS Assessment</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>SkipFollowOnActionsDec</targetReference>
        </connector>
        <flowName>Assessment_COS</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Session.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionid</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Session_Case_Note</name>
        <label>Session Case Note</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>SHS_Program</targetReference>
        </connector>
        <flowName>Session_Case_Note</flowName>
        <inputAssignments>
            <name>CasePlan</name>
            <value>
                <elementReference>CasePlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ChildSessions</name>
            <value>
                <elementReference>ChildSessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DoNotNavigateToCaseURL</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProvidedActivityDateTime</name>
            <value>
                <elementReference>Session.Start_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SessionName</name>
            <value>
                <elementReference>Session.Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Session_Services</name>
        <label>Session Services</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_Brokerage_Referral</targetReference>
        </connector>
        <flowName>Session_Services</flowName>
        <inputAssignments>
            <name>inputSession</name>
            <value>
                <elementReference>Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isDEXScoreSession</name>
            <value>
                <elementReference>isDEXScoreSession</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>COSNeeded</assignToReference>
            <name>COSneeded</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Session</assignToReference>
            <name>inputSession</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isDEXScoreSession</assignToReference>
            <name>isDEXScoreSession</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CasePlan</assignToReference>
            <name>Output_CasePlan</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageApprovalRequired</assignToReference>
            <name>OutputApprovalRequired</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageApprover</assignToReference>
            <name>OutputApprover</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageDetails</assignToReference>
            <name>OutputDetails</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralGeneralComments</assignToReference>
            <name>OutputGeneralComments</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokeragePaymentType</assignToReference>
            <name>OutputPaymentType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralPresentingIssues</assignToReference>
            <name>OutputPresentingIssues</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageREAFunding</assignToReference>
            <name>OutputREAFunding</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralTrue</assignToReference>
            <name>OutputReferral</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralOrganisation</assignToReference>
            <name>OutputReferralOrganisation</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralOrganisationContact</assignToReference>
            <name>OutputReferralOrganisationContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralPurpose</assignToReference>
            <name>OutputReferralPurpose</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralStatus</assignToReference>
            <name>OutputReferralStatus</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferralServiceReferredTo</assignToReference>
            <name>OutputServiceReferredTo</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BrokerageVoucherId</assignToReference>
            <name>OutputVoucherId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BrokerageApprovalRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokeragePaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageREAFunding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerageVoucherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildSessions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>COSNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isDEXScoreSession</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>CaseId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralGeneralComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralOrganisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralOrganisationContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralPresentingIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralServiceReferredTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <description>If true, the automatic redirect to the session / question about completing a Case Note will be skipped. Usually set to True if being used as a subflow from another flow</description>
        <name>SkipFollowonActions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
