DevOps/force-app/main/default/flows/Test_PDF_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_CH_Referral</name>
        <label>Generate CH Referral</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>VFPReferralPDF</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>This is a Test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <elementReference>VFP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>program</name>
            <value>
                <elementReference>Program</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmail</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VFPReferralPDF</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_GA4</name>
        <label>Send GA4</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>GA4FormSubmitSender</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apiSecret</name>
            <value>
                <stringValue>2ZAv43KWTEig8scOEPM-Rw</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>formName</name>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>measurementId</name>
            <value>
                <stringValue>G-F4HMW4NEL5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GA4FormSubmitSender</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <description>Care Connect - Hunter Manning</description>
        <name>CCHM</name>
        <choiceText>Care Connect - Hunter Manning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Care Connect - Hunter Manning</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH</name>
        <choiceText>Connecting Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connecting Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>GA4</name>
        <choiceText>GA4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GA4</stringValue>
        </value>
    </choices>
    <choices>
        <name>HS</name>
        <choiceText>headspace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>headspace</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referral</name>
        <choiceText>Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>VFPCCHM</name>
        <choiceText>VFPReferralPDF_CCHM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ReferralPDF_CCHM</stringValue>
        </value>
    </choices>
    <choices>
        <name>VFPCH</name>
        <choiceText>ReferralPDF_CH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ReferralPDF_CH</stringValue>
        </value>
    </choices>
    <choices>
        <name>VFPHS</name>
        <choiceText>ReferralPDF_headspace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ReferralPDF_headspace</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Test_Decision</name>
        <label>Test Decision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Variable_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Referral</defaultConnectorLabel>
        <rules>
            <name>GA4_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GA4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_GA4</targetReference>
            </connector>
            <label>GA4 Test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test: PDF Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test: PDF Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Testing_Screen</name>
        <label>Testing Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Test_Decision</targetReference>
        </connector>
        <fields>
            <name>TestType</name>
            <choiceReferences>GA4</choiceReferences>
            <choiceReferences>Referral</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What are you testing?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Variable_Screen</name>
        <label>Variable Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_CH_Referral</targetReference>
        </connector>
        <fields>
            <name>Program</name>
            <choiceReferences>CCHM</choiceReferences>
            <choiceReferences>CH</choiceReferences>
            <choiceReferences>HS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VFP</name>
            <choiceReferences>VFPCH</choiceReferences>
            <choiceReferences>VFPCCHM</choiceReferences>
            <choiceReferences>VFPHS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VFP</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>daniel.richardson@socialfutures.org.au</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Testing_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
