DevOps/force-app/main/default/flows/Unsuccessful_Contact_Attempt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>MultiSelectFlowValues</name>
        <label>MultiSelectFlowValues</label>
        <locationX>2605</locationX>
        <locationY>1087</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CountingRecords</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>CaseSessionsMulti</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Session_URL</name>
        <label>Open Case URL</label>
        <locationX>3901</locationX>
        <locationY>1079</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>CaseRecordURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Session_URL_CN</name>
        <label>Open Case URL</label>
        <locationX>2428</locationX>
        <locationY>1246</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>CaseRecordURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Ids</name>
        <label>Add Child Ids</label>
        <locationX>2494</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>CaseSessionsMulti</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Related_Cases_to_Duplicate_Session_CaseNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MultiSelectFlowValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_Id</name>
        <label>Add Record Id</label>
        <locationX>3135</locationX>
        <locationY>1095</locationY>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MultiSelectFlowValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Creation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddServiceTerritoryToCollections</name>
        <label>Add Service Territory To Collections</label>
        <locationX>1189</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverServiceTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Information_Service</name>
        <label>Assign Information Service</label>
        <locationX>1628</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>Session.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetProgramType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountingRecords</name>
        <label>CountingRecords</label>
        <locationX>2754</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MultiSelectFlowValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckforMultiChoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id</name>
        <label>Set Record Id</label>
        <locationX>3129</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Creation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConnectingHomeService</name>
        <label>Set Connecting Home Service</label>
        <locationX>1628</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>Session.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.General_Services_Needs_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>32</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.General_Services_Provided__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>32</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetProgramType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetProgramType</name>
        <label>Set Program Type</label>
        <locationX>1848</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>Session.Program_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Program_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewSessionScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSession</name>
        <label>Set Session</label>
        <locationX>3747</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>Session.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session_Creation_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unsuccessful Contact Attempt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Service_Setting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TELE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>05</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Social_Futures_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SocialFuturesSite.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Session_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session.Contact_Attempt_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Attempt_Outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SessionId may be used by flows calling this as a subflow</description>
        <name>SetSessionId</name>
        <label>Set Session Id</label>
        <locationX>3587</locationX>
        <locationY>1749</locationY>
        <assignmentItems>
            <assignToReference>SessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSessionParticipantFields</name>
        <label>Set Session Participant Fields</label>
        <locationX>3553</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>SessionParticipant.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionParticipant.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Session_Participant</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceCancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLocationOffsiteOutreach</name>
        <choiceText>Offsite / Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OffsiteOutreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLocationSocialFuturesOffice</name>
        <choiceText>Social Futures Site / Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SocialFuturesSite</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNoShow</name>
        <choiceText>No-show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No-show</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceScheduled</name>
        <choiceText>Scheduled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceActiveHolding</name>
        <choiceText>Active Holding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>222</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceAdvocacy</name>
        <choiceText>Advocacy/Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceBrokerage</name>
        <choiceText>Brokerage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>215</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceBusinessPlanning</name>
        <choiceText>Business Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>90</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCaseManagement</name>
        <choiceText>Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCasePlanCompleted</name>
        <choiceText>Case Plan Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>223</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceChildYouthFocusedGroups</name>
        <choiceText>Child/Youth focused groups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCommunityCapacityBuilding</name>
        <choiceText>Community Capacity Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceCounselling</name>
        <choiceText>Counselling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceEducation</name>
        <choiceText>Education and Skills Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFacilitateEmploymentPathways</name>
        <choiceText>Facilitate Employment Pathways</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFamilyCapacityBuilding</name>
        <choiceText>Family Capacity Building</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFamilyGroupConferencing</name>
        <choiceText>Family Group Conferencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Group Conferencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceFamilyMediation</name>
        <choiceText>Family Mediation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>92</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceGoalSetting</name>
        <choiceText>Goal Setting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>93</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceHousingSupport</name>
        <choiceText>Housing Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Housing Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousAdvocacy</name>
        <choiceText>Indigenous Advocacy / Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>151</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousHealingWorkshops</name>
        <choiceText>Indigenous Healing Workshops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>152</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousSocialParticipation</name>
        <choiceText>Indigenous Social Participation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>150</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndigenousSupportedPlaygroups</name>
        <choiceText>Indigenous Supported Playgroups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>153</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIndustryEngagement</name>
        <choiceText>Reverse Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reverse Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceInformation</name>
        <choiceText>Information/Advice/Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceInhouseTrainingProgram</name>
        <choiceText>In-house Training Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In-house Training Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceIntake</name>
        <choiceText>Intake/assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Intensive Support</description>
        <name>ChoiceServiceIntensiveSupport</name>
        <choiceText>Intensive Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceMaterialAid</name>
        <choiceText>Material Aid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>99</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceMentoring</name>
        <choiceText>Mentoring / Peer Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceOutboundReferral</name>
        <choiceText>Outbound Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceOutreach</name>
        <choiceText>Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceParentingPrograms</name>
        <choiceText>Parenting Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>154</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServicePostEmployment</name>
        <choiceText>Post-Employment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post-Employment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServicePreEmployment</name>
        <choiceText>Pre-Employment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Employment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceReferral</name>
        <choiceText>Referral Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>224</stringValue>
        </value>
    </choices>
    <choices>
        <description>Service Review</description>
        <name>ChoiceServiceServiceReview</name>
        <choiceText>Service Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>143</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceSocialParticipation</name>
        <choiceText>Social Participation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>98</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceServiceSupportedPlaygroups</name>
        <choiceText>Supported Playgroups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>155</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AIHW_Check</name>
        <label>AIHW Check</label>
        <locationX>874</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not AIHW</defaultConnectorLabel>
        <rules>
            <name>AIHW_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionPeriodMissing</targetReference>
            </connector>
            <label>AIHW Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Program an AIHW Reporter?</description>
        <name>AIHW_Reporter</name>
        <label>AIHW Reporter?</label>
        <locationX>697</locationX>
        <locationY>1096</locationY>
        <defaultConnector>
            <targetReference>GetServiceTerritories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AIHWReporterScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforMultiChoice</name>
        <label>CheckforMultiChoice</label>
        <locationX>2925</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Add_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAddingParticipantToSession</name>
        <label>Check If Adding Participant To Session</label>
        <locationX>3341</locationX>
        <locationY>1567</locationY>
        <defaultConnector>
            <targetReference>CheckSkipFollowonActions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>AddParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddParticipantToSession.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSessionParticipantFields</targetReference>
            </connector>
            <label>Add Participant</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSiteOrLocationEntered</name>
        <label>Check Site Or Location Entered</label>
        <locationX>2074</locationX>
        <locationY>1087</locationY>
        <defaultConnector>
            <targetReference>FindChildCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Site_And_Location_Note_Entered</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>SocialFuturesSite.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SocialFuturesSite.value</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SelectSiteOrLocationScreen</targetReference>
            </connector>
            <label>Site And Location Note Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSkipFollowonActions</name>
        <label>Check Skip Followon Actions</label>
        <locationX>3340</locationX>
        <locationY>1351</locationY>
        <defaultConnector>
            <targetReference>Session_Creation_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip_Followon_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkipFollowonActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Skip Followon Actions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Case_Check</name>
        <label>Child Case Check</label>
        <locationX>2273</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Child_Cases_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Child Cases</defaultConnectorLabel>
        <rules>
            <name>No_Child_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindChildCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id</targetReference>
            </connector>
            <label>No Child Cases</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the previous months collection period missing?</description>
        <name>CollectionPeriodMissing</name>
        <label>Collection Period Missing</label>
        <locationX>1022</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>MissingCPScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CPCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Latest_Collection_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Closed</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case is closed</description>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed?</label>
        <locationX>1022</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>LoopOverServiceTerritories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClosedScreen</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProgramSpecificServices</name>
        <label>Program Specific Services</label>
        <locationX>1385</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>New_Case_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-SHS, PF, FCS</defaultConnectorLabel>
        <rules>
            <name>FamilyConnect_SupportServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Connect &amp; Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Information_Service</targetReference>
            </connector>
            <label>FamilyConnect&amp;SupportServices</label>
        </rules>
        <rules>
            <name>PathfindersFCSServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pathfinders FCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Information_Service</targetReference>
            </connector>
            <label>PathfindersFCSServices</label>
        </rules>
        <rules>
            <name>ConnectingHomeServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Program__r.AIHW_Reporter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetConnectingHomeService</targetReference>
            </connector>
            <label>ConnectingHomeServices</label>
        </rules>
    </decisions>
    <description>Adjusted for COI</description>
    <dynamicChoiceSets>
        <name>ChoiceCCNoShow</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>No_Show__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceCPI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Participation_Indicator__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceFinal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Final__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceModality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modality__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceParticipants</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Participants__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistContactAttemptOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Attempt_Outcome__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDurationHours</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Hours__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistDurationMinutes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration_Minutes__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistFamilyServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistGeneralServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>General_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistHousingServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Housing_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistServiceSetting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Setting__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoicePicklistSpecialistServices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Specialised_Services_Needs_Identified__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceVenue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Venue__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetChildCases</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Reason__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Type__c</picklistField>
        <picklistObject>Session__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500})) &amp; &apos;/&apos; &amp; {!recordId}</expression>
    </formulas>
    <formulas>
        <name>CheckBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(TRIM({!CaseSessionsMulti}))</expression>
    </formulas>
    <formulas>
        <description>Checks for Latest Collection Period</description>
        <name>CPCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(MONTH(TODAY()) - MONTH({!GetCase.Latest_Collection_Period__c}) == -11, true,
IF(MONTH(TODAY()) - MONTH({!GetCase.Latest_Collection_Period__c}) == 1, true,
IF(MONTH(TODAY()) - MONTH({!GetCase.Latest_Collection_Period__c}) == 0, true,false)))</expression>
    </formulas>
    <formulas>
        <name>DefaultServiceTerritory</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$User.Primary_Service_Location_Id_18__c})), {!$User.Primary_Service_Location_Id_18__c}, null)</expression>
    </formulas>
    <interviewLabel>Unsuccessful Contact Attempt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unsuccessful Contact Attempt</label>
    <loops>
        <name>LoopOverServiceTerritories</name>
        <label>Loop Over Service Territories</label>
        <locationX>1191</locationX>
        <locationY>1088</locationY>
        <assignNextValueToReference>ServiceTerritory</assignNextValueToReference>
        <collectionReference>GetServiceTerritories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddServiceTerritoryToCollections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProgramSpecificServices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Session_Creation_Loop</name>
        <label>Session Creation Loop</label>
        <locationX>3348</locationX>
        <locationY>1087</locationY>
        <collectionReference>CaseSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetSession</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Open_Session_URL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Note</name>
        <label>Create Case Note</label>
        <locationX>3347</locationX>
        <locationY>1749</locationY>
        <connector>
            <targetReference>CheckIfAddingParticipantToSession</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Date_Time__c</field>
            <value>
                <elementReference>Session.Start_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Session_Creation_Loop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Method__c</field>
            <value>
                <stringValue>Phone Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Hours__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Minutes__c</field>
            <value>
                <stringValue>00</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Contact_Attempt_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>SessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lock 16 Hours After Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <stringValue>Unsuccessful Contact Attempt</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Note_CN</name>
        <label>Create Case Note</label>
        <locationX>2309</locationX>
        <locationY>1246</locationY>
        <connector>
            <targetReference>Open_Session_URL_CN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Date_Time__c</field>
            <value>
                <elementReference>Start_Date_Time_CN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Method__c</field>
            <value>
                <stringValue>Phone Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Hours__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_Minutes__c</field>
            <value>
                <stringValue>00</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Contact_Attempt_Outcome_CN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lock 16 Hours After Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary__c</field>
            <value>
                <stringValue>Unsuccessful Contact Attempt</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Session_Participant</name>
        <label>Create Session Participant</label>
        <locationX>3552</locationX>
        <locationY>1357</locationY>
        <connector>
            <targetReference>CheckSkipFollowonActions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>SessionParticipant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateSession</name>
        <label>Create Session</label>
        <locationX>3748</locationX>
        <locationY>1757</locationY>
        <connector>
            <targetReference>SetSessionId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>Session</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindChildCases</name>
        <label>FindChildCases</label>
        <locationX>2179</locationX>
        <locationY>1087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Case_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>495</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AIHW_Reporter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceTerritories</name>
        <label>Get Service Territories</label>
        <locationX>882</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AIHW_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AIHWReporterScreen</name>
        <label>AIHW Reporter Screen</label>
        <locationX>706</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AIHWReporterText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;This Program is an AIHW Reporter&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The &lt;u&gt;Unsuccessful Contact Attempt&lt;/u&gt; function is only available to this program once it is in Service Delivery (an Allocated Case).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Child_Cases_Screen</name>
        <label>Child Cases Screen</label>
        <locationX>2394</locationX>
        <locationY>1087</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Child_Ids</targetReference>
        </connector>
        <fields>
            <name>Select_Related_Cases_to_Duplicate_Session_CaseNote</name>
            <choiceReferences>GetChildCases</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Related Cases to Duplicate Session/CaseNote:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NoneSelectedText</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;If none are available or you want to select none then press next to continue.&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClosedScreen</name>
        <label>ClosedScreen</label>
        <locationX>1027</locationX>
        <locationY>1255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosedText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;This Case is Closed.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Session &amp;amp; Case Note cannot be recorded for a Case that has been previously closed and most likely already reported to our funders. Please create a new Case for the Participant and then record the Session/Case Note from there.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error</label>
        <locationX>2605</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the below text, it may explain the problem in a way you can fix by pressing &quot;Previous&quot; and changing your entered data. Otherwise, please screenshot this error, and send it to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;IT Support.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MissingCPScreen</name>
        <label>MissingCPScreen</label>
        <locationX>1030</locationX>
        <locationY>702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingCPText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;This Case is missing a Collection Period.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A Session &amp;amp; Case Note cannot be recorded for this Case as it has been more than 2 Months since the last Collection Period.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Cases Collection Periods have already been uploaded and so this case needs to be closed and a new case created for the new Collection Period.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Case_Note</name>
        <label>New Case Note</label>
        <locationX>2152</locationX>
        <locationY>1246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Note_CN</targetReference>
        </connector>
        <fields>
            <name>Start_Date_Time_CN</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ProvidedStartDateTime</elementReference>
            </defaultValue>
            <fieldText>Start Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Attempt_Outcome_CN</name>
            <choiceReferences>ChoicePicklistContactAttemptOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Attempt Outcome</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewSessionScreen</name>
        <label>New Session</label>
        <locationX>1969</locationX>
        <locationY>1085</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckSiteOrLocationEntered</targetReference>
        </connector>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ProvidedStartDateTime</elementReference>
            </defaultValue>
            <fieldText>Start Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Attempt_Outcome</name>
            <choiceReferences>ChoicePicklistContactAttemptOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Attempt Outcome</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddParticipantToSession</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Add the Participant to the Session</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Do Not add the Participant to the Session</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Participant To Session?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LocationText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Location&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &lt;b&gt;Social Futures Site / Office&lt;/b&gt; and then choose one of our office locations from the picklist, or select &lt;b&gt;Offsite / Outreach &lt;/b&gt;before recording details of the offsite location in the box below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SocialFuturesSite</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>ServiceTerritoryNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>ServiceTerritoryIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>DefaultServiceTerritory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Social Futures Site List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SectionSeparator</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to continue to the Next Page&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectSiteOrLocationScreen</name>
        <label>Select Site Or Location</label>
        <locationX>2083</locationX>
        <locationY>925</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectSiteOrLocationText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;ERROR&lt;/strong&gt;: Please select a Social Futures Site where the session was held.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Press &quot;Previous&quot; to review and amend.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1084</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseSessions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSessionsMulti</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChildSessions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProvidedSessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CaseId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Session</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <description>Used to pass this session&apos;s start date onto subsequent flows</description>
        <name>SessionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SessionParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Participant__c</objectType>
    </variables>
    <variables>
        <description>If true, the automatic redirect to the session / question about completing a Case Note will be skipped. Usually set to True if being used as a subflow from another flow</description>
        <name>SkipFollowonActions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
